.missing-test-alert {
  text-align: center;
  color: #c33b3b;
  font-weight: 500;
}

.samples-to-collect {
  padding: 15px 0;
}

.table th,
.table td {
  padding: 0.35rem;
}

.colored-button {
  border: solid 1px rgb(80, 138, 196);
  background-color: rgb(80, 138, 196);
  color: #fff;
}