<div
  class="store-settings"
  *ngIf="{
    mappingSource: mappingSource$ | async,
    paymentCategories: paymentCategories$ | async
  } as params"
>
  <mat-tab-group>
    <mat-tab label="Drugs">
      <ng-template matTabContent>
        <app-drugs-list></app-drugs-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Generic Drugs">
      <ng-template matTabContent>
        <app-generic-drugs-list></app-generic-drugs-list>
      </ng-template> </mat-tab
    ><mat-tab label="Units of measure">
      <ng-template matTabContent>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="!params?.mappingSource"
        ></mat-progress-bar>
        <app-units-of-measure-settings
          *ngIf="params?.mappingSource"
          [mappingSource]="params?.mappingSource"
        ></app-units-of-measure-settings>
      </ng-template>
    </mat-tab>
    <mat-tab label="Ledgers">
      <ng-template matTabContent>
        <app-ledgers-list></app-ledgers-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Re-orders levels">
      <ng-template matTabContent>
        <app-re-order-level-items-list></app-re-order-level-items-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Suppliers">
      <ng-template matTabContent>
        <app-suppliers-list></app-suppliers-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="System settings">
      <ng-template matTabContent>
        <app-system-settings-list
          [key]="'iCareConnect.pharmacy.'"
        ></app-system-settings-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Price list">
      <ng-template matTabContent>
        <app-price-list-items-container
          [paymentCategories]="params?.paymentCategories?.setMembers"
          *ngIf="params?.paymentCategories"
        ></app-price-list-items-container>
      </ng-template>
    </mat-tab>

    <mat-tab label="User management">
      <ng-template matTabContent>
        <app-store-user-management></app-store-user-management>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
