<div class="transaction-container">
  <mat-card>
    <mat-form-field appearance="fill" class="w-25">
      <input  autocomplete="off" type="text" matInput placeholder="Search" />
    </mat-form-field>

    <table class="table">
      <tr>
        <td>#</td>
        <td>Transaction ID</td>
        <td>Item</td>
        <td>Batch No</td>
        <td>Quantity</td>
        <td>Action</td>
        <td>Date</td>
        <td>Creator</td>
      </tr>
      <tr>
        <td>1</td>
        <td>GNGE-ME322</td>
        <td>Adrenaline 1mg in 1ml</td>
        <td>TRRH-TMP</td>
        <td>100</td>
        <td>ISSUED TO DISPENSING STORE</td>
        <td>02 Sept 2020 (6 days ago)</td>
        <td>Johnbosco Adam</td>
      </tr>
      <tr>
        <td>2</td>
        <td>GNGE-ME322</td>
        <td>Adrenaline 1mg in 1ml</td>
        <td>TRRH-TMP</td>
        <td>100</td>
        <td>RECEIVED FROM BIMA STORE</td>
        <td>02 Sept 2020 (6 days ago)</td>
        <td>Johnbosco Adam</td>
      </tr>
      <tr>
        <td>3</td>
        <td>GNGE-ME322</td>
        <td>Adrenaline 1mg in 1ml</td>
        <td>TRRH-TMP</td>
        <td>100</td>
        <td>RECEIVED FROM BIMA STORE</td>
        <td>02 Sept 2020 (6 days ago)</td>
        <td>Johnbosco Adam</td>
      </tr>
      <tr>
        <td>4</td>
        <td>GNGE-ME322</td>
        <td>Adrenaline 1mg in 1ml</td>
        <td>TRRH-TMP</td>
        <td>100</td>
        <td>RECEIVED FROM BIMA STORE</td>
        <td>02 Sept 2020 (6 days ago)</td>
        <td>Johnbosco Adam</td>
      </tr>
    </table>
  </mat-card>
</div>
