.orders-summary-container {
  height: 300px;
  overflow: auto;
  padding: 15px;
  margin-bottom: 15px;
}

.save-technician-btn {
  float: right;
}

.close-dialog-btn {
  margin-top: 8px;
  float: right;
}

.allocation-table-header {
  background-color: #797979;
  font-weight: 600;
}
