<div>
  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab label="Laboratory">
      <div class="mat-tab-container" *ngIf="selectedTab.value == 0">
        <app-patient-lab-results-summary
          [observations]="observations"
          [patientVisit]="patientVisit"
          [forConsultation]="forConsultation"
          [investigationAndProceduresFormsDetails]="
            investigationAndProceduresFormsDetails
          "
          [iCareGeneralConfigurations]="iCareGeneralConfigurations"
        ></app-patient-lab-results-summary>
      </div>
    </mat-tab>
    <mat-tab label="Procedures">
      <div class="mat-tab-container" *ngIf="selectedTab.value == 1">
        <app-patient-procedures-summary
          [patientVisit]="patientVisit"
          [investigationAndProceduresFormsDetails]="
            investigationAndProceduresFormsDetails
          "
          [forConsultation]="forConsultation"
          [provider]="provider"
          [orderTypes]="orderTypes"
        ></app-patient-procedures-summary></div
    ></mat-tab>
    <mat-tab label="Radiology">
      <div class="mat-tab-container" *ngIf="selectedTab.value == 2">
        <app-patient-radiology-summary
          [patientVisit]="patientVisit"
          [investigationAndProceduresFormsDetails]="
            investigationAndProceduresFormsDetails
          "
          [forConsultation]="forConsultation"
          [provider]="provider"
          [orderTypes]="orderTypes"
        ></app-patient-radiology-summary></div
    ></mat-tab>
  </mat-tab-group>
</div>
