.diagnosis-forms {
  padding: 15px 0;
}

.selected-diagnoses {
  max-height: 400px;
  overflow: auto;
}

::ng-deep .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}
