<div *ngIf="{ diagnoses: diagnoses$ | async } as params">
  <div class="d-flex justify-content-between p-3">
    <div>
      <div class="h5">Patient diagnosis</div>
    </div>
    <div>
      <button
        mat-flat-button
        color="primary"
        (click)="onOpenNewDiagnosisModal($event, patient, diagnosisForm, visit)"
      >
        <mat-icon>add</mat-icon>
        <span class="ml-2">Add Diagnosis</span>
      </button>
    </div>
  </div>
  <div>
    <mat-progress-bar
      *ngIf="!params?.diagnoses"
      mode="indeterminate"
    ></mat-progress-bar>
    <ng-container *ngIf="diagnosisFormDetails && params?.diagnoses">
      <div class="selected-diagnoses">
        <ng-container>
          <app-active-diagnoses
            [diagnoses]="params?.diagnoses"
            [patient]="patient"
            [diagnosisFormDetails]="diagnosisFormDetails"
          ></app-active-diagnoses>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
