<div
  *ngIf="{
    settingCurrentLocationStatus: settingCurrentLocationStatus$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="loadingVisit$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-toolbar>
    <button
      mat-icon-button
      (click)="onBack($event)"
      matTooltip="Go to Home page"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="ml-2">Visits</span>
  </mat-toolbar>
  <div *ngIf="!params?.settingCurrentLocationStatus">
    <h3>Ultrasound Patients</h3>
    <app-patient-list
      [patients]="patients | filter:'ultrasound'"
      [itemsPerPage]="10"
      [isTabularList]="true"
      (selectPatient)="onSelectPatient($event)"
    ></app-patient-list>
    <h3>X-Ray Patients</h3>
    <app-patient-list
      [patients]="patients | filter:'x-ray'"
      [itemsPerPage]="10"
      [isTabularList]="true"
      (selectPatient)="onSelectPatient($event)"
    ></app-patient-list>
</div>

</div>
