<!-- <table class="w-100" mat-table [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let column of columns" [matColumnDef]="column?.id">
    <th mat-header-cell *matHeaderCellDef [attr.width]="column.width">
      {{ column?.label }}
    </th>
    <td mat-cell *matCellDef="let row; let i = index">
      {{
        column.isIndexColumn
          ? i + 1
          : column.isCurrency
          ? (row[column.id] | currency: "TZS":"":".0")
          : column.isDate
          ? (row[column.id] | date)
          : row[column.id]
      }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="table__row"
  ></tr>
</table> -->

<div class="row">
  <div class="col-12">
    <div class="py-4" style="text-align: center">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> # </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    
        <!-- Created Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt | date }} </td>
        </ng-container>
    
        <!-- Received By Column -->
        <ng-container matColumnDef="receivedBy">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Received By </th>
          <td mat-cell *matCellDef="let element"> {{element.receivedBy}} </td>
        </ng-container>
    
        <!-- Creator Column -->
        <ng-container matColumnDef="creator">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Initiated By </th>
          <td mat-cell *matCellDef="let element"> {{element.creator}} </td>
        </ng-container>
    
        <!-- Payment Type Column -->
        <ng-container matColumnDef="paymentType">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Payment Type </th>
          <td mat-cell *matCellDef="let element"> {{element.paymentType}} </td>
        </ng-container>
    
        <!-- Reference Number Column -->
        <ng-container matColumnDef="referenceNumber">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Control Number </th>
          <td mat-cell *matCellDef="let element"> {{element.referenceNumber}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
    
        <!-- Print Column (No Title) -->
        <ng-container matColumnDef="print">
          <th mat-header-cell *matHeaderCellDef [style.background-color]="color"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button *ngIf="element.referenceNumber" (click)="printElement(element)">
              <mat-icon>{{ element === expandedElement ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
    
          </td>
    
        </ng-container>
    
        <!-- Expanded Content for Gepg Details -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
              <table>
                <thead>
                  <tr>
                    <th>Receipt Number</th>
                    <th>Control Number</th>
                    <th>Bill Amount</th>
                    <th>Paid Amount</th>
                    <th>Payment Date</th>
                    <th>Payer Number</th>
                    <th>Payer Name</th>
                    <th>PSP Name</th>
                    <th>A/C Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ element.receiptNumber }}</td>
                    <td>{{ element.referenceNumber }}</td>
                    <td>{{ element.billAmount | currency: 'TZS' }}</td>
                    <td>{{ element.paidAmount | currency: 'TZS' }}</td>
                    <td>{{ element.gepgpaymentDate }}</td>
                    <td>{{ element.payerNumber }}</td>
                    <td>{{ element.payerName }}</td>
                    <td>{{ element.pspName }}</td>
                    <td>{{ element.accountNumber }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </ng-container>
    
        <!-- Header and data rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
        <!-- Row Data -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                  'pale-green': row.referenceNumber && (row.status === 'PAID' || !row.status),
                  'white-background': !row.referenceNumber || row.status !== 'PAID'
                }" (click)="onRowClick(row)" class="example-element-row"
          [class.example-expanded-row]="expandedElement === row">
        </tr>
    
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    
      </table>
    </div>
  </div>
</div>



<!-- <div class="w-100 my-1">
  <button
    class="float-right"
    mat-flat-button
    color="primary"
    (click)="printDiv()"
  >
    <mat-icon>print</mat-icon>
    Print Receipt
  </button>
</div> -->
<!-- style="visibility: hidden" -->
<div style="display: none;" id="print-section">
  <div
    *ngIf="facilityLogoBase64"
    style="text-align: center; margin-left: 0px !important"
  >
    <img src="{{ facilityLogoBase64 }}" width="60" />
  </div>
  <table
    class="table"
    style="
      margin-left: 0px !important;
      width: 100% !important;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    "
  >
    <tr>
      <td colspan="3" style="text-align: center">
        <h3>{{ facilityDetailsJson?.name }}</h3>
        <h5>{{ facilityDetailsJson?.address }}</h5>
        <h5>{{ facilityDetailsJson?.phone }}</h5>
      </td>
    </tr>
    <tr style="text-align: left; font-size: 0.7em">
      <td>Patient</td>
      <td colspan="2" style="color: black">
        <b>{{ currentPatient?.name }}</b>
      </td>
    </tr>
    <tr style="text-align: left; font-size: 0.7em">
      <td>MRN</td>
      <td colspan="2" style="color: black">
        <b>
          {{
            currentPatient?.MRN ||
              currentPatient?.patient?.identifiers[0]?.identifier
          }}
        </b>
      </td>
    </tr>

    <tr style="border-bottom: 1px solid black !important; font-size: 0.7em;">
      <td colspan="2"><b>Item(s)</b></td>
      <td><b>Amount</b></td>
    </tr>
    <ng-container *ngFor="let payment of payments">
      <tr *ngFor="let item of payment?.items" style="font-size: 0.7em">
        <td colspan="2" style="text-align: left">
          {{ item?.paymentItem?.item?.name }}
        </td>
        <td style="text-align: right">
          {{ item?.paymentItem?.amount }}
        </td>
      </tr>
    </ng-container>

    <tr style="background-color: black !important; color: white !important; font-size: 0.7em;">
      <td colspan="2" style="text-align: left">
        <b>Total Amount </b>
      </td>
      <td style="text-align: right">
        <b>{{ totalBill }}</b>
      </td>
    </tr>
  </table>
</div>
