.selected-patient {
  background-color: #b6e6ed;
}
td {
  outline: none;
}

.clinical-history-summary a {
  color: #669999 !important;
  cursor: pointer;
}

.clinical-history-summary span {
  font-weight: 600;
}

.clinical-notes-btn {
  padding: 6px 0px;
}

.clinical-history-summary div {
  padding: 15px;
}
