// .concept-list {
//     height: 320px;
//     overflow: auto;
// }

.custom-selection {
  width: 49%;
  border: solid 1px #eee;
  height: 450px;
  padding: 16px 4px;
}

ul li {
  list-style-type: none !important;
  padding: 3px;
  cursor: pointer;
  margin-left: -24px;
}
ul li:hover {
  color: #2a8fd1;
}

.selected-list {
  color: #2a8fd1;
}
.multiple-selection-header {
  background-color: #eee;
  padding: 6px;
  margin: -16px -4px 4px;
}

.item-in-list {
  border-bottom: solid 1px #eee;
  font-size: 0.8rem !important;
}

.ul-listed-items {
  margin-left: -10px;
  height: 320px;
  overflow: auto;
}

.retired {
  cursor: not-allowed !important;
  color: red;
  text-decoration: line-through !important;
}
