<div
  class="table-responsive"
  *ngIf="{
    patientDrugOrdersStatuses: patientDrugOrdersStatuses$ | async,
    activeVisit: activeVisit$ | async
  } as params"
>

  <div *ngIf="(params?.patientDrugOrdersStatuses && visit) || !visit">
    <p
      class="ml-2 text-left text-danger"
      *ngIf="
        params?.patientDrugOrdersStatuses &&
        params?.patientDrugOrdersStatuses['error']
      "
    >
      {{ params?.patientDrugOrdersStatuses["error"]["error"]["message"] }}
    </p>
    <div class="row" *ngIf="useNormalTable && drugOrders?.length">
      <div class="col-12 d-flex justify-content-end align-items-center mb-2">
        <button
          class="mr-2"
          mat-flat-button
          color="primary"
          (click)="onNotifyDoctor($event)"
        >
          <mat-icon>notifications</mat-icon>
          Notify Doctor
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="onPrintPrescriptions($event, drugOrders)"
          cdkFocusInitial
        >
          <mat-icon>print</mat-icon>
          Print Verified Prescriptions
        </button>
      </div>
    </div>
    <div class="p-2">
      <table class="table" *ngIf="useNormalTable && drugOrders?.length">
        <thead>
          <tr>
            <th>SN</th>
            <th>Drug</th>
            <th>Instructions</th>
            <th>Prescribed By</th>
            <th>Date & Time</th>
            <th>Quanity</th>
            <th>Payment status</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let drugOrder of drugOrders; let count = index">
            <tr
              [ngClass]="{
                dispensed:
                  params?.patientDrugOrdersStatuses &&
                  params?.patientDrugOrdersStatuses[drugOrder?.uuid] &&
                  params?.patientDrugOrdersStatuses[drugOrder?.uuid][
                    'status'
                  ] === 'DISPENSED',
                paid: drugOrder?.paid || params?.activeVisit?.isEnsured
              }"
            >
              <td>{{ count + 1 }}</td>
              <td>
                {{ drugOrder?.drug?.display }}
              </td>
              <td>
                {{ drugOrder?.instructions }}
              </td>
              <td>{{ drugOrder?.orderer?.display }}</td>
              <td>{{ drugOrder?.dateActivated | date: "medium" }}</td>
              <td>{{ drugOrder?.quantity }}</td>
              <td>
                {{
                  drugOrder?.paid || params?.activeVisit?.isEnsured
                    ? "PAID"
                    : "NOT PAID/COVERED"
                }}
              </td>
              <td>
                <button
                  [disabled]="
                    (params?.patientDrugOrdersStatuses &&
                      params?.patientDrugOrdersStatuses[drugOrder?.uuid] &&
                      params?.patientDrugOrdersStatuses[drugOrder?.uuid][
                        'status'
                      ] === 'DISPENSED') ||
                    (!drugOrder?.paid && !params?.activeVisit?.isEnsured)
                  "
                  mat-flat-button
                  color="primary"
                  class="mt-1 mb-1 mr-1"
                  (click)="
                    onSelectAction(
                      $event,
                      { actionCode: 'DISPENSE_PRESCRIPTION' },
                      drugOrder
                    )
                  "
                >
                  {{
                    params?.patientDrugOrdersStatuses &&
                    params?.patientDrugOrdersStatuses[drugOrder?.uuid] &&
                    params?.patientDrugOrdersStatuses[drugOrder?.uuid][
                      "status"
                    ] === "DISPENSED"
                      ? "Dispensed"
                      : "Dispense"
                  }}
                </button>
              </td>
              <td>
                <button
                  (click)="
                    onOpenMessageConstruction(
                      $event,
                      drugOrder,
                      currentPatient,
                      generalMetadataConfigurations
                    )
                  "
                  [disabled]="
                    (params?.patientDrugOrdersStatuses &&
                      params?.patientDrugOrdersStatuses[drugOrder?.uuid] &&
                      params?.patientDrugOrdersStatuses[drugOrder?.uuid][
                        'status'
                      ] !== 'DISPENSED') ||
                    (!drugOrder?.paid && !params?.activeVisit?.isEnsured)
                  "
                  mat-stroked-button
                >
                  SMS
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <table
      *ngIf="useNormalTable && !drugOrders?.length"
      class="table table-striped"
    >
      <tbody>
        <tr>
          <td>No dispensions found</td>
        </tr>
      </tbody>
    </table>
  
    <table
      *ngIf="!useNormalTable"
      class="w-100"
      mat-table
      [dataSource]="dataSource"
      matSort
    >

    </table>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
  </div>
</div>