.title {
  color: #bfbfbf;
}

.qoute-card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
}
