<ng-container *ngIf="{ batchsets: batchsets$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.batchsets && useExistingBatchSet"
  ></mat-progress-bar>
  <app-shared-batch-entry-fields
    *ngIf="params?.batchsets || !useExistingBatchSet"
    [options]="params?.batchsets"
    [nameFieldName]="'Batch set'"
    [hideDescription]="useExistingBatchSet ? true : hideDescription"
    [dropDown]="useExistingBatchSet"
    (formData)="onGetFormData($event, params?.batchsets)"
  ></app-shared-batch-entry-fields>
</ng-container>
