<div
  class="requisition-container"
  *ngIf="{
    requisitions: requisitions$ | async,
    stores: stores$ | async,
    currentStore: currentStore$ | async,
    stockableItems: stockableItems$ | async,
    loadingRequisitions: loadingRequisitions$ | async,
    referenceTagsThatCanRequestFromMainStoreConfigs:
      referenceTagsThatCanRequestFromMainStoreConfigs$ | async,
    referenceTagsThatCanRequestFromPharmacyConfigs:
      referenceTagsThatCanRequestFromPharmacyConfigs$ | async,
    mainStoreLocationTagUuid: mainStoreLocationTagUuid$ | async,
    pharmacyLocationTagUuid: pharmacyLocationTagUuid$ | async,
    requisitionCodeFormat: requisitionCodeFormat$ | async
  } as params"
>
  <mat-card class="border">
    <div class="d-flex justify-content-between">
      <div class="w-50">
        <div class="d-flex">
          <div class="">
            <app-invoice-filters
              (searchingText)="onGetSearchingText($event)"
              (definedEndDate)="onGetEndDate($event)"
              (definedStartDate)="onGetStartDate($event)"
            ></app-invoice-filters>
          </div>
          <mat-form-field class="w-25 ml-2" appearance="fill">
            <mat-label>Filter </mat-label>
            <mat-select (selectionChange)="onSelectStatus($event)">
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button
        class="{{
          showRequisitionForm ? 'float-right button-round' : 'button-round'
        }}"
        [disabled]="
          !params?.pharmacyLocationTagUuid ||
          params?.pharmacyLocationTagUuid == 'none' ||
          !params?.mainStoreLocationTagUuid ||
          params?.mainStoreLocationTagUuid == 'none' ||
          !params?.referenceTagsThatCanRequestFromPharmacyConfigs ||
          !params?.referenceTagsThatCanRequestFromMainStoreConfigs
        "
        (click)="onNewRequest($event, params)"
        mat-flat-button
        color="primary"
        style="height: 40px"
      >
        {{ showRequisitionForm ? "Hide Request Form" : "New Request" }}
      </button>
    </div>
    <div class="col-12">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="
          !params?.pharmacyLocationTagUuid ||
          !params?.mainStoreLocationTagUuid ||
          !params?.referenceTagsThatCanRequestFromPharmacyConfigs ||
          !params?.referenceTagsThatCanRequestFromMainStoreConfigs
        "
      ></mat-progress-bar>
      <div
        *ngIf="
          params?.pharmacyLocationTagUuid == 'none' ||
          params?.mainStoreLocationTagUuid == 'none' ||
          params?.referenceTagsThatCanRequestFromPharmacyConfigs == 'none' ||
          params?.referenceTagsThatCanRequestFromMainStoreConfigs == 'none'
        "
        class="alert alert-warning"
        role="alert"
      >
        Contact IT, some settings are missing
      </div>
    </div>

    <!-- Rest of your code -->

    <div *ngIf="!showRequisitionForm">
      <!-- Rest of your code -->
    </div>
    <div *ngIf="showRequisitionForm && params?.requisitionCodeFormat">
      <!-- Rest of your code -->
    </div>
  </mat-card>
</div>
