<div
  class="requisition-container"
  *ngIf="{
    requisitions: requisitions$ | async,
    stores: stores$ | async,
    currentStore: currentStore$ | async,
    stockableItems: stockableItems$ | async,
    loadingRequisitions: loadingRequisitions$ | async,
    referenceTagsThatCanRequestFromMainStoreConfigs:
      referenceTagsThatCanRequestFromMainStoreConfigs$ | async,
    referenceTagsThatCanRequestFromPharmacyConfigs:
      referenceTagsThatCanRequestFromPharmacyConfigs$ | async,
    mainStoreLocationTagUuid: mainStoreLocationTagUuid$ | async,
    pharmacyLocationTagUuid: pharmacyLocationTagUuid$ | async
  } as params"
>
  <mat-card class="border">
    <div class="d-flex justify-content-between">
      <mat-form-field class="w-25">
        <input autocomplete="off" type="text" matInput placeholder="Search" />
      </mat-form-field>
      <button
        [disabled]="
          !params?.pharmacyLocationTagUuid ||
          params?.pharmacyLocationTagUuid == 'none' ||
          !params?.mainStoreLocationTagUuid ||
          params?.mainStoreLocationTagUuid == 'none' ||
          !params?.referenceTagsThatCanRequestFromPharmacyConfigs ||
          !params?.referenceTagsThatCanRequestFromMainStoreConfigs
        "
        (click)="onNewRequest($event, params)"
        mat-flat-button
        color="primary"
        style="height: 40px"
      >
        New Request
      </button>
    </div>
    <div class="col-12">
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="
          !params?.pharmacyLocationTagUuid ||
          !params?.mainStoreLocationTagUuid ||
          !params?.referenceTagsThatCanRequestFromPharmacyConfigs ||
          !params?.referenceTagsThatCanRequestFromMainStoreConfigs
        "
      ></mat-progress-bar>
      <div
        *ngIf="
          params?.pharmacyLocationTagUuid == 'none' ||
          params?.mainStoreLocationTagUuid == 'none' ||
          params?.referenceTagsThatCanRequestFromPharmacyConfigs == 'none' ||
          params?.referenceTagsThatCanRequestFromMainStoreConfigs == 'none'
        "
        class="alert alert-warning"
        role="alert"
      >
        Contact IT, some settings are missing
      </div>
    </div>

    <table class="table">
      <tr>
        <td>#</td>
        <td>Item</td>
        <td>Quantity Requested</td>
        <td>Requested On</td>
        <td>Quantity Issued</td>
        <td>Issued On</td>
        <td>Requsted From</td>
        <td>Status</td>
        <td><span class="float-right">Actions</span></td>
      </tr>

      <tr *ngIf="!params.requisitions">
        <td colspan="7">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </tr>

      <tr *ngIf="params.requisitions && params.requisitions.length === 0">
        <td colspan="7">
          <div class="w-100 d-flex justify-content-center">No data</div>
        </td>
      </tr>

      <tr
        *ngFor="let request of params?.requisitions; let requestIndex = index"
      >
        <td>{{ requestIndex + 1 }}</td>
        <td>{{ request?.name }}</td>
        <td>{{ request?.quantityRequested }}</td>
        <td>{{ request?.created | date }}</td>
        <td>{{ request?.quantityIssued || "-" }}</td>
        <td>
          {{ request?.quantityIssued ? (request?.issuedDate | date) : "-" }}
        </td>
        <td>{{ request?.targetStore?.name }}</td>
        <td>
          <div
            [ngClass]="{
              'text-warning': request?.status === 'PENDING',
              'text-success':
                request?.status === 'ISSUED' || request?.status === 'RECEIVED',
              'text-danger': request?.status === 'REJECTED'
            }"
          >
            {{ request?.status }}
          </div>
        </td>
        <td>
          <div *ngIf="request.status !== 'RECEIVED'">
            <div *ngIf="request.status !== 'ISSUED'">
              <button
                class="float-right"
                mat-flat-button
                color="warn"
                *ngIf="request.status !== 'REJECTED'"
                [disabled]="
                  request?.crudOperationStatus?.status === 'CANCELLING'
                "
                (click)="onCancelRequisition($event, request?.id)"
              >
                <mat-spinner
                  color="primary"
                  *ngIf="request?.crudOperationStatus?.status === 'CANCELLING'"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                ></mat-spinner>
                Cancel Request
              </button>
            </div>

            <div class="float-right" *ngIf="request.status === 'ISSUED'">
              <button
                mat-flat-button
                color="primary"
                [disabled]="
                  request?.crudOperationStatus?.status === 'CANCELLING'
                "
                (click)="onReceiveRequisition($event, request)"
              >
                <mat-spinner
                  color="primary"
                  *ngIf="request?.crudOperationStatus?.status === 'CANCELLING'"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                ></mat-spinner>
                Receive
              </button>
              <button
                mat-flat-button
                class="ml-2"
                color="warn"
                [disabled]="
                  request?.crudOperationStatus?.status === 'REJECTING'
                "
                (click)="onRejectRequisition($event, request)"
              >
                <mat-spinner
                  color="primary"
                  *ngIf="request?.crudOperationStatus?.status === 'REJECTING'"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                ></mat-spinner>
                Reject
              </button>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
