<div
  *ngIf="{
    stocksList: stocksList$ | async,
    currentItemStock: currentItemStock$ | async
  } as params"
>
  <div class="w-100 d-flex">
    <mat-form-field class="w-25">
      <input
        autocomplete="off"
        type="text"
        class="float-left"
        matInput
        (keyup)="searchStock($event)"
        placeholder="Search"
      />
    </mat-form-field>

    <div class="w-75 float-right" *ngIf="isCurrentLocationMainStore">
      <button
        [disabled]="!userPrivileges['STORE_ADD_NEW_STOCKABLE_ITEM']"
        class="float-right"
        color="primary"
        mat-stroked-button
        (click)="onAddNewStockRecevied($event, ledgerTypes, currentLocation)"
      >
        New Received Item
      </button>
    </div>
  </div>
  <div class="overflow-x-auto">
    <table class="table border-bottom table-fit">
      <tr>
        <th style="width: 5%; word-wrap: initial">#</th>
        <th style="width: 40%; word-wrap: break-word">Item</th>
        <th style="width: 10%">Available Quantity</th>
        <th style="width: 10%">Expired Quantity</th>
        <th style="width: 10%">Eligible Quantity</th>
        <th style="width: 10%"># of Batches</th>
        <th style="width: 12%">
          <span class="float-right">Actions</span>
        </th>
      </tr>

      <tr *ngIf="!params?.stocksList">
        <td colspan="100%">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </td>
      </tr>

      <tr *ngIf="params?.stocksList && params?.stocksList.length === 0">
        <td colspan="100%">
          <div class="w-100 d-flex justify-content-center">No data</div>
        </td>
      </tr>

      <ng-container>
        <tr
          *ngFor="let stock of params?.stocksList; let stockIndex = index"
          [ngClass]="{
            selectedStock: currentItemStock?.id === stock.id
          }"
        >
          <td>{{ stockIndex + 1 }}</td>
          <td style="word-wrap: break-word">{{ stock?.name }}</td>
          <td>{{ stock?.quantity }}</td>
          <td>{{ stock?.quantity - stock?.eligibleQuantity }}</td>
          <td>
            <b>
              {{ stock?.eligibleQuantity }}
            </b>
          </td>
          <td>{{ stock?.batches?.length }}</td>
          <td>
            <div class="float-right">
              <button
                class="action-buttons"
                [disabled]="currentItemStock?.id === stock.id"
                mat-flat-button
                color="primary"
                (click)="onToggleCurrentStock($event, stock)"
              >
                View/Add Batches
              </button>
              <button
                class="action-buttons"
                [disabled]="currentItemStock?.id === stock.id"
                mat-flat-button
                color="primary"
                (click)="onViewStockStatus($event, stock?.id)"
              >
                View Other In-stores
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div class="overflowing-stock-list" *ngIf="params?.currentItemStock">
    <!--  <mat-progress-bar
      mode="indeterminate"
      *ngIf="!params?.currentItemStock"
    ></mat-progress-bar> -->
    <div class="loading-overlay" *ngIf="saving">
      <div class="text-center">
        <div>Saving ...</div>
        <div class="mt-3 d-flex justify-content-center w-100">
          <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
        </div>
      </div>
    </div>
    <app-stock-batch-list
      *ngIf="params?.currentItemStock"
      [stock]="params?.currentItemStock"
      [ledgerTypes]="ledgerTypes"
      [currentStore]="currentLocation"
      [saving]="false"
      (closeBatchList)="onToggleCurrentStock(null, $event)"
      (saveLedger)="onSaveLedger($event, params?.currentItemStock)"
    >
    </app-stock-batch-list>
  </div>
  <div class="overflowing-stock-list" *ngIf="itemID">
    <app-stock-in-other-units
      [itemID]="itemID"
      (clearItemID)="onClearItemID()"
    ></app-stock-in-other-units>
  </div>
</div>
