<div
  *ngIf="{
    stocksList: stocksList$ | async,
    currentItemStock: currentItemStock$ | async,
    consumeLedgerUuid: consumeLedgerUuid$ | async,
    facilityDetails: facilityDetails$ | async,
    currentUser: currentUser$ | async
  } as params"
>
  <app-shared-error
    *ngIf="errors?.length > 0"
    [errors]="errors"
  ></app-shared-error>
  <ng-container *ngIf="errors?.length === 0">
    <ng-container *ngIf="!showReceivingForm">
      <div class="w-100 d-flex">
        <mat-form-field class="w-25 search-field">
          <input
            autocomplete="off"
            type="text"
            class="float-left"
            matInput
            (keyup)="searchStock($event)"
            placeholder="Search"
          />
        </mat-form-field>

        <div class="w-75 float-right">
          <div class="float-right" *ngIf="isCurrentLocationMainStore">
            <!-- <button
            [disabled]="!userPrivileges['STORE_ADD_NEW_STOCKABLE_ITEM']"
            class="button-round"
            color="primary"
            mat-stroked-button
            (click)="onAddNewStockRecevied($event, ledgerTypes, currentLocation)"
          > Receive New Item </button> -->
            <button
              [disabled]="!userPrivileges['STORE_ADD_NEW_STOCKABLE_ITEM']"
              class="button-round ml-4"
              color="primary"
              mat-stroked-button
              (click)="onShowReceivingForm($event)"
            >
              Receive New item
            </button>
          </div>

          <div
            class="float-right"
            *ngIf="!isCurrentLocationMainStore && !isCurrentLocationPharmacy"
          >
            <!-- <button
                [disabled]="!userPrivileges['STORE_ADD_NEW_STOCKABLE_ITEM']"
                class="button-round"
                color="primary"
                mat-stroked-button
                (click)="onAddNewStockRecevied($event, ledgerTypes, currentLocation)"
              > Receive New Item </button> -->
            <button
              [disabled]="
                !params?.stocksList || params?.stocksList.length === 0
              "
              color="primary"
              mat-flat-button
              (click)="
                onOpenConsumeModal(
                  null,
                  params?.consumeLedgerUuid,
                  ledgerTypes,
                  currentLocation
                )
              "
            >
              Consume
            </button>
          </div>
          <div class="float-right">
            <button
              [disabled]="params?.stocksList?.length === 0"
              color="primary"
              class="button-round ml-2"
              mat-stroked-button
              (click)="
                onPrint(
                  $event,
                  params?.stocksList,
                  params?.facilityDetails,
                  params?.currentUser
                )
              "
            >
              <mat-icon color="white">print</mat-icon> Print Items
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-paginator
            class="float-right"
            [length]="pager?.total"
            [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="table border-bottom table-fit">
          <tr>
            <th style="width: 5%; word-wrap: initial">#</th>
            <th style="width: 40%; word-wrap: break-word">Item</th>
            <th style="width: 10%">Available Quantity</th>
            <th style="width: 10%">Expired Quantity</th>
            <th style="width: 10%">Eligible Quantity</th>
            <th style="width: 10%"># of Batches</th>
            <th style="width: 12%">
              <span class="float-right">Actions</span>
            </th>
          </tr>

          <tr *ngIf="!params?.stocksList">
            <td colspan="100%">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </td>
          </tr>

          <tr *ngIf="params?.stocksList && params?.stocksList.length === 0">
            <td colspan="100%">
              <div class="w-100 d-flex justify-content-center">No data</div>
            </td>
          </tr>

          <ng-container>
            <tr
              *ngFor="let stock of params?.stocksList; let stockIndex = index"
              [ngClass]="{
                selectedStock: currentItemStock?.id === stock.id
              }"
            >
              <td>{{ stockIndex + 1 + (page - 1) * pageSize }}</td>
              <td style="word-wrap: break-word">{{ stock?.name }}</td>
              <td>{{ stock?.quantity }}</td>
              <td>{{ stock?.quantity - stock?.eligibleQuantity }}</td>
              <td>
                <b>
                  {{ stock?.eligibleQuantity }}
                </b>
              </td>
              <td>{{ stock?.batches?.length }}</td>
              <td>
                <div class="float-right">
                  <button
                    mat-icon-button
                    #menuTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="menu"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      [disabled]="currentItemStock?.id === stock.id"
                      color="primary"
                      (click)="onToggleCurrentStock($event, stock)"
                      (click)="menuTrigger.closeMenu()"
                    >
                      <mat-icon>visibility</mat-icon>
                      <span>View/Add Batches</span>
                    </button>
                    <button
                      mat-menu-item
                      [disabled]="currentItemStock?.id === stock.id"
                      color="primary"
                      (click)="onViewStockStatus($event, stock?.id)"
                      (click)="menuTrigger.closeMenu()"
                    >
                      <mat-icon>visibility</mat-icon>
                      <span>View Other In-stores</span>
                    </button>

                    <button
                      *ngIf="
                        !isCurrentLocationMainStore &&
                        !isCurrentLocationPharmacy
                      "
                      mat-menu-item
                      [disabled]="
                        currentItemStock?.id === stock.id ||
                        !params?.consumeLedgerUuid
                      "
                      color="primary"
                      (click)="
                        onOpenConsumeModal(
                          stock,
                          params?.consumeLedgerUuid,
                          ledgerTypes,
                          currentLocation
                        )
                      "
                      (click)="menuTrigger.closeMenu()"
                    >
                      <mat-icon>assignment_returned</mat-icon>
                      <span>Consume</span>
                    </button>
                  </mat-menu>
                </div>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
      <div class="overflowing-stock-list" *ngIf="params?.currentItemStock">
        <!--  <mat-progress-bar
        mode="indeterminate"
        *ngIf="!params?.currentItemStock"
      ></mat-progress-bar> -->
        <div class="loading-overlay" *ngIf="saving">
          <div class="text-center">
            <div>Saving ...</div>
            <div class="mt-3 d-flex justify-content-center w-100">
              <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
            </div>
          </div>
        </div>
        <app-stock-batch-list
          *ngIf="params?.currentItemStock"
          [stock]="params?.currentItemStock"
          [ledgerTypes]="ledgerTypes"
          [currentStore]="currentLocation"
          [saving]="false"
          (closeBatchList)="onToggleCurrentStock(null, $event)"
          (saveLedger)="onSaveLedger($event, params?.currentItemStock)"
        >
        </app-stock-batch-list>
      </div>
      <div class="overflowing-stock-list" *ngIf="itemID">
        <app-stock-in-other-units
          [itemID]="itemID"
          (clearItemID)="onClearItemID()"
        ></app-stock-in-other-units>
      </div>
    </ng-container>
    <ng-container>
      <div *ngIf="showReceivingForm">
        <div class="row">
          <div class="col-12">
            <button
              class="float-left mr-4"
              mat-icon-button
              (click)="onHideReceivingForm($event)"
              matTooltip="Back"
            >
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
        </div>
        <hr />
        <app-stock-invoice
          [currentLocation]="currentLocation"
        ></app-stock-invoice>
      </div>
    </ng-container>
  </ng-container>
</div>
