.selected-form {
  background-color: #2a8fd1 !important;
  color: #fff !important;
}

.side-bar-menu {
  padding: 0 !important;
}

.side-menu-bar-list {
  width: 100% !important;
  margin-left: -10px !important;
  border-right: solid 1px #e6e6e6;
  height: 60vh;
}

.side-menu-item {
  list-style-type: none;
  padding: 8px 8px 8px 4px;
  border-bottom: solid 1px #e6e6e654;
  border-top: solid 1px #e6e6e654;
}
