button,
button:hover {
  outline: none !important;
}

.table th {
  padding: 0.5rem !important;
}
.table td {
  padding: 0.375rem !important;
}

.mat-icon-button {
  padding: 0;
  min-width: 0;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  line-height: 30px;
  border-radius: 50%;
}
