<ng-container
  class="transfer-container"
  *ngIf="{
    formLoadingState: formLoadingState$ | async,
    form: form$ | async,
    locations: locations$ | async,
    provider: provider$ | async,
    visit: currentVisit$ | async,
    transferLoadingState: transferLoadingState$ | async,
    transferStatus: transferStatus$ | async,
    currentVisitServiceBillingAttributeDetails:
      currentVisitServiceBillingAttributeDetails$ | async,
    locationServiceAttribute: locationServiceAttribute$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="(formUuid && params?.formLoadingState) || !params?.locations"
    mode="indeterminate"
  ></mat-progress-bar>
  <div
    *ngIf="((params?.form && formUuid) || !formUuid) && params?.locations"
    style="padding: 0px"
  >
    <mat-toolbar color="primary">Transfer {{ patient?.display }}</mat-toolbar>
    <div
      class="form mt-3"
      *ngIf="
        !params?.transferStatus &&
        params?.locationServiceAttribute &&
        params?.locationServiceAttribute !== 'none'
      "
    >
      <mat-form-field class="w-100 transfer-to-field">
        <mat-label>Transfer to: </mat-label>
        <mat-select [(ngModel)]="transferTo" required>
          <mat-option *ngFor="let option of params?.locations" [value]="option">
            {{ option?.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="params?.form && visit && visit?.uuid">
        <app-capture-form-data
          [form]="params?.form"
          [visit]="visit"
          [patient]="patient"
          [observations]="[]"
          (formDataUpdate)="onFormUpdate($event)"
        ></app-capture-form-data>
      </div>
    </div>
    <div
      class="alert alert-warning"
      role="alert"
      *ngIf="
        !params?.transferStatus &&
        params?.locationServiceAttribute &&
        params?.locationServiceAttribute == 'none'
      "
    >
      Serives Location Attribute Value is missing
    </div>

    <div
      class="alert alert-success"
      role="alert"
      *ngIf="params?.transferStatus"
    >
      Transferred successfully
    </div>
  </div>
  <mat-dialog-actions align="end" class="mb-2">
    <button mat-stroked-button class="mr-2" (click)="onClose($event)">
      Close
    </button>
    <button
      color="primary"
      class="mr-2"
      mat-stroked-button
      [disabled]="
        !transferTo ||
        params?.transferStatus ||
        !params?.locationServiceAttribute
      "
      (click)="
        onSaveForm(
          $event,
          params?.provider,
          params?.visit,
          obs,
          params?.locationServiceAttribute
        )
      "
    >
      <mat-spinner
        color="primary"
        *ngIf="params?.transferLoadingState"
        [diameter]="20"
      ></mat-spinner>
      Confirm
    </button>
  </mat-dialog-actions>
</ng-container>
