<ng-container
  class="transfer-container"
  *ngIf="{
    formLoadingState: formLoadingState$ | async,
    form: form$ | async,
    locations: locations$ | async,
    provider: provider$ | async,
    visit: currentVisit$ | async,
    transferLoadingState: transferLoadingState$ | async,
    transferStatus: transferStatus$ | async,
    currentVisitServiceAttributeDetails:
      currentVisitServiceAttributeDetails$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="(formUuid && params?.formLoadingState) || !params?.locations"
    mode="indeterminate"
  ></mat-progress-bar>
  <div
    *ngIf="
      ((params?.form &&
        formUuid &&
        params?.currentVisitServiceAttributeDetails) ||
        !formUuid) &&
      params?.locations
    "
    style="padding: 0px"
  >
    <mat-toolbar color="primary">Transfer {{ patient?.display }}</mat-toolbar>
    <div class="form" *ngIf="!params?.transferStatus">
      <mat-form-field class="w-100 transfer-to-field">
        <mat-label>Transfer to:</mat-label>
        <mat-select [(ngModel)]="transferTo" required>
          <mat-option *ngFor="let option of params?.locations" [value]="option">
            {{ option?.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="params?.form && params?.currentVisitServiceAttributeDetails">
        <app-capture-form-data
          [form]="params?.form"
          [observations]="[]"
          (formDataUpdate)="onFormUpdate($event)"
        ></app-capture-form-data>
      </div>
    </div>

    <div
      class="alert alert-success"
      role="alert"
      *ngIf="params?.transferStatus"
    >
      Transferred successfully
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-stroked-button class="mr-2" (click)="onClose($event)">
      Close
    </button>
    <button
      color="primary"
      class="mr-2"
      mat-stroked-button
      [disabled]="!transferTo || params?.transferStatus"
      (click)="
        onSaveForm(
          $event,
          params?.provider,
          params?.visit,
          obs,
          params?.currentVisitServiceAttributeDetails
        )
      "
    >
      <mat-spinner
        color="primary"
        *ngIf="params?.transferLoadingState"
        [diameter]="20"
      ></mat-spinner>
      Confirm
    </button>
  </mat-dialog-actions>
</ng-container>
