.transfer-container {
  padding: 0 !important;
}

.form {
  padding: 5px 15px;
}

.btns {
  padding: 5px 15px;
}
// .transfer-to-field {
//   border: solid 1px #c7c7c7 !important;
//   border-radius: 4px !important;
//   padding: 5px !important;
//   margin-bottom: 15px;
// }
