<ng-container *ngIf="errors.length > 0">
    <div *ngFor="let error of errors">
       <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="error?.error"
        >
            {{ error?.error?.message }} <span class="more-less float-right" (click)="onClickMore($event)">{{ toggleMore ? 'less' : 'more' }}</span> 

            <div class="mt-2" *ngIf="toggleMore && error?.error?.detail">
                <p>{{ error?.error?.detail }}</p>
            </div>
        </div>
       <div
        class="alert alert-danger mt-2"
        role="alert"
        *ngIf="!error?.error && typeof(error) === 'string'"
        >
            {{ error }} 
        </div>
    </div>
</ng-container>