<ng-container *ngIf="errors.length > 0">
  <div *ngFor="let error of errors; let errorIndex = index">
    <div
      class="alert alert-{{ error.type || 'danger' }} alert-dismissible fade show mt-2"
      role="alert"
      *ngIf="error?.error"
    >
      <button
        *ngIf="dismissible"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
        (click)="onCloseError($event, errorIndex)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="text-left">
        {{ error?.error?.message }}
        {{ error?.error?.code ? "(" + error?.error?.code + ")" : "" }}
        <span
          *ngIf="error?.error?.detail"
          class="more-less float-right"
          (click)="onClickMore($event, errorIndex.toString())"
          >{{
            errorIndex.toString() === toggleIndex ? "Show less" : "Show more"
          }}</span
        >
      </p>
      <div
        *ngIf="errorIndex.toString() === toggleIndex && error?.error?.detail"
        class="mt-2 error-detail"
      >
        <p>{{ error?.error?.detail }}</p>
      </div>
    </div>

    <!-- Handle global errors if any -->
    <div *ngIf="error?.error?.globalErrors;">
      <ng-container *ngFor="let globalError of error?.error?.globalErrors; let globalErrorIndex = index">
        <div
          class="alert alert-{{ alertType }} alert-dismissible fade show mt-2"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
            (click)="onCloseError($event, errorIndex, globalErrorIndex)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <p class="text-left">
            {{ globalError?.message }}
            {{
              globalError?.code && globalError?.code !== globalError?.message
                ? "(" + globalError?.code + ")"
                : ""
            }}
            <span
              *ngIf="globalError?.detail"
              class="more-less float-right"
              (click)="
                onClickMore(
                  $event,
                  errorIndex.toString() + globalErrorIndex.toString()
                )
              "
              >{{
                errorIndex.toString() + globalErrorIndex.toString() ===
                toggleIndex
                  ? "Show less"
                  : "Show more"
              }}</span
            >
          </p>
          <div
            *ngIf="
              (errorIndex.toString() + globalErrorIndex.toString()) ===
                toggleIndex && globalError?.detail
            "
            class="mt-2"
          >
            <p>{{ globalError?.detail }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
