.more-less {
    color: rgb(56, 16, 21) !important;
}
.more-less:hover {
    color: #8b8c8f !important;
    cursor: pointer;
}

.error-detail {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}
