button:hover {
  outline: none !important;
}

button {
  outline: none !important;
}
.buttonstyle{
  margin-left: 10px;
}

.patient-dashboard-container {
  padding-bottom: 5px;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  height: 44px !important;
}

.patient-profile-sticky {
  position: sticky;
  top: 0;
  width: 100%;
  padding-top: 25px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}


.patient-other-details-padding {
  // margin-top: 10px; 
}
.selected-form {
  background-color: #2a8fd1 !important;
  color: #fff !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of menu that may no longer apply for the MDC version. */
.patient-vitals-mat-menu {
  position: fixed !important;
  top: 130px;
  right: 0 !important;
  background-color: #fff !important;
  width: 700px !important;
  overflow: auto;
  z-index: 1001;
}

.obs-table {
  overflow-x: auto;
  overflow-y: auto;
}

.form-listing {
  border-radius: 30px;
  padding: 8px 10px;
  background-color: #eee;
  text-align: center;
  /* min-width: 70px; */
  width: auto;
  text-decoration: none;
  color: #222;
}

.form-listing:hover {
  cursor: pointer;
}

.side-bar-menu {
  padding: 0 !important;
}

.side-menu-bar-list {
  width: 100% !important;
  margin-left: -16px !important;
  border-right: solid 1px #e6e6e6;
  height: 60vh;
}

.side-menu-item {
  list-style-type: none;
  padding: 8px 8px 8px 4px;
  border-bottom: solid 1px #e6e6e654;
  border-top: solid 1px #e6e6e654;
}
