button:hover {
  outline: none !important;
}

button {
  outline: none !important;
}

.patient-dashboard-container {
  padding-bottom: 5px;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  height: 44px !important;
}
