<div
  *ngIf="{
    cabinets: cabinets$ | async,
    loadingVisit: loadingVisit$ | async,
    locationsIds: locationsIds$ | async,
    currentLocation: currentLocation$ | async,
    deathRegistryEncounterTypeUuid: deathRegistryEncounterTypeUuid$ | async,
    orderType: orderType$ | async
  } as params"
>
  <!-- <mat-progress-bar
    *ngIf="params?.loadingVisit || params?.deathRegistryEncounterTypeUuid"
    mode="indeterminate"
  ></mat-progress-bar> -->
  <div
    class="mt-5 d-flex justify-content-center w-100"
    *ngIf="params?.loadingVisit || !params?.deathRegistryEncounterTypeUuid"
  >
    <mat-spinner color="primary" diameter="80" strokeWidth="4"></mat-spinner>
  </div>

  <div *ngIf="params?.cabinets && params?.deathRegistryEncounterTypeUuid">
    <mat-tab-group mat-align-tabs="start" dynamicHeight="true">
      <mat-tab label="Patients">
        <div class="centered-container-patient-list">
          <div
            class="w-100 text-centered"
            *ngIf="!errors || errors?.length == 0"
          >
            <app-patient-list
              [encounterType]="params?.deathRegistryEncounterTypeUuid"
              (selectPatient)="onSelectPatient($event)"
              [shouldShowParentLocation]="true"
              [isTabularList]="true"
              [includeDeadPatients]="true"
            ></app-patient-list>
            <app-shared-error
              *ngIf="errors && errors?.length > 0"
              [errors]="errors"
            ></app-shared-error>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Cabinets">
        <div class="p-3">
          <ng-container *ngIf="!errors || errors?.length == 0">
            <app-cabinets-list
              *ngIf="
                params?.cabinets && params?.locationsIds && params?.orderType
              "
              [cabinets]="params?.cabinets"
              [locationsIds]="params?.locationsIds"
              [encounterType]="params?.deathRegistryEncounterTypeUuid"
              [currentLocation]="currentLocation"
              (cabinetStatus)="onGetCabinetStatus($event, params?.orderType)"
            ></app-cabinets-list>
          </ng-container>

          <app-shared-error
            *ngIf="errors && errors?.length > 0"
            [errors]="errors"
          ></app-shared-error>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
