<mat-accordion
  *ngIf="patientVisits && currentPatientVisit && !shouldShowVitalsOnly"
>
  <mat-expansion-panel
    *ngFor="let patientVisit of patientVisits; let count = index"
    [expanded]="
      patientVisit?.visit?.uuid === currentPatientVisit?.visit?.uuid
        ? true
        : false
    "
  >
    <mat-expansion-panel-header
      (click)="setCurrentPatientVisit($event, patientVisit)"
    >
      <mat-panel-title>
        <span>
          {{ patientVisit?.visit?.startDatetime | date }}
        </span>
      </mat-panel-title>
      <mat-panel-description>
        {{
          patientVisit?.visit?.visitType?.display +
            "-" +
            patientVisit?.visit?.visitType?.description
        }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="top-history-banner text-left">
      <div
        *ngIf="currentPatientVisit?.visit?.uuid === patientVisit?.visit?.uuid"
      >
        Location: <b>{{ currentPatientVisit?.visit?.location?.display }}</b>
        <div class="row" *ngIf="shouldShowPatientClinicalSummary">
          <div class="col-md-7">
            <h3 class="font-weight-bold">Provisional Diagnosis</h3>
            <div class="w-100 mb-3 mt-1">
              <app-patient-diagnoses-summary
                [patientVisit]="currentPatientVisit"
                [isConfirmedDiagnosis]="false"
                [forHistory]="true"
              >
              </app-patient-diagnoses-summary>
            </div>
            <h3 class="font-weight-bold">Laboratory Tests</h3>
            <div class="w-100 mb-3 mt-1">
              <app-patient-lab-results-summary
                [labConceptsTree]="null"
                [observations]="null"
                [forHistory]="true"
                [patientVisit]="currentPatientVisit"
              ></app-patient-lab-results-summary>
            </div>
            <h3 class="font-weight-bold">Confirmed Diagnosis</h3>
            <div class="w-100 mb-3 mt-1">
              <app-patient-diagnoses-summary
                [patientVisit]="currentPatientVisit"
                [isConfirmedDiagnosis]="true"
                [forHistory]="true"
              >
              </app-patient-diagnoses-summary>
            </div>
            <h3 class="font-weight-bold">Medication</h3>
            <div class="w-100 mb-3 mt-1">
              <app-patient-medication-summary
                [patientVisit]="currentPatientVisit"
                [forHistory]="true"
              ></app-patient-medication-summary>
            </div>
          </div>
          <div class="col-md-5">
            <h3 class="font-weight-bold">Clinical Summary</h3>
            <div class="w-100 mt-1">
              <app-patient-clinical-notes-summary
                [patientVisit]="currentPatientVisit"
                [forms]="forms"
                [forHistory]="true"
              >
              </app-patient-clinical-notes-summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="patientVisits && currentPatientVisit && shouldShowVitalsOnly">
  <app-patient-vitals-summary
    [patientVisit]="currentPatientVisit"
    [vitalsForm]="vitalsForm"
  ></app-patient-vitals-summary>
</div>
<div *ngIf="patientVisits && !currentPatientVisit">
  <div class="alert alert-warning" role="alert">No Previous History</div>
</div>
