/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import "~bootstrap/scss/bootstrap";

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-flex {
  border-radius: 4px 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.18) !important;
  padding: 0.5em 0.275em 0.275em 0.575em !important;
  background-color: #fff !important;
}

.mat-form-field-infix {
  padding: 0.2em 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.18) !important;
  padding: 0.5em 0.275em 0.275em 0.575em !important;
  background-color: #fff;
}

.mat-form-field-appearance-fill:focus {
  border: solid 2px rgba(0, 0, 0, 0.18);
}

.mat-form-field {
  line-height: inherit !important;
}

.active-form {
  background-color: #2a8fd1 !important; // TODO use variable
  color: #fff !important;
}

fieldset {
  margin: 0 0 15px 0 !important;
  border: solid 1px #0000002b !important;
  padding: 15px !important;
}

legend {
  display: block;
  width: auto !important;
  max-width: 100%;
  padding: 5px 10px 4px 10px !important;
  margin-bottom: 0.1rem !important;
  font-size: 0.9rem !important;
  line-height: inherit;
  color: #fff !important;
  white-space: normal;
  border: solid 1px #fff !important;
  border-radius: 4px;
  background-color: #2a8fd1 !important;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  overflow: auto;
}
.font-small {
  font-size: small;
}
​ .font-medium {
  font-size: medium;
}
​ .font-large {
  font-size: large;
}
​ .font-larger {
  font-size: larger;
}
​ .font-x-large {
  font-size: x-large;
}
​ .font-xx-large {
  font-size: xx-large;
}
​ .font-xxx-large {
  font-size: -webkit-xxx-large;
}
​ .color-white {
  color: white;
}
​ .color-black {
  color: black !important;
}
​ .cursor-pointer {
  cursor: pointer;
}
​ .border-radius-15 {
  border-radius: 15px !important;
}
​ .width-95 {
  width: 95% !important;
}
​ .page-container {
  padding: 15px;
}

​ .mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-weight: 400;
}
button,
​ button:focus,
button:active,
button:hover {
  outline: none !important;
}
​ .radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 15px 15px 0;
}
​ .radio-button {
  margin: 5px;
}
​ .border-color-grey {
  border-color: #d3d1d3 !important;
}
// .custom-dialog-container .mat-dialog-container {
//   // padding: 0px !important;
//   // overflow-x: hidden !important;
// }

.sidebar-container {
  position: fixed;
  width: 230px;
  left: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
}

.sidebar-content-container {
  margin-left: 235px;
  margin-top: 55px;
  // margin-right: 15px;
  border-radius: 5px;
}

.search-input-card {
  display: flex;
  text-align: left;
  align-items: center;
  border-radius: 25px;

  mat-icon {
    line-height: 25px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4) !important;
  }
}

.search-input-card:hover {
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.search-input {
  border: none !important;
  background-color: transparent;
}

.search-input:focus {
  outline: none !important;
}

.centered-container {
  // display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8vh;
  margin-left: 20%;
  margin-right: 20%;
}

.centered-container-patient-list {
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 640px) {
  .centered-container,
  .centered-container-patient-list {
    margin-left: 0;
    margin-right: 0;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}
.table td,
th {
  padding: 0.375rem !important;
}

mat-dialog-container {
  padding: 0 !important;
  position: relative;
}

.table__action-options {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

:host ::ng-deep .mat-column-actions div {
  float: right;
}
.custom-expansion-panel {
  border-radius: 0 !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba($color: #ffffff, $alpha: 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-typography {
  margin: 0 !important;
  padding: 6px !important;
}
// For back to patient list
.back-to-client-list button {
  background-color: #2a8fd1;
  color: #fff;
}

.back-to-client-list {
  padding: 10px 15px;
}

.snack-color {
  background: #2a8fd1;
  color: black;
  font-weight: bolder;
}

.snack-color-error {
  background: #ff0033;
  color: black;
  font-weight: bolder;
}

.snack-color-sucess,
.snack-color-ok {
  background: green;
  color: #fff;
  font-weight: bolder;
}

.contents {
  margin-top: 170px;
}

.lis-contents {
  margin-top: 50px !important;
}

.time-input-field {
  margin-top: 6px;
  border-radius: 4px 4px !important;
  border: solid 1px rgba(0, 0, 0, 0.18);
  padding: 0.8em !important;
  background-color: #fff;
  animation: cdk-text-field-autofill-end 0s 1ms;
}

.add-new-general-button {
  border: 10px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  vertical-align: bottom;
  background-color: #2a8fd1;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  height: 56px;
  width: 56px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  float: right;
}

.patient-profile-sticky {
  width: 100%;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.patient-other-details-padding {
  padding-top: 7rem !important;
}

.retired,
.voided-item {
  cursor: not-allowed !important;
  color: red;
  text-decoration: line-through !important;
}

.table{
  display: block;
}