.requisition-table {
    max-height: 60px;
    width: 100%;
    overflow: auto;
}
.custom-width {
    // width: 100%; 
  }
.customtable-width{
    // width: 100%;
    // display: flex;
    // flex-direction: column;
  }
  @media screen and (max-width: 600px) {
    .customtable-width{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
  }
//   [isFormHorizontal]="true"