<div class="w-100" *ngIf="formattedReportGroups">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 25px">SN</th>
        <th>Report Group</th>
        <th>Who can access? (Privilege)</th>
        <th>Report</th>
        <th>Who can access? (Privilege)</th>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="formattedReportGroups?.length > 0">
        <ng-container
          *ngFor="let reportGroup of formattedReportGroups; let count = index"
        >
          <tr *ngFor="let report of reportGroup?.reports; let repCount = index">
            <td
              *ngIf="repCount === 0"
              [attr.rowspan]="reportGroup?.reports?.length"
            >
              {{ count + 1 }}
            </td>
            <td
              *ngIf="repCount === 0"
              [attr.rowspan]="reportGroup?.reports?.length"
            >
              {{ reportGroup?.group?.name }}
            </td>
            <td
              *ngIf="repCount === 0"
              [attr.rowspan]="reportGroup?.reports?.length"
            >
              {{
                reportGroup?.group?.privilege?.name
                  ? reportGroup?.group?.privilege?.name
                  : "-"
              }}
            </td>
            <td>
              {{ report?.name }}
            </td>
            <td>
              {{ report?.privilege?.name ? report?.privilege?.name : "-" }}
            </td>
            <td>{{ report?.category?.name }}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="onEdit(report)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button (click)="onOpenSettings(report)" mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Settings</span>
                </button>
                <button (click)="onDelete(report)" mat-menu-item disabled>
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="formattedReportGroups?.length === 0">
        <tr>
          <td colspan="100%">
            <div class="alert alert-warning" role="alert">
              Missing Reports Groups
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
