<div *ngIf="!forRegistration">
  <div
    class="row"
    *ngIf="{ attributesDetails: attributesDetails$ | async } as params"
  >
    <div
      *ngFor="let attribute of params?.attributesDetails"
      class="col-md-3 col-sm-6 col-sx-12 item-self p-items"
    >
      <span>
        {{ attribute?.visitAttributeDetails?.attributeType?.display }}:
      </span>

      <span class="text-muted" style="font-size: 0.8rem">
        {{ attribute?.display }}
      </span>
    </div>
  </div>
</div>
<div *ngIf="forRegistration" class="for-registration">
  <span *ngFor="let attribute of attributes" class="ml-2">
    <span> {{ attribute?.attributeType?.display }}: </span>

    <span>
      <b>
        {{ attribute?.value }}
      </b> </span
    >,
  </span>
</div>
