<div>
  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>Saving data</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!saving">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Parameters">
          <ng-template matTabContent>
            <div class="p-3">
              <div class="row">
                <div
                  class="
                    col-lg-6 col-md-6 col-sx-12 col-sm-12
                    mb-4
                    border-right-separater
                  "
                >
                  <div class="h4 text-left">New Parameter</div>
                  <hr />
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                      <app-form
                        [fields]="basicParametersFields"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
                      <app-form
                        *ngIf="
                          formData['datatype']?.value ===
                          '8d4a4488-c2cc-11de-8d13-0010c6dffd0f'
                        "
                        [fields]="[displayPrecisionField]"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                      <app-form
                        *ngIf="
                          formData['datatype']?.value ===
                          '8d4a4488-c2cc-11de-8d13-0010c6dffd0f'
                        "
                        [fields]="[unitsField]"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                      <fieldset>
                        <legend>Codes</legend>
                        <div>
                          <app-form
                            [fields]="[codesMappingsSourceField]"
                            (formUpdate)="onFormUpdateForSource($event)"
                          ></app-form>
                          <app-form
                            [fields]="[codeField]"
                            (formUpdate)="onFormUpdate($event)"
                          ></app-form>
                        </div>
                      </fieldset>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 d-flex justify-content-end mt-2">
                      <button
                        mat-stroked-button
                        (click)="onSave($event, parameterUuid)"
                      >
                        Save
                      </button>
                    </div>
                  </div>
                </div>

                <div
                  class="
                    col-lg-6 col-md-6 col-sx-12 col-sm-12
                    mb-4
                    border-right-separater
                  "
                >
                  <app-parameters-list
                    (selectedParameter)="onGetSelectedParameter($event)"
                  ></app-parameters-list>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Coded Answers">
          <ng-template matTabContent>
            <div class="p-3">
              <app-coded-answers></app-coded-answers>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
