<div
  class="visit-container"
  *ngIf="{
    activeVisitUuid: activeVisitUuid$ | async,
    currentPatient: currentPatient$ | async,
    activeVisit: activeVisit$ | async,
    loadingVisit: loadingVisit$ | async,
    visitErrorState: visitErrorState$ | async,
    visitError: visitError$ | async,
    locations: locations$ | async,
    paymentsCategories: paymentsCategories$ | async,
    admissionLocations: admissionLocations$ | async,
    insuranceSchemes: insuranceSchemes$ | async
  } as params"
>
 
  <mat-progress-bar
    *ngIf="!params?.paymentsCategories || !params?.currentPatient"
    mode="indeterminate"
  ></mat-progress-bar>


            <div
              class="row"
            >
              <div
                style="padding: 15px"
                *ngIf="editMode && disableEditingPayments"
              >
                <h4>Editing is disabled for Payment category Insurance</h4>

                <p>
                  Payment Category : {{ visitDetails["Payment"]["display"] }}
                </p>
                <p>Insurance Type : {{ visitDetails["Insurance"]?.display }}</p>
                <p>Insurance ID : {{ visitDetails["InsuranceID"] }}</p>
              </div>

              <div
                class="col-md-6"
                *ngIf="!(editMode && disableEditingPayments)"
              >
                <p>Payment Category</p>
                <mat-chip-list
                  aria-label="Payment categories"
                  *ngIf="
                    params?.paymentsCategories &&
                    params?.paymentsCategories['results'][0]['setMembers']
                  "
                >
                  <mat-chip
                    *ngFor="
                      let option of params?.paymentsCategories['results'][0][
                        'setMembers'
                      ]
                    "
                    (click)="setPaymentOptions('Payment', option)"
                    color="{{
                      option?.display == visitDetails?.Payment?.display
                        ? 'primary'
                        : ''
                    }}"
                    [selected]="
                      option?.display == visitDetails?.Payment?.display
                    "
                    >{{ option.display }}</mat-chip
                  >
                </mat-chip-list>
              </div>

              <div
                class="col-md-6"
                *ngIf="visitDetails['Payment'] && !editMode"
              >
                <label
                  *ngIf="visitDetails['Payment']['display'] == 'Insurance'"
                >
                  Insurance type
                </label>
                <mat-chip-list
                  aria-label="Payments"
                  *ngIf="visitDetails['Payment']['display'] == 'Insurance'"
                >
                  <mat-chip
                    *ngFor="let option of currentPaymentCategory['setMembers']"
                    (click)="setInsuranceTypeOption(option)"
                    color="{{
                      option == visitDetails['Insurance'] ? 'primary' : ''
                    }}"
                    [selected]="option == visitDetails['Insurance']"
                    >{{ option?.display }}</mat-chip
                  >
                </mat-chip-list>

                <mat-progress-bar
                  mode="indeterminate"
                  *ngIf="!params?.insuranceSchemes && visitDetails['Insurance']"
                ></mat-progress-bar>
                <!-- 
                  *ngIf="
                    (!allowOnlineVerification && params?.insuranceSchemes) ||
                    (allowOnlineVerification &&
                      visitDetails['Insurance']?.display !== 'NHIF')
                  "
                 -->
                <mat-chip-list *ngIf="visitDetails['Insurance']?.display">
                  <mat-chip
                    class="mt-3"
                    (click)="setInsuranceScheme(scheme)"
                    color="{{
                      scheme?.uuid == visitDetails['insuranceScheme']?.uuid
                        ? 'primary'
                        : ''
                    }}"
                    [selected]="
                      scheme?.uuid == visitDetails['insuranceScheme']?.uuid
                    "
                    *ngFor="let scheme of params?.insuranceSchemes?.setMembers"
                  >
                    {{
                      scheme?.shortNameDetails
                        ? scheme?.shortNameDetails?.name
                        : scheme?.display
                    }}
                  </mat-chip>
                </mat-chip-list>
                <div
                  class="mt-2"
                  *ngIf="
                    (visitDetails['Payment']['display'] == 'Insurance' &&
                      visitDetails['Insurance'] &&
                      visitDetails['insuranceScheme']) ||
                    (allowOnlineVerification &&
                      visitDetails['Payment']['display'] == 'Insurance' &&
                      visitDetails['Insurance'])
                  "
                >
                  <mat-form-field
                    class="w-100"
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>Insurance ID</mat-label>
                    <input
                      matInput
                      pattern="\d{12}"
                      placeholder="Enter Text"
                      [(ngModel)]="visitDetails['InsuranceID']"
                    />
                  </mat-form-field>

                  <mat-form-field
                    class="w-100"
                    *ngIf="
                      !allowOnlineVerification ||
                      (allowOnlineVerification &&
                        visitDetails['Insurance']?.display !== 'NHIF')
                    "
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label>VOTE NO. or COMPANY</mat-label>
                    <input
                      matInput
                      placeholder="Enter Text"
                      [(ngModel)]="visitDetails['voteNumber']"
                    />
                  </mat-form-field>
                  <mat-checkbox
                    (change)="toggleAuthorizationNumberInputActive($event)"
                    >Tick if you can NOT authorize now</mat-checkbox
                  >

                  <mat-form-field
                    class="w-100"
                    *ngIf="
                      visitDetails['InsuranceAuthNo'] !== 'NOT_AUTHORIZED' &&
                      visitDetails['insuranceScheme']?.uuid
                    "
                    appearance="fill"
                    floatLabel="always"
                  >
                    <mat-label
                      >Insurance Authorization NO.
                      {{ canYouAuthorize }}</mat-label
                    >
                    <input
                      matInput
                      placeholder="Enter Text"
                      [(ngModel)]="visitDetails['InsuranceAuthNo']"
                    />
                  </mat-form-field>
                </div>

                <p *ngIf="visitDetails['Payment']['display'] == 'Cash'">
                  Track Scheme
                </p>

                <mat-chip-list
                  aria-label="Payments"
                  *ngIf="visitDetails['Payment']['display'] == 'Cash'"
                >
                  <mat-chip
                    *ngFor="let option of currentPaymentCategory['setMembers']"
                    (click)="setPaymentOptions('Cash', option)"
                    color="{{
                      option?.uuid == visitDetails['Cash']?.uuid
                        ? 'primary'
                        : ''
                    }}"
                    [selected]="option?.uuid == visitDetails['Cash']?.uuid"
                    >{{ option?.display }}</mat-chip
                  >
                </mat-chip-list>
              </div>
            </div>
          
    

        <!-- hapa {{ visitPayloadViable() }} {{ params.loadingVisit }} -->

        <div class="row" *ngIf="editMode">
          <div class="col-md-12" style="text-align: right">
            <button
              id="btn-start-visit"
              class="ml-2"
              mat-flat-button
              color="primary"
              (click)="updateVisit($event)"
              [disabled]="
                !(
                  (!editMode &&
                    visitDetails?.visitType?.uuid &&
                    visitDetails?.Payment &&
                    visitDetails?.service?.display &&
                    (visitDetails?.Cash ||
                      (visitDetails?.Insurance && visitDetails?.InsuranceID)) &&
                    visitDetails?.RoomName) ||
                  (editMode && visitDetails?.RoomName)
                ) || params.loadingVisit
              "
            >
              <mat-spinner
                color="primary"
                *ngIf="params.loadingVisit"
                [diameter]="20"
                style="display: inline-block !important; margin-right: 4px"
              ></mat-spinner>
              {{ params?.loadingVisit ? "Updating visit..." : "Update Visit" }}
            </button>
          </div>
        </div>

        
      </div>
    
