<div
  *ngIf="{
    drugOrders: drugOrders$ | async,
    patientVisitData: patientVisitData$ | async,
    generalPrescriptionOrderType: generalPrescriptionOrderType$ | async,
    useGeneralPrescription: useGeneralPrescription$ | async,
    currentVisit: currentVisit$ | async
  } as drugParams"
>
  <table
    class="table"
    *ngIf="
      drugParams?.patientVisitData?.drugOrders &&
      !forConsultation &&
      drugParams?.useGeneralPrescription !== 'true'
    "
  >
    <thead>
      <tr>
        <th>SN</th>
        <th>Drug Details</th>
        <th>Prescribed By</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let drugOrder of drugParams?.patientVisitData?.drugOrders;
          let count = index
        "
      >
        <td>{{ count + 1 }}</td>
        <td>{{ drugOrder?.drug?.display }}</td>
        <td>
          {{ drugOrder?.orderer?.display }}
        </td>
        <td>
          {{ drugOrder?.dateActivated | date: "medium" }}
        </td>
      </tr>
    </tbody>
  </table>
  <div
    *ngIf="drugParams?.currentVisit && drugParams?.generalPrescriptionOrderType"
  >
    <table class="w-100 table table-bordered">
      <tbody>
        <tr class="p-4">
          <app-current-prescriptions
            [visit]="drugParams?.currentVisit"
            [genericPrescriptionOrderType]="
              drugParams?.generalPrescriptionOrderType
            "
          ></app-current-prescriptions>
        </tr>
        <tr *ngIf="isInpatient">
          <td colspan="3">
            <button
              mat-flat-button
              class="float-right"
              color="primary"
              (click)="onAddOrder($event)"
            >
              <mat-icon>add</mat-icon>
              <span class="ml-2">Add Prescription</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <table
    class="table table-bordered"
    *ngIf="
      drugParams?.patientVisitData?.drugOrders &&
      forConsultation &&
      drugParams?.useGeneralPrescription !== 'true'
    "
  >
    <thead>
      <tr>
        <th style="width: 10px">SN</th>
        <th>Drug</th>
        <th>Instructions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr
          *ngFor="
            let drugOrder of drugParams?.patientVisitData?.drugOrders;
            let count = index
          "
        >
          <td>
            {{ count + 1 }}
          </td>
          <td>
            {{ drugOrder?.drugOrder?.display }}
          </td>
          <td>
            {{ drugOrder?.drugOrder.instructions }}
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="isInpatient">
        <tr>
          <td colspan="3">
            <button
              mat-flat-button
              class="float-right"
              color="primary"
              (click)="onAddOrder($event)"
            >
              <mat-icon>add</mat-icon>
              <span class="ml-2">Add Prescription</span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <mat-progress-bar
    *ngIf="!drugParams?.patientVisitData?.drugOrders"
    mode="indeterminate"
  ></mat-progress-bar>
  <div
    class="w-100"
    *ngIf="
      drugParams?.patientVisitData?.drugOrders &&
      drugParams?.patientVisitData?.drugOrders?.length === 0
    "
  >
    <p class="text-center text-warning">No Prescription done.</p>
  </div>
</div>
