<div class="w-100 d-flex justify-content-between">
  <div class="custom-selection">
    <div class="h5 text-center">Available</div>
    <!-- <div class="d-flex float-left w-100 ml-1">
      <mat-form-field class="w-75" style="font-size: 0.9rem">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon
        ><input
          type="text"
          placeholder="Search"
          matInput
          autocomplete="off"
          (keyup)="searchConcept($event)"
        />
      </mat-form-field>
    </div> -->
    <ul class="concept-list">
      <li
        (click)="getSelectedItem($event, concept)"
        *ngFor="let concept of concepts"
      >
        {{ concept?.display }}
      </li>
    </ul>
  </div>
  <div style="width: 10%"></div>
  <div class="custom-selection">
    <div class="h5 text-center">Selected</div>
    <ul class="concept-list">
      <li
        (click)="removeSelectedItem($event, concept)"
        *ngFor="let concept of selectedItems"
      >
        {{ concept?.display }}
      </li>
    </ul>
  </div>
</div>
