// START: Info Container
.info-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 46px;
  width: 50%;
  background-color: #fff;
  z-index: 1000;
  // overflow-y: auto !important;
}
// END: Info Container

.sticky {
  position: fixed !important;
  background-color: #fff !important;
  /* position: sticky !important; */
}

.cancel {
  float: right;
  color: orangered;
}

.cancel:hover {
  float: right;
  color: orangered;
  cursor: pointer;
}

iframe {
  width: 100% !important;
  height: 100vh !important;
  overflow-y: auto !important;
  padding: 0;
  border: 0;
}
