<div class="patient-profile-container" *ngIf="patientDetails">
  <div class="row">
    <div class="col-md-1 col-sm-6 col-sx-6">
      <mat-icon class="text-muted" style="font-size: 80px">person</mat-icon>
    </div>
    <div class="col-md-11 col-sm-6 col-sx-6">
      <div
        color="primary"
        class="row patient-prifile-header d-flex justify-content-left"
      >
        <span class="mr-2 client-names">
          {{ patientDetails?.person?.display }},
          {{ patientDetails?.person?.middleName }}
        </span>
        <span class="mr-2 age-and-gender-details"
          >(<b>{{
            patientDetails?.person?.gender === "M" ? "Male" : "Female"
          }}</b>
          |
          {{ patientDetails?.person?.age }} Yrs |
          {{ patientDetails?.person?.birthdate | date }}
          )
        </span>
      </div>
      <div
        class="
          row
          other-demographic-details
          d-flex
          flex-direction-column
          justify-content-between
        "
      >
        <div class="col-md-5 col-sm-6 col-sx-6">
          <div class="item-left p-items">
            MRN: <span class="text-muted"> {{ patientDetails?.mrn }}</span>
            <span class="ml-2">
              Phone:
              <span class="text-muted">
                {{
                  patientDetails?.person?.phone
                    ? patientDetails?.person?.phone
                    : " - "
                }}
              </span>
            </span>

            <span
              >Email:
              <span class="text-muted">
                {{
                  patientDetails?.person?.email
                    ? patientDetails?.person?.email
                    : " - "
                }}
              </span>
            </span>
            <span class="ml-2">
              Payment type:
              <span class="text-muted">
                {{ (activeVisit$ | async)?.isEnsured ? "INSURANCE" : "CASH" }}
              </span>
            </span>
            <app-patient-address
              [personUuid]="currentPatient?.patient?.person?.uuid"
            >
            </app-patient-address>
          </div>
        </div>
        <div
          *ngIf="
            (activeVisit$ | async)?.isEnsured &&
            (activeVisit$ | async) as activeVisit
          "
          class="col-md-7 col-sm-12 col-sx-12"
        >
          <app-patient-visit-attributes-details
            [attributes]="activeVisit?.patientProfileAttributes"
          ></app-patient-visit-attributes-details>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <button class="float-right" (click)="toggleVitals($event)">Vitals</button>
    </div>
  </div> -->
</div>
<!-- <div *ngIf="vitalsIsSet"></div> -->
<!-- TODO: Add insurance name, in case it is there -->
