<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 10px">SN</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-container>
      <ng-container *ngIf="forConsultation">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
