<div class="loading-overlay" *ngIf="savingData">
  <div class="text-center">
    <div>Saving discharge details...</div>
    <div class="mt-3 d-flex justify-content-center w-100">
      <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
    </div>
  </div>
</div>
<mat-toolbar color="primary">
  <span>Confirm creating bed order</span>
  <span class="toolbar-spacer"></span>
  <span class="float-right"></span>
  <button mat-icon-button mat-dialog-close matTooltip="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <div>You are about to confirm a patient to continue</div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="m-0 p-3">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onConfirm($event, encounterData)"
    cdkFocusInitial
  >
    Confirm
  </button>
</mat-dialog-actions>
