.elevated-card {
    margin-top: 20px; 
    box-shadow: 0 8px 8px 7px rgba(0, 0, 0, 0.055)!important;
  }
  
  .observations-chart-table-container {
    overflow-x: auto; 
  }
  
  table.table {
    width: 100%; 
  }
  