<div *ngIf="{
  exemptionOrderType: orderType$ | async
} as params">
  <div class="border">
    <mat-toolbar>
      <button mat-icon-button [routerLink]="''" matTooltip="Go to Home page">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="ml-2">Exemption</span>
    </mat-toolbar>
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loading || !params?.exemptionOrderType"
    ></mat-progress-bar>
    <!-- patient list -->
    <div class="mat-elevation-z1" *ngIf="visitsLength > 0">
      <app-table [columns]="billingColumns" [loading]="loadingVisits" [loadingDataError]="loadingVisitsError"
        [tableConfig]="tableConfig" [data$]="visits$" (selectRow)="onSelectVisit($event)"></app-table>
    </div>
    <div class="no-exemptions" *ngIf="visitsLength == 0">
      <h4>
        No Exemption Requests at the moment
      </h4>
    </div>
  </div>
</div>