.dialog-header {
    display: flex;
    justify-content: flex-end;
    padding: 8px;

    .close-button {
        position: absolute;
        
        &:hover {
            cursor: pointer;
        }
    }
}