<div class="dialog-header sticky-header mb-3 p-3">
  <p (click)="closeDialog()" class="close-button">
    <mat-icon>close</mat-icon>
  </p>
  <h2 mat-dialog-title class="dialog-title">Add Sample Referral</h2>
</div>

<mat-horizontal-stepper #stepper linear>
  <mat-step label="Step 1" #referralSamplesInformationStep>
    <ng-template matStepLabel>Referral Samples Information</ng-template>
    <ng-template matStepContent>
      @if(referralForms?.sample_information){
      <app-referral-sample-information 
        (stepComplete)="referralDestinationStep.completed = true; stepper.next()"></app-referral-sample-information>
      }
      @else {
      <p class="alert alert-warning">No Referral Samples Information Form configured for referrals. Please contact
        system administrator.</p>
      }
    </ng-template>
  </mat-step>

  <mat-step label="Step 2" #referralDestinationStep>
    <ng-template matStepLabel>Referral Destination Information</ng-template>
    <ng-template matStepContent>
      @if(referralForms?.destination_information){
      <app-referral-destination-information
        (stepComplete)="referralDestinationStep.completed = true; stepper.next()"
      ></app-referral-destination-information>
      }
      @else {
      <p class="alert alert-warning">No Referral Destination Information Form configured for referrals. Please contact
        system administrator.</p>
      }
    </ng-template>
  </mat-step>

  <mat-step label="Step 3" #referralPackagingStep>
    <ng-template matStepLabel>Referral Packaging Information</ng-template>
    <ng-template matStepContent>
      @if(referralForms?.packaging_information){
      <app-referral-packaging-information
        (stepComplete)="referralPackagingStep.completed = true; stepper.next()"></app-referral-packaging-information>
      }
      @else {
      <p class="alert alert-warning">No Referral Packaging Information Form configured for referrals. Please contact
        system administrator.</p>
      }
    </ng-template>
  </mat-step>

  <mat-step label="Step 4" #referralTransportStep>
    <ng-template matStepLabel>Referral Transport Information</ng-template>
    <ng-template matStepContent>
      @if(referralForms?.transport_information){
      <app-referral-transport-information
        (stepComplete)="onCompletereferralForm()"></app-referral-transport-information>
      }
      @else {
      <p class="alert alert-warning">No Referral Transport Information Form configured for referrals. Please contact
        system administrator.</p>
      }
    </ng-template>
  </mat-step>
</mat-horizontal-stepper>