<div *ngIf="{ commonlyOrderedItems: commonlyOrderedItems$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.commonlyOrderedItems"
  ></mat-progress-bar>
  <table class="table">
    <tbody>
      <tr
        *ngFor="
          let orderedItem of params?.commonlyOrderedItems;
          let count = index
        "
        (click)="onSelectDrug($event, orderedItem)"
        [class]="{
          'out-of-stock': orderedItem?.drug?.quantity === 0,
          'has-tock': orderedItem?.drug?.quantity > 0
        }"
      >
        <td>
          {{ count + 1 }}
        </td>
        <td>
          {{ orderedItem?.drug?.display }}
          <span *ngIf="orderedItem?.drug?.quantity"
            >({{ orderedItem?.drug?.quantity }})</span
          >
        </td>
        <td>
          {{ orderedItem?.count }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
