<div *ngIf="{ ledgerTypes: ledgerTypes$ | async } as params">
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="!params?.ledgerTypes"
  ></mat-progress-bar>
  <div *ngIf="params?.ledgerTypes">
    <table class="table">
      <thead>
        <tr>
          <th>SN</th>
          <th>Ledger Type</th>
          <th>Description</th>
          <th>Operation</th>
          <!-- <th></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ledgerType of params?.ledgerTypes; let count = index">
          <td>
            {{ count + 1 }}
          </td>
          <td>
            {{ ledgerType?.name }}
          </td>
          <td></td>
          <td>
            {{ ledgerType?.operation == "+" ? "Add" : "Deduct" }}
          </td>
          <!-- <td></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
