<div class="users-profiles-and-access-control">
  <mat-tab-group>
    <mat-tab label="Users">
      <ng-template matTabContent>
        <div class="p-3">
          <app-user-management-dashboard></app-user-management-dashboard>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="user Profiles">
      <ng-template matTabContent>
        <div class="p-3">
          <p>Under construction</p>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Users Access">
      <ng-template matTabContent>
        <div class="p-3">
          <p>Under construction</p>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
