<ng-container
  *ngIf="{
    form: form$ | async,
    savingObservations: savingObservations$ | async,
    observations: observations$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="!params?.form || !params?.observations"
    mode="indeterminate"
  ></mat-progress-bar>
  <ng-container>
    <mat-toolbar color="primary">
      <span>{{ params?.form?.name }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button mat-dialog-close matTooltip="close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-dialog-content
      class="mt-2 ml-1 mr-1"
      *ngIf="params?.form && params?.observations"
    >
      <app-capture-form-data
        [form]="params?.form"
        [visit]="visit"
        [observations]="params?.observations"
        (formDataUpdate)="onFormUpdate($event, params?.form)"
      ></app-capture-form-data>
    </mat-dialog-content>
    <mat-progress-bar
      *ngIf="!params?.form || !params?.observations"
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-dialog-actions align="end" class="mb-2 ml-2 mr-2">
      <button mat-stroked-button (click)="onClose($event)">Cancel</button>
      <button
        mat-flat-button
        color="primary"
        (click)="saveCurrentFormData($event)"
      >
        <mat-spinner
          color="primary"
          *ngIf="params?.savingObservations"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        ></mat-spinner>
        {{ savingObservations ? "Saving ..." : "Save" }}
      </button>
    </mat-dialog-actions>
  </ng-container>
</ng-container>
