<ng-container
  *ngIf="{
    admissionStatus: admissionStatus$ | async,
    orderType: orderType$ | async,
    loadingVisit: loadingVisit$ | async,
    currentLocation: currentLocation$ | async,
    locationsIds: locationsIds$ | async
  } as admissionParams"
>
  <!-- {{ admissionParams?.currentLocation | json }} -->
  <mat-toolbar color="primary">
    <span>Admit {{ currentPatient?.name }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button mat-dialog-close matTooltip="close">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-dialog-content class="mat-typography">
    <div
      *ngIf="
        !admissionParams?.loadingVisit &&
        admissionParams?.orderType &&
        admissionParams?.currentLocation
      "
    >
      <app-wards-list
        [currentLocation]="admissionParams?.currentLocation"
        [locationBedsDetails]="admissionParams?.currentLocation"
        [bedOrdersWithBillStatus]="bedOrdersWithBillStatus"
        [locationsIds]="admissionParams?.locationsIds"
        (bedStatus)="onGetBedStatus($event, admissionParams?.orderType)"
      ></app-wards-list>
    </div>
    <mat-progress-bar
      *ngIf="
        admissionParams?.loadingVisit ||
        !admissionParams?.orderType ||
        !admissionParams?.currentLocation
      "
      mode="indeterminate"
    ></mat-progress-bar>
  </mat-dialog-content>
  <!-- <mat-dialog-actions align="end" class="m-0 p-3">
    <button mat-stroked-button class="float-right" (click)="onClose($event)">
      Done
    </button>
  </mat-dialog-actions> -->
</ng-container>
