.table {
    overflow-x:auto;
}
.save-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px; /* Adjust the margin as needed */
  }
// th {
//     width: 300px;
// }