<div
  class="settings"
  *ngIf="{
    LISConfigurations: LISConfigurations$ | async,
    labSections: labSections$ | async,
    provider: provider$ | async,
    currentUser: currentUser$ | async
  } as params"
>
  <mat-progress-bar
    class="mt-2"
    *ngIf="!params?.LISConfigurations || !params?.currentUser"
  ></mat-progress-bar>
  <mat-tab-group
    *ngIf="params?.LISConfigurations && params?.currentUser"
    [selectedIndex]="selectedTab.value"
    (selectedTabChange)="onChangeRoute($event)"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab
      label="Tests Parameters Management"
      *ngIf="params?.LISConfigurations?.isLIS"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-parameters-dashboard
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-parameters-dashboard>

          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Test methods" *ngIf="params?.LISConfigurations?.isLIS">
      <ng-template matTabContent>
        <div class="p-3">
          <app-test-methods-dashboard
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-test-methods-dashboard>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="Test Orders & Specimen Sources"
      *ngIf="params?.LISConfigurations?.isLIS"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-test-orders-management
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-test-orders-management>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="Sections, Labs & Instruments Management"
      *ngIf="params?.LISConfigurations?.isLIS"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-labs-and-sections-management
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-labs-and-sections-management>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab
      label="Batch Registration Management"
      *ngIf="
        params?.LISConfigurations?.isLIS &&
        params?.labSections &&
        params?.provider
      "
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-register-sample
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
            [provider]="params?.provider"
            [labSections]="params?.labSections"
            [LISConfigurations]="params?.LISConfigurations"
            [fromMaintenance]="true"
          ></app-register-sample>
          <mat-progress-bar mode="indeterminate" *ngIf="!params?.currentUser">
          </mat-progress-bar>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="
              params?.currentUser && !params?.currentUser?.userPrivileges['ALL']
            "
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="Worksheets Management"
      *ngIf="params?.LISConfigurations?.isLIS"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-worksheet-management
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-worksheet-management>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="Users, Profiles & Access Control"
      *ngIf="
        params?.LISConfigurations?.isLIS &&
        params?.currentUser &&
        (params?.currentUser?.userPrivileges['ALL'] ||
          params?.currentUser?.userPrivileges['MAINTENANCE_USER_MANAGEMENT'] ||
          params?.currentUser?.userPrivileges[
            'MAINTENANCE_USER_ROLES_MANAGEMENT'
          ] ||
          params?.currentUser?.userPrivileges[
            'MAINTENANCE_USER_PRIVILEGE_MANAGEMENT'
          ])
      "
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-profiles-and-access-control
            *ngIf="params?.currentUser?.userPrivileges['ALL']"
            [currentUser]="params?.currentUser"
          ></app-profiles-and-access-control>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="{{
        params?.LISConfigurations?.isLIS
          ? 'Extended Test Settings'
          : 'Test Control & Settings'
      }}"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-extended-parameters-settings
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
            [LISConfigurations]="params?.LISConfigurations"
          ></app-extended-parameters-settings>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="System Settings">
      <ng-template matTabContent>
        <div class="p-3" *ngIf="params?.currentUser">
          <app-lab-system-settings
            [currentUser]="params?.currentUser"
          ></app-lab-system-settings>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Reports" *ngIf="params?.LISConfigurations?.isLIS">
      <ng-template matTabContent>
        <div class="p-3">
          <ngx-standard-report
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
            [actionType]="'manage'"
            [additionalKey]="'lis'"
          ></ngx-standard-report>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Other" *ngIf="params?.LISConfigurations?.isLIS">
      <ng-template matTabContent>
        <div class="p-3">
          <app-other-lab-configurations
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-other-lab-configurations>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab
      label="System & Audit logs"
      *ngIf="params?.LISConfigurations?.isLIS"
    >
      <ng-template matTabContent>
        <div class="p-3">
          <app-system-logs
            *ngIf="
              params?.currentUser && params?.currentUser?.userPrivileges['ALL']
            "
          ></app-system-logs>
          <div
            class="alert alert-warning"
            role="alert"
            *ngIf="!params?.currentUser?.userPrivileges['ALL']"
          >
            Seems you do not have access to view this page
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
