<div
  class="sample-registration-page"
  *ngIf="{
    currentUser: currentUser$ | async,
    provider: provider$ | async,
    LISConfigurations: LISConfigurations$ | async,
    labSections: labSections$ | async,
    specimenSources: specimenSources$ | async,
    personEmailAttributeTypeUuid: personEmailAttributeTypeUuid$ | async,
    personPhoneAttributeTypeUuid: personPhoneAttributeTypeUuid$ | async,
    sampleRegistrationCategoriesConceptUuid:
      sampleRegistrationCategoriesConceptUuid$ | async
  } as params"
>
  <div
    *ngIf="
      params?.provider &&
      params?.LISConfigurations &&
      params?.labSections &&
      params?.specimenSources &&
      params?.personEmailAttributeTypeUuid &&
      params?.personPhoneAttributeTypeUuid &&
      params?.currentUser &&
      params?.sampleRegistrationCategoriesConceptUuid
    "
  >
    <app-register-sample
      [provider]="params?.provider"
      [labSections]="params?.labSections"
      [LISConfigurations]="params?.LISConfigurations"
      [specimenSources]="params?.specimenSources"
      [currentUser]="params?.currentUser"
      [personPhoneAttributeTypeUuid]="params?.personPhoneAttributeTypeUuid"
      [personEmailAttributeTypeUuid]="params?.personEmailAttributeTypeUuid"
      [sampleRegistrationCategoriesConceptUuid]="
        params?.sampleRegistrationCategoriesConceptUuid
      "
    ></app-register-sample>
  </div>

  <mat-progress-bar
    *ngIf="
      !params?.provider ||
      !params?.LISConfigurations ||
      !params?.labSections ||
      !params?.specimenSources ||
      !params?.personEmailAttributeTypeUuid ||
      !params?.personPhoneAttributeTypeUuid ||
      !params?.currentUser ||
      !params?.sampleRegistrationCategoriesConceptUuid
    "
    mode="indeterminate"
  ></mat-progress-bar>
</div>
