<div
  class="sample-registration-page"
  *ngIf="{
    provider: provider$ | async,
    LISConfigurations: LISConfigurations$ | async
  } as params"
>
  <div></div>
  <div *ngIf="params?.provider && params?.LISConfigurations">
    <app-register-sample
      [provider]="params?.provider"
      [LISConfigurations]="params?.LISConfigurations"
    ></app-register-sample>
  </div>

  <mat-progress-bar
    *ngIf="!params?.provider || !params?.LISConfigurations"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
