<!-- <mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Nested Menus</h1>
</mat-toolbar> -->
<div
  *ngIf="{
    currentMenuDepartments: currentMenuDepartments$ | async,
    routeParams: routeParams$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="!params?.currentMenuDepartments"
    mode="indeterminate"
  ></mat-progress-bar>
  <mat-sidenav-container
    class="page-container"
    autosize
    *ngIf="params?.currentMenuDepartments"
  >
    <mat-sidenav #sidenav class="maintenance-sidenav" mode="side" opened="true">
      <!-- <app-maintenance-side-menu
        [pages]="pages"
        [currentMenuDepartments]="params?.currentMenuDepartments"
        (selectedMenuItem)="getSelectedMenuItem($event)"
      ></app-maintenance-side-menu> -->

      <mat-nav-list *ngFor="let page of pages">
        <mat-list-item
          (click)="onNnavigateToThis($event, page, null)"
          [ngClass]="{
            'selected-menu-item': currentMenu?.id === page?.id
          }"
        >
          {{ page?.name }}
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <div class="page-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>

<!-- <div class="maintenance-container">
  <div class="sidebar-container maintenance-sidebar mat-elevation-z1">
    <mat-nav-list>
      <mat-list-item [routerLink]="['']">
        <mat-icon mat-list-icon>arrow_back</mat-icon>
        <div mat-line>Home</div>
      </mat-list-item>
      <div mat-subheader>Maintenance</div>
      <mat-list-item *ngFor="let page of pages">
        <a matLine (click)="setRoute($event, page?.id)">{{ page.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="sidebar-content-container">
    <router-outlet></router-outlet>
  </div>
</div> -->
