<div
  class="w-100"
  *ngIf="{ storeLocations: storeLocations$ | async } as params"
>
  <mat-progress-bar mode="indeterminate" *ngIf="!params?.storeLocations">
  </mat-progress-bar>
  <div *ngIf="params?.storeLocations">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip
        [ngClass]="{ 'selected-store': currentStoreLocation?.id === store?.id }"
        (click)="onSetCurrentStore($event, store)"
        *ngFor="let store of params?.storeLocations"
      >
        {{ store?.display }}
      </mat-chip>
    </mat-chip-list>
    <div *ngIf="currentStoreLocation" class="mt-2">
      <app-stock></app-stock>
    </div>
  </div>
</div>
