<div class="store-settings">
  <mat-tab-group>
    <mat-tab label="Ledgers">
      <ng-template matTabContent>
        <app-ledgers-list></app-ledgers-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Re-orders levels">
      <ng-template matTabContent>
        <app-re-order-level-items-list></app-re-order-level-items-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Suppliers">
      <ng-template matTabContent>
        <app-suppliers-list></app-suppliers-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
