.field-btn {
  width: 100% !important;
}

.for-checkbox-btns {
  margin-bottom: 15px;
}

// .mat-form-field-appearance-legacy .mat-form-field-wrapper {
//   padding-bottom: 1em;
//   background-color: #fff;
// }

// .mat-form-field-appearance-legacy .mat-form-field-underline {
//   background-color: #fff;
// }

// textarea {
//   margin-top: 6px;
//   background-color: #fff;
// }

.mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-option {
  word-wrap: break-word;
  white-space: pre-line;
  border-bottom: 1px solid rgba(0,0,0,.125);
  text-overflow: ellipsis;
  display: block;
  line-height: 30px;
  padding: 0 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
