<mat-card class="mat-elevation-z0 border">
  <div *ngIf="stock">
    <div>
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center w-75">
          <button mat-icon-button (click)="onClose($event)">
            <mat-icon>arrow_backward</mat-icon>
          </button>
          <span class="ml-2 span-fit">{{ stock.name }}</span>
        </div>
        <button
          mat-flat-button
          mat-button
          color="primary"
          [disabled]="saving"
          (click)="onOpenBatchForm($event, 'ADD')"
          [style.height]="'40px'"
        >
          <mat-spinner
            color="primary"
            *ngIf="saving"
            [diameter]="20"
            style="display: inline-block !important; margin-right: 4px"
          ></mat-spinner>
          Add Batch
        </button>
      </div>
    </div>
    <table class="table mt-2">
      <tr>
        <td>#</td>
        <td>Batch No</td>
        <td>Quantity</td>
        <td>Expiry Date</td>
        <td><span class="float-right">Actions</span></td>
      </tr>
      <tr *ngIf="stock?.batches?.length === 0">
        <td colspan="5">
          <div class="w-100 d-flex justify-content-center">No data</div>
        </td>
      </tr>
      <tr *ngFor="let stockBatch of stock.batches; let batchIndex = index">
        <td>{{ batchIndex + 1 }}</td>
        <td>{{ stockBatch?.batchNo }}</td>
        <td>{{ stockBatch?.quantity }}</td>
        <td>
          {{ stockBatch?.expiryDate | date }}
          <span class="text-muted">({{ stockBatch?.remainingDays }})</span>
        </td>
        <td>
          <div class="d-flex justify-content-end">
            <button
              mat-flat-button
              color="primary"
              (click)="onOpenBatchForm($event, 'ADD', stockBatch)"
            >
              Add
            </button>
            <button
              mat-flat-button
              class="ml-2"
              color="warn"
              (click)="onOpenBatchForm($event, 'DEDUCT', stockBatch)"
            >
              Deduct
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</mat-card>
