<div class="sample-list-table w-100" *ngIf="fieldsWithValues.length">
      <!-- <mat-paginator
        [length]="30"
        [pageSize]=""
        [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
        (page)="onPageChange($event)"
    >

    </mat-paginator> -->
    <mat-progress-bar *ngIf="!fieldWithValuesChanged" mode="indeterminate"></mat-progress-bar>
    <table class="table table-striped table-hovered" *ngIf="fieldWithValuesChanged">
        <thead>
            <tr>
                <th>Test Batch</th>
                <ng-container *ngFor="let field of dynamicFields">
                  <th>{{ field.label }}</th>
                </ng-container>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fieldValue of fieldsWithValues">
                <td>Batch</td>
                <ng-container *ngFor="let value of fieldValue">
                  <ng-container *ngFor="let field of dynamicFields">
                    <td>{{ value[field.key] }}</td> 
                  </ng-container>
                </ng-container>
                <td class="d-flex">
                    <button mat-flat-button class="ml-3" style="border:1px solid #cecece"><mat-icon>edit</mat-icon></button>
                    <button mat-flat-button class="ml-3" style="border:1px solid #cecece" color="warn"><mat-icon>delete_outline</mat-icon></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<mat-progress-bar *ngIf="!dynamicFields.length" mode="indeterminate"></mat-progress-bar>
<div *ngIf="dynamicFields.length">
    <div class="row">
        <div class="col-11 fluid-form">
          <app-form
            [fields]="dynamicFields"
            [isFormHorizontal]="true"
            (formUpdate)="onFormUpdate($event)"
          >  
          </app-form>
        </div>
        <div class="col-1">
          <button mat-fab color="primary" (click)="onAddSampleData()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
    </div>
  </div>
  
<div
  *ngIf="{
    labLocations: labLocations$ | async
  } as params"
>
  <div class="row">
    <div class="col-12" *ngIf="savingDataResponse?.error">
      <div *ngIf="savingDataResponse?.error?.error">
        <div
        class="alert alert-danger"
          *ngFor="
            let globalError of savingDataResponse?.error?.error?.globalErrors
          "
          role="alert"
        >
          {{ globalError?.message }}
        </div>
      </div>
      <div *ngIf="savingDataResponse?.fieldErrors?.activeAttributes">
        <div
          class="alert alert-danger"
          *ngFor="
            let activeAttribute of savingDataResponse?.fieldErrors
              ?.activeAttributes
          "
          role="alert"
        >
          {{ activeAttribute?.message }}
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="col-12 ml-2 mr-2">
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>

    <!-- <div class="col-12" *ngIf="savingData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div> -->
    <div class="loading-overlay" *ngIf="savingData">
      <div class="text-center">
        <div>Saving sample...</div>
        <div class="mt-3 d-flex justify-content-center w-100">
          <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-2 mb-2">
      <button
        mat-flat-button
        color="primary"
        [disabled]="
          errorMessage ||
          !broughtOnTimeValid ||
          !receivedOnTimeValid ||
          !collectedOnTimeValid
        "
        class="ml-2"
        (click)="onSave($event, params?.labLocations)"
      >
        Save Samples
      </button>
    </div>
  </div>
</div>
