<div class="p-4">
  <div class="h5 text-left">
    {{ data?.ledger?.name ? data?.ledger?.name : data?.ledger?.name }}
    <b *ngIf="data?.currentItemStockz">{{ data?.currentItemStock?.name }}</b>
  </div>
  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>Saving ...</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="w-100 mt-4">
    <app-form
      *ngIf="searchItemField"
      [fields]="[searchItemField]"
      (formUpdate)="onGetSelectedItem($event)"
    ></app-form>
    <app-form
      *ngIf="formFields"
      [fields]="formFields"
      (formUpdate)="onFormUpdate($event)"
    ></app-form>
  </div>
  <div class="w-100 d-flex justify-content-end mt-2">
    <button mat-stroked-button (click)="onClose($event)">Close</button>
    <button
      [disabled]="!isFormValid"
      mat-flat-button
      color="primary"
      class="ml-2"
      (click)="onSave($event)"
    >
      Save
    </button>
  </div>
</div>
