<div class="p-2">
  <!-- {{ params?.samples | json }} -->
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
  <div class="row">
    <div class="col-12">
      <app-shared-dashboard-single-value-container
        [datesParams]="datesParams"
      ></app-shared-dashboard-single-value-container>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <!-- <app-shared-dashboard-chart-container></app-shared-dashboard-chart-container> -->
    </div>
  </div>
</div>
