<div
  class="w-100"
  *ngIf="{
    providerShedulesResponse: providerShedulesResponse$ | async
  } as params"
>
  <div class="row">
    <div
      class="col-2"
      *ngFor="let schedule of params?.providerShedulesResponse?.results"
    >
      <div><b>Provider:</b> {{ schedule?.provider?.display }}</div>
      <div><b>Location:</b> {{ schedule?.location?.display }}</div>
      <div><b>Start Date:</b> {{ schedule?.startDate | date }}</div>
      <div><b>Start Time:</b> {{ schedule?.startTime }}</div>
      <div><b>End Date:</b> {{ schedule?.endDate | date }}</div>
      <div><b>End Time:</b> {{ schedule?.endTime }}</div>
    </div>
  </div>
</div>
