<div>
  <mat-tab-group>
    <mat-tab label="Sample Disposal">
      <div
        *ngIf="{
          allSamples: allSamples$ | async,
          testResultsMapping: testResultsMapping$ | async,
          externalSystemsReferenceConceptUuid:
            externalSystemsReferenceConceptUuid$ | async
        } as sampleParams"
      >
        <mat-progress-bar
          *ngIf="!sampleParams?.allSamples"
          mode="indeterminate"
        ></mat-progress-bar>
      
        <div class="loading-overlay" *ngIf="saving">
          <div class="text-center">
            <div>Saving data</div>
            <div class="mt-3 d-flex justify-content-center w-100">
              <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
            </div>
          </div>
        </div>
        <app-sample-disposal *ngIf="sampleParams?.allSamples"
          [allSamples]="sampleParams?.allSamples"
          [externalSystemsReferenceConceptUuid]="sampleParams?.externalSystemsReferenceConceptUuid"
          [LISConfigurations]="LISConfigurations"
          (dispose)="onDispose($event)"
        ></app-sample-disposal>
      </div>
    </mat-tab>
        <mat-tab label="Sample Storage">
      <div
        *ngIf="{
          allSamples: allSamples$ | async,
          samplesWithResults: samplesWithResults$ | async,
          testResultsMapping: testResultsMapping$ | async,
          externalSystemsReferenceConceptUuid:
            externalSystemsReferenceConceptUuid$ | async
        } as sampleParams"
      >
        <mat-progress-bar
          *ngIf="!sampleParams?.allSamples"
          mode="indeterminate"
        ></mat-progress-bar>
      
        <div class="loading-overlay" *ngIf="saving">
          <div class="text-center">
            <div>Saving data</div>
            <div class="mt-3 d-flex justify-content-center w-100">
              <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
            </div>
          </div>
        </div>
      
        <div *ngIf="sampleParams?.allSamples">
          <!-- <div class="sample-dashboard-summary">
            <app-samples-summary-dashboard></app-samples-summary-dashboard>
          </div> -->
          <div class="filtering-div">
            <mat-form-field class="w-50">
              <mat-label>Search</mat-label>
              <mat-icon matPrefix>search</mat-icon
              ><input
                matInput
                (keyup)="onSearch($event)"
                [(ngModel)]="searchingText"
              />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-30 ml-2 float-right">
              <mat-label
                >Select
                {{ !LISConfigurations?.isLIS ? "Department" : "Section" }}</mat-label
              >
              <mat-select [(value)]="selectedDepartment">
                <mat-option (click)="setDepartment('')">All</mat-option>
                <mat-option
                  *ngFor="let dept of labSamplesDepartments"
                  [value]="dept.display"
                  (click)="setDepartment(dept.display)"
                >
                  {{ dept.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="p-1">
            <!-- {{ sampleParams?.samplesWithResults | json }} -->
            <table class="table table-bordered">
              <thead class="table-header">
                <tr>
                  <th rowspan="2">SN</th>
                  <th rowspan="2">Department</th>
                  <th rowspan="2" *ngIf="!LISConfigurations?.isLIS">
                    Sample / Specimen
                  </th>
                  <th rowspan="2">Laboratory ID</th>
                  <th rowspan="2" *ngIf="!LISConfigurations?.isLIS">MRN</th>
                  <th rowspan="2" *ngIf="!LISConfigurations?.isLIS">Patient Names</th>
                  <th colspan="2" class="text-center">Test Orders Details</th>
                  <th rowspan="2" *ngIf="LISConfigurations?.isLIS">Received By</th>
                  <th rowspan="2" *ngIf="LISConfigurations?.isLIS">Received On</th>
                  <th rowspan="2">
                    {{ !LISConfigurations?.isLIS ? "Collected By" : "Registered By" }}
                  </th>
                  <th rowspan="2">
                    {{ !LISConfigurations?.isLIS ? "Collected On" : "Registered On" }}
                  </th>
                  <th rowspan="2">Priority</th>
                  <th rowspan="2">Status</th>
                  <th rowspan="2">Action</th>
                </tr>
                <tr>
                  <th>Test Order</th>
                  <th>
                    {{ !LISConfigurations?.isLIS ? "Collected By" : "ID" }}
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
