 <div *ngIf="{
          stockStatusForSelectedStore: stockStatusForSelectedStore$ | async } as params">
  <mat-toolbar>Requisition Form</mat-toolbar>
  <div class="mt-4">
      <ng-container *ngIf="requisition?.items?.length && !addingRequisitions">
        <mat-accordion>
          <mat-expansion-panel
            class="border mat-elevation-z0 mt-2"
            [expanded]="false"
          >
            <mat-expansion-panel-header class="d-flex justify-content-end">
              <mat-panel-title>
                <div class="w-75">
                  <span> <strong>
                    Items in draft
                  </strong></span>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="items-table">
              <div style="overflow: auto">
                <table class="table">
                  <tr>
                    <td>#</td>
                    <td>Store</td>
                    <td>Item</td>
                    <td>Quantity</td>
                    <td><span class="float-right">Actions</span></td>
                  </tr>
                 

                  <tr
                    *ngFor="let item of requisition?.items; let itemIndex = index"
                  >
                    <td>{{ itemIndex + 1 }}</td>
                    <td>Test Store {{ itemIndex + 1 }}</td>
                    <td>Test Item {{ itemIndex + 1 }}</td>
                    <td>{{item?.quantity}}</td>
                    <td>
                      ...
                    </td>
                  </tr>
                </table>
            </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <div class="requisition-form">
        <table class="table w-100">
          <tbody>
            <tr>
              <td>
                <app-form
                  [fields]="targetStoreField"
                  (formUpdate)="onUpdateForm($event)"
                ></app-form>
              </td>
              <td>
                <app-form
                  [fields]="requisitionFields"
                  [isFormHorizontal]="true"
                  (formUpdate)="onUpdateForm($event)"
                ></app-form>
                <div
                  class="w-100 ml-2 mr-2 mb-2"
                  *ngIf="params?.stockStatusForSelectedStore"
                >
                  Available Stock:
                  <b>
                    {{ params?.stockStatusForSelectedStore?.eligibleQuantity }}
                  </b>
                </div>
              </td>
              <td>
                <app-form
                  [fields]="quantityField"
                  (formUpdate)="onUpdateForm($event)"
                ></app-form>
              </td>
              <td>
                <button
                class="mt-1"
                (click)="onAdd($event)"
                mat-flat-button
                color="primary"
                style="height: 45px"
              >
                Add 
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="w-100 alert alert-warning"
        role="alert"
        *ngIf="
          params?.stockStatusForSelectedStore?.eligibleQuantity && specifiedQuantity &&
          specifiedQuantity >
            params?.stockStatusForSelectedStore?.eligibleQuantity
        "
      >
        Request can not exceed availability. {{ params?.stockStatusForSelectedStore?.eligibleQuantity ? 'Available quantity is ' + params?.stockStatusForSelectedStore?.eligibleQuantity : '' }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
</div>
