<div class="sample-registration-confirmation p-3">
  <div class="h5">{{ dialogData?.popupHeader }}</div>
  <div class="rejection-reasons">
    @if(dialogData?.forRejection){
      <app-form
        [fields]="[rejectionReasonField]"
        (formUpdate)="onFormUpdate($event)"
      >
      </app-form>
    }

    @if(dialogData?.canReferSample){
      <div>
        <mat-checkbox color="primary" (change)="onMarkSampleForReferral($event)">
          Mark this sample for referral
        </mat-checkbox>
      </div>
    }
  </div>
  <div class="w-100 d-flex justify-content-end mt-2">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="!isFormValid && dialogData?.forRejection"
      (click)="onFinalize($event, dialogData?.forRejection ? 'reject': 'continue')"
      class="ml-2"
    >
      Done
    </button>
  </div>
</div>
