<div class="other-configs">
  <mat-tab-group>
    <mat-tab label="Codes References">
      <ng-template matTabContent>
        <div class="p-3">
          <app-concept-reference-terms></app-concept-reference-terms>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Coding Sources">
      <ng-template matTabContent>
        <div class="p-3">
          <app-concept-sources></app-concept-sources>
        </div>
      </ng-template>
    </mat-tab>
    <!-- <mat-tab label="Coded References Types">
      <ng-template matTabContent>
        <div class="p-3">
          <app-concept-map-types></app-concept-map-types>
        </div>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>
</div>
