.laboratory-home-content {
  border-radius: 5px;
}

.laboratory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  // position: fixed;
  z-index: 200;
  background-color: #FFF;
  padding: 10px 5px;
  margin-top: 170px;
}

.active-route {
  background-color: #2a8fd1; // TODO use variable
  color: #fff !important;
}

.laboratory-home-container {
  padding: 0 10px;
}

.laboratory-home-container a {
  text-decoration: none;
}
