<div class="">
  <div class="mt-4">
    <div class="border">
      <mat-toolbar>
        <button
          mat-icon-button
          (click)="onBack($event)"
          matTooltip="Go to Home page"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="ml-2">Clients for E-claim</span>
      </mat-toolbar>
      <div>
        <mat-tab-group>
          <mat-tab label="All">
            <app-patient-list
              [itemsPerPage]="10"
              [isTabularList]="true"
              [defaultFilter]="'Insurance'"
              (selectPatient)="onSelectPatient($event)"
            ></app-patient-list>
          </mat-tab>
          <mat-tab label="Claims">
            <app-patient-list
              [itemsPerPage]="10"
              [isTabularList]="true"
              [defaultFilter]="'Insurance'"
              (selectPatient)="onSelectPatient($event)"
            ></app-patient-list>
          </mat-tab>
          <mat-tab label="Submitted Claims">
            <app-patient-list
              [itemsPerPage]="10"
              [isTabularList]="true"
              [defaultFilter]="'Insurance'"
              (selectPatient)="onSelectPatient($event)"
            ></app-patient-list>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
