@if({
formId: formId,
provider: provider$ | async,
currentUser: currentUser$ | async
}; as params){

    @if(loading){
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else {
        <app-sample-referral-form 
            [formId]="formId"
            [haveThisForm]="false"
            [withOrderType]="true"
            [combineWithOr]="false"
            [saveButtonText]="'Save Transport Information'"
            [observations]="observations"
            [selectedSample]="selectedSample"
            (stepComplete)="stepComplete.emit()"
            (saveForm)="onSaveTransportInformation($event)"></app-sample-referral-form>
    }



}