button,
button:hover {
  outline: none !important;
}

.item-count-selection {
  padding: 8px 12px;
  border-radius: 3px;
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%),
    0px 0px 0px 0px rgb(0 0 0 / 12%);
}
