<div>
  <div class="border">
    <mat-toolbar>
      <button mat-icon-button [routerLink]="''" matTooltip="Go to Home page">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="ml-2">Dispensing</span>
    </mat-toolbar>
    <div>
      <mat-tab-group>
        <mat-tab label="To dispense">
          <div class="p-2">
            <app-patient-list
              [isTabularList]="true"
              [itemsPerPage]="25"
              [orderType]="'iCARESTS-PRES-1111-1111-525400e4297f'"
              [orderStatusCode]="'EMPTY'"
              (selectPatient)="onSelectPatient($event)"
            ></app-patient-list>
          </div>
        </mat-tab>
        <mat-tab label="Already dispensed">
          <div class="p-2">
            <app-patient-list
              [isTabularList]="true"
              [itemsPerPage]="25"
              [orderType]="'iCARESTS-PRES-1111-1111-525400e4297f'"
              [orderStatusCode]="'DISPENSED'"
              (selectPatient)="onSelectPatient($event)"
            ></app-patient-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
