<ng-container>
  <mat-card>
    <div class="p-3 ml-2 mr-2">
      <h2 mat-dialog-title>
        <b> Change your password </b>
      </h2>
      <hr style="margin-top: 2px; margin-bottom: 4px" />
      <form [formGroup]="userForm" class="example-form">
        <mat-form-field appearance="fill" autocomplete="off">
          <mat-label> Current Password </mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Current Password"
            [type]="oldPassword ? 'password' : 'text'"
            formControlName="oldpassword"
            required
            autocomplete="off"
          />
          <mat-hint *ngIf="!oldPasswordInput.value"
            >Enter your current password</mat-hint
          >
          <mat-icon matSuffix (click)="oldPassword = !oldPassword"
            >{{ oldPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" autocomplete="off">
          <mat-label> Password </mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            autocomplete="off"
            (focusout)="confirmStrongPassword($event)"
            (focus)="onFocus($event)"
          />
          <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>

        <mat-error *ngIf="currentPasswordIsEquelToNew"
          >New Password can not be the same as the current one</mat-error
        >
        <mat-error class="text-danger" *ngIf="!passwordStrong"
          ><b>Password too weak.</b> {{ passwordStrengthMessage }}</mat-error
        >

        <mat-form-field
          appearance="fill"
          autocomplete="off"
          *ngIf="hide"
          style="margin-top: 14px"
        >
          <mat-label> Confirm Password </mat-label>
          <input
            autocomplete="off"
            matInput
            placeholder="Confirk Password"
            [type]="hide ? 'password' : 'text'"
            [errorStateMatcher]="confirmErrorMatcher"
            formControlName="confirmpassword"
            autocomplete="off"
            (focusout)="confirmPassword($event)"
            (focus)="onConfirmPassWordFocus($event)"
          />
          <mat-hint *ngIf="!confirmpassword.value">Confirm Password</mat-hint>
        </mat-form-field>
        <span *ngIf="confirmFocusOut && !passwordMatch" class="mt-0 text-danger"
          ><b>Passwords must match.</b></span
        >
        <div class="d-flex justify-content-end">
          <button
            mat-stroked-button
            color="primary"
            style="
              height: 40px;
              width: 100px;
              background-color: rgb(173, 172, 172);
            "
            (click)="onClose()"
          >
            <mat-icon>cancel</mat-icon>
            <span>CANCEL</span>
          </button>
          <button
            mat-flat-button
            color="primary"
            style="height: 40px; width: 100px"
            (click)="saveData()"
            [disabled]="
              !userForm.valid ||
              saving ||
              currentPasswordIsEquelToNew ||
              !passwordMatch
            "
          >
            <ng-container *ngIf="saving">
              <span class="ml-2">Saving</span>
              <mat-icon [ngClass]="{ 'fa-spin': saving }">cached</mat-icon>
            </ng-container>
            <ng-container *ngIf="!saving">
              <mat-icon [diameter]="20">save</mat-icon>
              <span>Save</span>
            </ng-container>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
</ng-container>
