mat-form-field {
  width: 100%;
}

button {
  margin: 14px 5px 5px 5px;
}
.cancel {
  color: rgb(255, 152, 0);
}

mat-form-field {
  line-height: normal;
  margin-top: 14px;
}
mat-form-field:hover {
  cursor: pointer;
}
mat-form-field:active {
  cursor: auto;
}
input {
  height: 100%;
  margin-top: 10px;
  appearance: textfield;
  padding: 0px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.87);
  cursor: inherit;
  font: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  box-sizing: border-box;
}

input:hover {
  cursor: pointer;
}

p {
  margin-top: 14px;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
