<!-- <div class="visit">
    <mat-vertical-stepper [linear]="false" #stepper>
        <mat-step *ngFor="let formsObservations of obsBasedOnForms">
            <ng-template matStepLabel>{{ formsObservations?.form }}</ng-template>
            <div class="step-body ml-1">
                <div class="card pt-4 ">
                    <ul>
                        <li *ngFor="let field of formsObservations?.fields">
                            
                            <ng-container *ngIf="field?.formFields?.length">
                                <ng-container *ngFor="let formField of field?.formFields">
                                    <div *ngIf="formsObservations?.obs[formField?.key]">
                                        <p>
                                            <strong>
                                                {{ formField?.label }}
                                            </strong>
                                        </p>
                                        <p *ngFor="let observation of formsObservations?.obs[formField?.key]">
                                            {{
                                                observation?.value?.uuid ? observation?.value?.display : observation?.valueNumeric ? observation?.valueNumeric : observation?.value
                                            }}
                                        </p>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!field?.formFields && formsObservations?.obs[field?.formField?.key]">
                                <p>
                                    <strong>
                                        {{ field?.formField?.label }}
                                    </strong>
                                </p>
                                <p *ngFor="let observation of formsObservations?.obs[field?.formField?.key]">
                                    {{
                                        observation?.value?.uuid ? observation?.value?.display : observation?.valueNumeric ? observation?.valueNumeric : observation?.value
                                    }}
                                </p>
                            </ng-container>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-step>
        <mat-step *ngIf="drugsPrescribed.length > 0">
            <ng-template matStepLabel>Medications</ng-template>
            <div class="card pt-4 ">
                <ul>
                    <li *ngFor="let drug of drugsPrescribed; let index = index">    
                     <p>
                        <strong>
                            {{ drug.obs[specificDrugConceptUuid] ? drug.obs[specificDrugConceptUuid]?.comment : drug?.display }} 
                        </strong>
                     </p>
                     <p>
                         <span *ngIf="prescriptionArrangementFields">
                         {{ drug.obs[prescriptionArrangementFields['1']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['1']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['1']?.uuid]?.value }}
                         ({{ drug.obs[prescriptionArrangementFields['2']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['2']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['2']?.uuid]?.value }})
                         {{ drug.obs[prescriptionArrangementFields['3']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['3']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['3']?.uuid]?.value }}
                         {{ drug.obs[prescriptionArrangementFields['4']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['4']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['4']?.uuid]?.value }}
                         {{ drug.obs[prescriptionArrangementFields['5']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['5']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['5']?.uuid]?.value }}
                         {{ drug.obs[prescriptionArrangementFields['6']?.uuid]?.value?.display ? drug.obs[prescriptionArrangementFields['6']?.uuid]?.value?.display : drug.obs[prescriptionArrangementFields['6']?.uuid]?.value }}
                         </span>

                         <ng-container *ngIf="!prescriptionArrangementFields">
                            <span *ngFor="let instruction of drug?.formulatedDescription; let instructonIndex=index">
                                {{ instructonIndex + 1 }}. {{ instruction?.concept?.display }} - {{ instruction?.value?.display ? instruction?.value?.display : instruction?.value }} <br>
                            </span>
                         </ng-container>

                        <span class="faint-small-text"> On 
                            {{ drug.dateActivated | date: "medium" }}
                        </span>
                     </p>
                    </li>
                </ul>
            </div>
        </mat-step>
        <mat-step *ngIf="labOrders.length > 0">
            <ng-template matStepLabel>Lab Orders</ng-template>
            <div class="card pt-4 ">
                <ul>
                    <li *ngFor="let order of labOrders">
                        <strong>
                            {{ order?.order?.concept?.display }}
                        </strong>
                    </li>
                </ul>
            </div>
        </mat-step>
        <mat-step *ngIf="radiologyOrders.length > 0">
            <ng-template matStepLabel>Radiology Orders</ng-template>
            <div class="card pt-4 ">
                <ul>
                    <li *ngFor="let order of radiologyOrders">
                        <strong>
                            {{ order?.order?.concept?.display }}
                        </strong>
                    </li>
                </ul>
            </div>
        </mat-step>
        <mat-step *ngIf="procedureOrders.length > 0">
            <ng-template matStepLabel>Procedure Orders</ng-template>
            <div class="card pt-4 ">
                <ul>
                    <li *ngFor="let order of procedureOrders">
                        <strong>
                            {{ order?.order?.concept?.display }}
                        </strong>
                    </li>
                </ul>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div> -->

<div id="timeline-content">
  <ul class="timeline">
     <li class="event" *ngIf="visitHistory?.visitStopDateTime?.date" [attr.data-date]="[visitHistory?.visitStopDateTime?.date]">
        <p> 
            <strong>
                Visit was stopped
            </strong> 
            <i *ngIf="visitHistory?.visitStopDateTime?.time" class="text-small"> at {{ visitHistory?.visitStopDateTime?.time }} </i>
        </p>
    </li>
    <ng-container *ngFor="let visitData of visitHistory?.visitOrderedData">
        <li class="mini-event" *ngIf="visitData?.category === 'DRUG_ORDER'">
            <p class="data-name"> 
                <strong>
                    {{visitData?.name}}
                </strong>
                <span>
                    <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small">prescribed on {{ visitData?.date }} {{ visitData?.time }} </i>
                </span>
            </p>
            <p class="data-description"> {{ visitData?.description }} </p>
        </li>
        <li class="mini-event" *ngIf="visitData?.category === 'LAB_ORDER'">
            <p class="data-name"> 
                <strong>
                    {{visitData?.order?.display}}
                </strong>
                <span>
                    <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small"> ordered on {{ visitData?.date }} {{ visitData?.time }} </i>
                </span>
            </p>
        </li>
        <li class="mini-event" *ngIf="visitData?.category === 'RADIOLOGY_ORDER'">
            <p class="data-name"> 
                <strong>
                    {{visitData?.order?.display}}
                </strong>
                <span>
                    <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small"> ordered on {{ visitData?.date }} {{ visitData?.time }} </i>
                </span>
            </p>
        </li>
        <li class="mini-event" *ngIf="visitData?.category === 'PROCEDURE_ORDER'">
            <p class="data-name"> 
                <strong>
                    {{visitData?.display}}
                </strong>
                <span>
                    <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small"> ordered on {{ visitData?.date }} {{ visitData?.time }} </i>
                </span>
            </p>
        </li>
        <li class="mini-event" *ngIf="visitData?.category === 'OBSERVATIONS'">
            <p class="data-name"> 
                <strong>
                    {{visitData?.form }}
                </strong>
                <span>
                    <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small"> written on {{ visitData?.date }} {{ visitData?.time }} </i>
                </span>
            </p> 
            <table class="table table-responsive">
                <tbody>
                    <tr>
                        <td *ngFor="let ob of visitData?.obs">
                            {{ ob?.concept?.display }}
                        </td>
                    </tr>
                    <tr>
                        <td *ngFor="let ob of visitData?.obs">
                            {{ ob?.value?.display ? ob?.value?.display : ob?.value  }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ng-container>
    <li class="mini-event" *ngIf="visitHistory?.diagnoses?.PROVISIONAL?.length">
        <p class="data-name"> 
            <strong>
                Provisional Diagnoses
            </strong>
        </p>
        <p class="data-description" *ngFor="let diagnosis of visitHistory?.diagnoses?.PROVISIONAL">
            {{diagnosis?.display}}
        </p>
    </li>
    <li class="mini-event" *ngIf="visitHistory?.diagnoses?.CONFIRMED?.length">
        <p class="data-name"> 
            <strong>
                Confirmed Diagnoses
            </strong>
        </p>
        <p class="data-description" *ngFor="let diagnosis of visitHistory?.diagnoses?.CONFIRMED">
            {{diagnosis?.display}}
        </p>
    </li>
    <li class="event" [attr.data-date]="[visitHistory?.visitStartDateTime?.date]">
        <p> 
            <strong>
                Started new visit
            </strong> 
            <i *ngIf="visitHistory?.visitStartDateTime?.time" class="text-small"> at {{ visitHistory?.visitStartDateTime?.time }} </i>
        </p>
    </li>
    <hr>
  </ul>
</div>