<div *ngIf="{ conceptSources: conceptSources$ | async } as params">
  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>Saving data</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="!saving">
    <mat-radio-group class="category">
      <mat-radio-button
        (change)="getSelection($event)"
        class="category-btn"
        [value]="'List'"
        [checked]="category === 'List'"
        color="primary"
      >
        List
      </mat-radio-button>
      <mat-radio-button
        (change)="getSelection($event)"
        class="category-btn ml-2"
        [value]="'New'"
        [checked]="category === 'New'"
        color="primary"
      >
        New
      </mat-radio-button>
    </mat-radio-group>
    <div class="w-100 mt-2">
      <div class="for-new" *ngIf="category === 'New'">
        <app-form
          [fields]="conceptSourceFields"
          (formUpdate)="onFormUpdate($event)"
        ></app-form>
        <div class="w-100 mt-2 d-flex justify-content-end">
          <button mat-stroked-button (click)="onSave($event)">Save</button>
        </div>
      </div>
      <div class="for-list" *ngIf="category === 'List'">
        <div
          *ngIf="params?.conceptSources"
          style="max-height: 300px; overflow: auto"
        >
          <table class="table">
            <thead>
              <tr>
                <th>SN</th>
                <th>Code source</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let conceptSource of params?.conceptSources;
                  let count = index
                "
              >
                <td>
                  {{ count + 1 }}
                </td>
                <td>
                  {{ conceptSource?.display }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <mat-progress-bar
          *ngIf="!params?.conceptSources"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>
    </div>
  </div>
</div>
