.concept-list {
    height: 320px;
    overflow: auto;
}

.custom-selection {
    width: 45%;
    border: solid 1px #eee;
    height: 450px;
    padding: 16px 4px;
}

ul li {
    list-style-type: none !important;
    padding: 3px;
    cursor: pointer; 
    margin-left: -24px; 
}
ul li:hover {
    color: #2a8fd1; 
}

.multiple-selection-header {
    background-color: #EEE;
    padding: 6px;
    margin: -16px -4px 4px;
}