<div *ngIf="codedOptions$ | async as codedOptions">
  <app-form
    [fields]="[codesMappingsSourceField]"
    (formUpdate)="onFormUpdateForSource($event)"
  ></app-form>
  <div>
    <app-multiple-items-selection
      *ngIf="codedOptions && codedOptions?.length > 0"
      [items]="codedOptions"
      [itemType]="'concept'"
      [selectedItems]="selectedCodes"
      (getSelectedItems)="onGetSelectedMembers($event)"
    ></app-multiple-items-selection>

    <mat-progress-bar
      *ngIf="!codedOptions"
      mode="indeterminate"
    ></mat-progress-bar>
  </div>
</div>
