<div class="w-100" *ngIf="{ customForm: customForm$ | async } as params">
  <fieldset>
    <legend>Drug/Non-drug</legend>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr *ngFor="let item of selectedItems; let count = index">
              <td style="width: 30px">
                {{ count + 1 }}
              </td>
              <td class="w-50">
                {{ item?.name }}
              </td>
              <td></td>
              <td></td>
              <td style="width: 30px">
                <button (click)="onRemove($event, item)" mat-icon-button>
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 d-flex justify-content-left">
        <div class="w-50">
          <app-form
            [fields]="[searchItemFormField]"
            (formUpdate)="onSearchItemFormUpdate($event)"
          ></app-form>
        </div>
        <div class="w-25">
          <button
            mat-button
            (click)="onAddToList($event, formData)"
            [disabled]="!formData"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </fieldset>

  <app-capture-form-data
    *ngIf="params?.customForm"
    [form]="params?.customForm"
    [isGenericForm]="true"
    [isFormHorizontal]="true"
    [formValidationRules]=""
    (formDataUpdate)="onFormUpdate($event)"
  ></app-capture-form-data>
</div>
