<div class="row mt-2">
  <div class="col-md-3 clinical-form-list">
    <mat-form-field class="w-100">
      <input
        autocomplete="off"
        type="text"
        matInput
        placeholder="Search forms"
      />
    </mat-form-field>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let clinicalForm of forms"
        (click)="onSetClinicalForm($event, clinicalForm)"
        class="clinical-form {{
          currentCustomForm?.id === clinicalForm?.id ? 'active-form' : ''
        }}"
      >
        <a matLine>{{ clinicalForm?.name }}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="col-md-9 mt-1 current-clinical-form">
    <div class="h5 mb-3">{{ currentCustomForm?.name }}</div>
    <app-capture-form-data
      *ngIf="currentCustomForm"
      [form]="currentCustomForm"
      [observations]="clinicalObservations"
      (formDataUpdate)="onFormUpdate($event)"
    ></app-capture-form-data>

    <!-- buttons -->
    <div class="d-flex justify-content-end">
      <button
        mat-flat-button
        (click)="onConfirm($event)"
        color="primary"
        [disabled]="savingObservations"
      >
        <mat-spinner
          color="primary"
          *ngIf="savingObservations"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        ></mat-spinner>
        {{ savingObservations ? "Saving ..." : "Save" }}
      </button>
    </div>
  </div>
</div>
