.clinical-form-list {
  border-radius: 5px;
}

.clinical-form {
  background-color: #eeeeee;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 14px;
}

.current-clinical-form {
  background-color: #eee;
  padding: 15px 15px;
}
