<div class="w-100" *ngIf="{
    specificStockInvoice: specificStockInvoice$ | async
} as params">
   <div class="row">
    <div class="col-12">
      <mat-progress-bar mode="indeterminate" *ngIf="params?.specificStockInvoice && loadingInvoice"></mat-progress-bar>
      <table class="table table-hover table-striped" *ngIf="params?.specificStockInvoice?.InvoiceItems?.length && !loadingInvoice">
            <thead>
              <tr>
                <th>#</th>
                <th>Item</th>
                <th>Unit of Measure</th>
                <th>Order Quantity</th>
                <th>Mfg Batch No</th>
                <th>Expiry Date</th>
                <th>Status</th>
                <th>Batch Quantity</th>
                <th>Unit Price</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of params?.specificStockInvoice?.InvoiceItems; let itemIndex = index">
                <td>{{ itemIndex + 1 }}</td>
                <td>{{ item?.item?.display }}</td>
                <td>{{ item?.uom?.display }}</td>
                <td>{{ item?.orderQuantity }}</td>
                <td>{{ item?.batchNo }}</td>
                <td>{{ item?.expiryDate | date:"dd/MM/yyyy" }}</td>
                <td [ngClass]="item?.stockInvoiceItemStatus[0]?.status !== 'RECEIVED' ? 'text-secondary' : 'text-success'">{{ item?.stockInvoiceItemStatus[0]?.status ? item?.stockInvoiceItemStatus[0]?.status : 'DRAFT' }}</td>
                <td>{{ item?.batchQuantity }}</td>
                <td>{{ item?.unitPrice | number: '.2' }}</td>
                <td>{{ item?.amount | number: '.2' }}</td>
                <ng-container *ngIf=" !updateStockInvoice">
                  <td *ngIf="(status !== 'RECEIVED' && item?.stockInvoiceItemStatus[0]?.status !== 'RECEIVED')">
                    <button
                      mat-icon-button
                      [matMenuTriggerFor]="menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="onUpdateStockInvoiceItem(item)"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="onUpdateStockInvoiceItem(item, 'receive')"
                      >
                        <mat-icon>check</mat-icon>
                        <span>Mark Received</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="onUpdateStockInvoiceItem(item, 'delete')"
                      >
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                      </button>
                    </mat-menu>
                  </td>
                </ng-container>
              </tr>
            </tbody>
      </table>
      <table class="table table-hover table-striped" *ngIf="!params?.specificStockInvoice?.InvoiceItems?.length && !loadingInvoice">
        <tbody>
          <tr>
            <h3 class="text-center">This invoice has no items</h3>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>