<mat-card>
  <div class="d-flex justify-content-between mb-2">
    <div class="h4 font-weight-normal">
      <button mat-flat-button style="height: 10px" (click)="onCancel($event)">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      {{ user && user?.uuid ? "Update User" : "Add User" }}
    </div>
  </div>

  <!-- loading section -->
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <!-- end of loading section -->
  <div class="table-responsive p-3" *ngIf="!loading && userForm">
    <form [formGroup]="userForm">
      <ng-container>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              MatFormFieldControl="username"
            >
              <mat-label> Username </mat-label>
              <input
                autocomplete="off"
                matInput
                [value]="userForm?.value?.username"
                placeholder="Username"
                formControlName="username"
                (keyup)="search($event)"
                autocomplete="off"
              />
            </mat-form-field>
            <span
              *ngIf="searching && usernames > 0"
              [matBadge]="usernames"
              matBadgeOverlap="false"
              class="ml-2"
              >Matching usernames
            </span>
            <mat-progress-bar
              mode="indeterminate"
              class="ml-2 w-100 searchloader mt-0"
              *ngIf="searching && usernames == 0"
            >
            </mat-progress-bar>

            <mat-form-field appearance="fill" autocomplete="off">
              <mat-label> Password </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Password"
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
                [errorStateMatcher]="passwordErrorMatcher"
                [required]="passwordIsRequired"
                autocomplete="off"
                (focusout)="confirmStrongPassword($event)"
              />
              <mat-hint *ngIf="!passwordInput.value"
                >Enter your password</mat-hint
              >
              <mat-icon matSuffix (click)="hide = !hide">{{
                hide ? "visibility_off" : "visibility"
              }}</mat-icon>
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              autocomplete="off"
              *ngIf="hide"
              style="margin-top: 14px"
            >
              <mat-label> Confirm Password </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Confirm Password"
                [type]="hide ? 'password' : 'text'"
                [errorStateMatcher]="confirmErrorMatcher"
                formControlName="confirmpassword"
                autocomplete="off"
              />
              <mat-hint *ngIf="!confirmpassword.value"
                >Confirm Password</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field autocomplete="off" MatFormFieldControl="firstName">
              <mat-label> First Name </mat-label>
              <input
                autocomplete="off"
                matInput
                [value]="userForm?.value?.firstName"
                placeholder="First Name"
                formControlName="firstName"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              autocomplete="off"
              MatFormFieldControl="middleName"
            >
              <mat-label> Middle Name </mat-label>
              <input
                autocomplete="off"
                matInput
                [value]="userForm?.value?.middleName"
                placeholder="Middle Name"
                formControlName="middleName"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              autocomplete="off"
              MatFormFieldControl="surname"
            >
              <mat-label>Surname</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Surname"
                [value]="userForm?.value?.surname"
                formControlName="surname"
                autocomplete="off"
              />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              MatFormFieldControl="gender"
              (click)="onClickGender($event)"
            >
              <mat-label> Gender </mat-label>
              <mat-select formControlName="gender">
                <mat-option
                  *ngFor="let option of genderValues"
                  [value]="option.value"
                >
                  {{ option?.display }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              class="example-full-width"
              appearance="fill"
              MatFormFieldControl="birthdate"
              (click)="pickeror.open()"
            >
              <input
                autocomplete="off"
                matInput
                [matDatepicker]="pickeror"
                [max]="today"
                placeholder="Date of Birth"
                (click)="pickeror.open()"
                [readonly]="true"
                [value]="userForm?.value?.birthdate"
                formControlName="birthdate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickeror"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickeror></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              class="example-full-width"
              MatFormFieldControl="addressDisplay"
            >
              <mat-label> Primary Address </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Address"
                formControlName="addressDisplay"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              autocomplete="off"
              class="example-full-width"
              MatFormFieldControl="addressDisplay2"
            >
              <mat-label> Alternative Address </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Alternative Address"
                formControlName="addressDisplay2"
                autocomplete="off"
              />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              class="example-full-width"
              MatFormFieldControl="country"
            >
              <mat-label> Country </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Country"
                formControlName="country"
                autocomplete="off"
              />
            </mat-form-field>
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              class="example-full-width"
              MatFormFieldControl="city"
            >
              <mat-label> Region/City </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Region/City"
                formControlName="city"
                autocomplete="off"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              autocomplete="off"
              MatFormFieldControl="district"
            >
              <mat-label> District/Town </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="District/Town"
                formControlName="district"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field
              appearance="fill"
              autocomplete="off"
              class="example-full-width"
              MatFormFieldControl="postalCode"
            >
              <mat-label> Postal Code </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Postal Code"
                formControlName="postalCode"
                autocomplete="off"
              />
            </mat-form-field>
          </div>
          <div class="col-12">
            <p>
              <mat-checkbox
                #checkbox
                [checked]="shouldCreateProvider"
                (change)="providerAccount(checkbox.checked)"
                >Create Provider Account</mat-checkbox
              >
            </p>
          </div>
          <div class="col-12 mt-2" *ngIf="shouldCreateProvider">
            <div class="row">
              <div class="col-3">
                <mat-form-field
                  appearance="fill"
                  autocomplete="off"
                  MatFormFieldControl="MCTNumber"
                >
                  <mat-label> Provider's MCT Number </mat-label>
                  <input
                    matInput
                    placeholder="Provider's MCT Number"
                    [value]="userForm?.value?.MCTNumber"
                    formControlName="MCTNumber"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field
                  appearance="fill"
                  autocomplete="off"
                  MatFormFieldControl="phoneNumber"
                >
                  <mat-label> Provider's Phone Number </mat-label>
                  <input
                    matInput
                    placeholder="Provider's Phone Number"
                    formControlName="phoneNumber"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field
                  appearance="fill"
                  autocomplete="off"
                  MatFormFieldControl="qualification"
                >
                  <mat-label> Provider's Qualification </mat-label>
                  <input
                    matInput
                    placeholder="Provider's Qualification"
                    formControlName="qualification"
                    autocomplete="off"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-6">
            <ng-container *ngIf="shouldCreateProvider"> </ng-container>
            <h4 style="margin-top: 14px">Locations</h4>
            <mat-form-field class="w-100" appearance="fill" autocomplete="off">
              <mat-label> Search Location </mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Location"
                (keyup)="applyFilterLocations($event)"
                autocomplete="off"
              />
            </mat-form-field>
            <!-- <div class="d-flex justify-content-between w-100">
              <app-multiple-items-selection
                [items]="[]"
                [itemType]="'location'"
                [source]=""
                [tag]="'Login+Location'"
                [selectedItems]="[]"
                (getSelectedItems)="onGetSelectedLocationItems($event)"
              ></app-multiple-items-selection>
            </div> -->
            <div class="d-flex justify-content-between">
              <div
                class="table-locations mat-elevation-z1 mr-4"
                style="width: 900px; margin-left: 1px"
              >
                <table
                  mat-table
                  [dataSource]="locations"
                  class="demo-table"
                  *ngIf="locations.length > 0"
                >
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef>
                      Available Locations
                    </th>
                    <td mat-cell *matCellDef="let location">
                      {{ location.display }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="getLocations($event, row)"
                  ></tr>
                </table>
              </div>
              <!-- <div class="w-25"></div> -->
              <div
                class="table-roles mat-elevation-z1"
                style="width: 900px; margin-left: 1px"
              >
                <table
                  mat-table
                  [dataSource]="selectedLocations"
                  class="demo-table"
                >
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef>
                      Selected Locations
                    </th>
                    <td mat-cell *matCellDef="let location">
                      {{ location.display }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="removeLocation($event, row)"
                  ></tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h4 style="margin-top: 14px">Roles</h4>
            </div>
            <mat-form-field
              appearance="fill"
              style="margin-bottom: 0px"
              class="w-100"
            >
              <mat-label>Search Roles</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Role Name"
                type="search"
                (keyup)="applyFilter($event)"
              />
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <div
              class="d-flex justify-content-between"
              *ngIf="!loading"
              style="z-index: -1"
            >
              <div
                class="table-roles mat-elevation-z1 mr-4"
                style="width: 900px; margin-left: 1px"
              >
                <table
                  mat-table
                  [dataSource]="rolesDataSource"
                  class="demo-table"
                >
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef>Available Roles</th>
                    <td mat-cell *matCellDef="let role">{{ role.display }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="getRoleSingleClick($event, row, 'available')"
                    [style.background-color]="
                      selectedRowAvailable(row).background
                    "
                    [style.color]="selectedRowAvailable(row).color"
                    (dblclick)="getRoleDoubleClick($event, row, 'available')"
                    tabindex="1"
                  >
                    [class.rowColor]="row.rowColor"
                  </tr>
                </table>
              </div>

              <div class="d-flex flex-column align-self-center">
                <button
                  *ngIf="
                    moveToAvailable.length > 0 || moveToSelected.length > 0
                  "
                  disabled
                  class="selected-btn"
                  style="
                    padding: 0;
                    border: none;
                    background: none;
                    margin-bottom: 0px !important;
                  "
                >
                  <ng-container *ngIf="moveToAvailable.length > 0">
                    {{ moveToAvailable.length }}
                  </ng-container>
                  <ng-container *ngIf="moveToSelected.length > 0">
                    {{ moveToSelected.length }}
                  </ng-container>
                  Selected
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  style="height: 30px; width: 100px; margin-top: 5px !important"
                  [disabled]="moveToSelected.length === 0"
                  (click)="onClickMoveToSelected()"
                >
                  <span style="padding: 10px">→</span>
                </button>

                <button
                  mat-flat-button
                  color="primary"
                  style="height: 30px; width: 100px"
                  [disabled]="moveToAvailable.length === 0"
                  (click)="onClickMoveToAvailable()"
                >
                  <span>←</span>
                </button>
              </div>

              <div class="table-roles mat-elevation-z1" style="width: 900px">
                <table
                  mat-table
                  [dataSource]="selectedRolesDatasource"
                  class="demo-table"
                >
                  <ng-container matColumnDef="display">
                    <th mat-header-cell *matHeaderCellDef>Selected Roles</th>
                    <td mat-cell *matCellDef="let role">{{ role.display }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                    (click)="getRoleSingleClick($event, row, 'selected')"
                    [style.background-color]="selectedRow(row).background"
                    [style.color]="selectedRow(row).color"
                    (dblclick)="getRoleDoubleClick($event, row, 'selected')"
                    tabindex="1"
                  ></tr>
                </table>
              </div>
            </div>

            <div class="d-flex justify-content-between" *ngIf="!loading">
              <button
                mat-flat-button
                color="primary"
                style="max-width: 160px"
                (click)="assignAll()"
                [disabled]="roles.length === 0"
              >
                <span style="padding: 10px"
                  >ASSIGN ALL ({{ roles.length }}) →</span
                >
              </button>
              <button
                mat-flat-button
                *ngIf="!loading"
                color="primary"
                style="max-width: 160px"
                (click)="unAssignAll()"
                [disabled]="selectedRoles?.length === 0"
              >
                <span>← REMOVE ALL ({{ selectedRoles?.length }})</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <div>
        <!-- systemModules -->
        <h4 class="mt-2">Others</h4>
        <mat-form-field class="w-25 mt-2">
          <mat-label>Preferred module</mat-label>
          <mat-select
            [(value)]="selectedModules[0]"
            (selectionChange)="onGetPreferredModule($event)"
          >
            <mat-option
              *ngFor="let systemModule of systemModules"
              [value]="systemModule"
              >{{ systemModule?.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-end mt-2">
        <button
          mat-flat-button
          (click)="onCancel($event)"
          color="primary"
          style="max-width: 100px; background-color: rgb(173, 172, 172)"
        >
          <mat-icon [diameter]="25">cancel</mat-icon>
          <span>CANCEL</span>
        </button>
        <button
          mat-flat-button
          color="primary"
          style="max-width: 100px"
          (click)="saveData($event, user)"
          [disabled]="!userForm.valid || saving"
        >
          <ng-container *ngIf="saving">
            <span class="ml-2">Saving</span>
            <mat-icon [ngClass]="{ 'fa-spin': saving }">cached</mat-icon>
          </ng-container>
          <ng-container *ngIf="!saving">
            <mat-icon [diameter]="20">save</mat-icon>
            <span>{{ user && user?.uuid ? "Update" : "Save" }}</span>
          </ng-container>
        </button>
      </div>
    </form>
  </div>
</mat-card>
