<div>
  <div *ngIf="{ patientSummary: patientSummary$ | async } as params">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="!params?.patientSummary"
    ></mat-progress-bar>
    <div class="mt-4">
      <div class="border">
        <mat-toolbar>
          <!--   <button
            mat-icon-button
            (click)="onBack($event)"
            matTooltip="Go to Home page"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <span class="ml-2">Visits</span>
          <button
            mat-button
            class="ml-2"
            id="registration-search-patient"
            (click)="onSearchPatient($event)"
          >
            <mat-icon class="mr-2">search</mat-icon>
            <span>Search from all Patient</span>
          </button> -->

          <span class="ml-2"
            >Total Patients:
            <span style="color: #42abed; font-weight: bold">{{
              params?.patientSummary?.allPatients
            }}</span></span
          >
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <span class="ml-2"
            >Active Visit:
            <span style="color: #42abed; font-weight: bold">{{
              params?.patientSummary?.activeVisits
            }}</span></span
          >

          <span class="toolbar-spacer"></span>

          <button
            mat-flat-button
            id="RegistrationBtn"
            color="primary"
            (click)="goToAddNewClientPage($event, '/registration/add')"
          >
            <mat-icon inline>person_add</mat-icon>
            <span class="ml-2">Register New Patient</span>
          </button>
          <!-- <a class="ml-2 help" (click)="toggleIcareHelp($event)">
            <span>
              <img height="20" src="assets/icons/help_icon-48.png" />
            </span>
            <span> Help </span>
          </a> -->
        </mat-toolbar>

        <div class="centered-container-patient-list">
          <icare-help
            (cancel)="onInfoClose($event)"
            [isInfoOpen]="isInfoOpen"
            [documentURL]="documentURL"
            [appName]="'Registration'"
          ></icare-help>
          <!--    <app-patient-list
            *ngIf="!loadingData"
            [itemsPerPage]="10"
            [isRegistrationPage]="true"
            [isTabularList]="true"
            (selectPatient)="onSelectPatient($event)"
          ></app-patient-list> -->

          <app-patient-search
            (selectPatient)="onSelectPatient($event)"
            (displayList)="onDisplayList($event)"
          ></app-patient-search>

          <div *ngIf="!showCard" class="row mt-4 w-100 mb-4">
            <div
              class="col-lg-3 col-md-3 col-sx-12 col-sm-12 mt-2"
              *ngFor="let location of params?.patientSummary?.locations"
            >
              <app-registration-summary-cards
                [roomNo]="location?.name"
                [location]="location"
                [totalActivePatients]="location?.activeVisits"
              >
              </app-registration-summary-cards>
            </div>
          </div>
          <mat-progress-bar
            mode="indeterminate"
            *ngIf="loadingData"
          ></mat-progress-bar>
        </div>
      </div>
    </div>
  </div>
</div>
