.report-name {
  border-bottom: solid 1px #222 !important;
  border-top: solid 1px #222 !important;
}
.providers-details span {
  margin-right: 10px;
}

#results-to-print {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: solid 1px #f2f2f2;
}

.row-alternated {
  background-color: #f2f2f2;
}
