<div class="p-4">
  <div class="h5 text-center">Additional Fields</div>
  <mat-tab-group class="mt-2">
    <mat-tab label="Choose from defined">
      <ng-template matTabContent>
        <div class="p-3">
          <app-define-additional-data-fields
            [worksheet]="data"
          ></app-define-additional-data-fields>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="New fields">
      <ng-template matTabContent>
        <div class="p-3">
          <app-manage-additional-data-fields></app-manage-additional-data-fields>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="d-flex justify-content-end">
    <button mat-stroked-button (click)="onClose($event)">Close</button>
  </div>
</div>
