<ng-container *ngIf="requisitionObjectkeys?.length > 0">
  <mat-accordion>
    <mat-expansion-panel
      class="border mat-elevation-z0 mt-2"
      *ngFor="let key of requisitionObjectkeys; let keyIndex = index"
      [expanded]="keyIndex === 0"
    >
      <mat-expansion-panel-header class="d-flex justify-content-end">
        <mat-panel-title>
          <div class="w-75">
            <span> <strong>
              Target Store: {{ key?.targetStore }}
            </strong></span>
          </div>
          <div class="w-25">
            <span>Requesting Date: {{ key?.date }}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="items-table">
        <div style="overflow: auto">
          <table class="table">
            <tr>
              <td>#</td>
              <td>Item1</td>
              <td>Quantity Requested</td>
              <td>Requested On</td>
              <td>Quantity Issued</td>
              <td>Issued On</td>
              <td>Requsted From</td>
              <td>Status</td>
              <td><span class="float-right">Actions</span></td>
            </tr>
            <tr *ngIf="requisitionByStoreAndDate && requisitionByStoreAndDate.length === 0">
              <td colspan="7">
                <div class="w-100 d-flex justify-content-center">No data</div>
              </td>
            </tr>

            <tr
              *ngFor="let request of requisitionByStoreAndDate[key?.searchKey]; let requestIndex = index"
            >
              <td>{{ requestIndex + 1 }}</td>
              <td>{{ request?.name }}</td>
              <td>{{ request?.quantityRequested }}</td>
              <td>{{ request?.created | date }}</td>
              <td>{{ request?.quantityIssued || "-" }}</td>
              <td>
                {{ request?.quantityIssued ? (request?.issuedDate | date) : "-" }}
              </td>
              <td>{{ request?.targetStore?.name }}</td>
              <td>
                <div
                  [ngClass]="{
                    'text-warning': request?.status === 'PENDING',
                    'text-success':
                      request?.status === 'REQUESTED' || request?.status === 'RECEIVED',
                    'text-danger': request?.status === 'REJECTED'
                  }"
                >
                  {{ request?.status }}
                </div>
              </td>
              <td>
                <button
                  mat-flat-button
                  color="primary"
                  [disabled]="
                    request?.crudOperationStatus?.status === 'ISSUING' ||
                    request?.status === 'REQUESTED' ||
                    request?.status === 'CANCELLED' ||
                    request?.status === 'REJECTED' ||
                    !currentStore
                  "
                  (click)="onIssue($event, request, currentStore)"
                >
                  <mat-spinner
                    color="primary"
                    *ngIf="request?.crudOperationStatus?.status === 'REQUESTING'"
                    [diameter]="20"
                    style="display: inline-block !important; margin-right: 4px"
                  ></mat-spinner>
                  request
                </button>
                <button
                  mat-flat-button
                  class="ml-2"
                  color="warn"
                  [disabled]="
                    request?.crudOperationStatus?.status === 'REJECTING' ||
                    request?.status === 'REQUESTED' ||
                    request?.status === 'REJECTED' ||
                    request?.status === 'CANCELLED'
                  "
                  (click)="onReject($event, request)"
                >
                  <mat-spinner
                    color="primary"
                    *ngIf="
                      request?.crudOperationStatus?.status === 'REJECTING' 
                    "
                    [diameter]="20"
                    style="display: inline-block !important; margin-right: 4px"
                  ></mat-spinner>
                  Reject
                </button>
              </td>
              <td>
                <section>
                  <mat-checkbox
                    color="primary"
                    [enabled]="request?.status === 'REQUESTED' || 
                    request?.status === 'CANCELLED' ||
                    request?.status === 'REJECTED' ||
                    !currentStore"
                    (change)="getSelection($event, request)"
                    [checked]="selectedRequests[request?.id]"
                  ></mat-checkbox>
                </section>
              </td>
            </tr>
          </table>
      </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>