.menu-items {
  background-color: #42abed;
  display: flex;
  padding: 0 10px 7px 10px;
}

.menu-item-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.sub-menu-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 7px 15px 7px 15px;
}

.mat-standard-chip {
  height: auto !important;
  font-size: 12px;
  font-weight: normal;
}

.menu-item {
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  height: 75px;
  width: 120px !important;
  padding: 10px 7px 7px 7px;
  margin: -1px 2px 2px 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .menu-label {
    font-size: 11px;
  }
}

.selected-module {
  background-color: #2a8fd1;
}

.selected-user-location {
  background-color: #2a8fd1 !important;
  color: #fff !important;
}

.mat-chip-resemblance {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  padding: 5px 12px;
  border-radius: 12px;
  align-items: center;
  cursor: default;
  min-height: 26px;
  height: 1px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  white-space: nowrap;
  overflow: hidden;
}

// My css
::ng-deep .mat-chip-list-wrapper {
  flex-wrap: nowrap !important;
  overflow-x: auto;
  mat-chip {
    flex: 0 0 auto;
  }
}
::-webkit-scrollbar {
  height: 0;
}
