<div
  class="row"
  *ngIf="{
    selectedTestMethodDetails: selectedTestMethodDetails$ | async,
    conceptSources: conceptSources$ | async
  } as params"
>
  <div class="col-lg-7 col-md-7 col-sx-12 col-sm-12">
    <div class="h5">New {{ itemTypeName }}</div>
    <hr />
    <div class="loading-overlay" *ngIf="saving">
      <div class="text-center">
        <div>Saving data</div>
        <div class="mt-3 d-flex justify-content-center w-100">
          <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
        </div>
      </div>
    </div>
    <div *ngIf="!saving" class="row">
      <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
        <app-form
          [fields]="basicConceptFields"
          (formUpdate)="onFormUpdate($event)"
        ></app-form>

        <div *ngIf="searchTermForTestMethod">
          <app-form
            [fields]="[testMethodField]"
            (formUpdate)="onFormUpdateTestMethod($event)"
          ></app-form>
        </div>

        <mat-progress-bar
          *ngIf="
            searchTermForTestMethod &&
            testMethodSelected &&
            !params?.selectedTestMethodDetails
          "
          mode="indeterminate"
        ></mat-progress-bar>
        <div
          *ngIf="
            (isSet && !editingSet && !searchTermForTestMethod) ||
            (searchTermForTestMethod &&
              testMethodSelected &&
              params?.selectedTestMethodDetails)
          "
        >
          <div class="h5">
            {{ setMembersHeaderName }}
          </div>
          <app-concept-set-members
            [setMembersSearchTerm]="setMembersSearchTerm"
            [selectedSetMembersItems]="selectedSetMembers"
            [setMembersListFromTestMethod]="
              params?.selectedTestMethodDetails?.setMembers
            "
            (selectedSetMembers)="onGetSelectedSetMembers($event)"
          ></app-concept-set-members>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
        <div
          *ngIf="
            !dataType &&
            conceptDataTypes &&
            conceptDataTypes?.length > 0 &&
            !inheritProperties
          "
        >
          <app-form
            [fields]="[dataTypeField]"
            (formUpdate)="onFormUpdateForDataType($event)"
          ></app-form>
        </div>
        <div
          *ngIf="
            inheritProperties ||
            (!dataType && conceptDataTypes && conceptDataTypes?.length > 0)
          "
        >
          <app-form
            *ngIf="
              formData['datatype']?.value ==
              '8d4a4488-c2cc-11de-8d13-0010c6dffd0f'
            "
            [fields]="[displayPrecisionField]"
            (formUpdate)="onFormUpdate($event)"
          ></app-form>
          <app-form
            *ngIf="
              formData['datatype']?.value ==
              '8d4a4488-c2cc-11de-8d13-0010c6dffd0f'
            "
            [fields]="[unitsField]"
            (formUpdate)="onFormUpdate($event)"
          ></app-form>
        </div>
        <fieldset>
          <legend>{{ itemTypeName }} Codes</legend>
          <div *ngIf="params?.conceptSources">
            <app-codes-selection
              [conceptSources]="params?.conceptSources"
              (selectedCodesItems)="onGetSelectedCodes($event)"
            ></app-codes-selection>
          </div>

          <mat-progress-bar
            *ngIf="!params?.conceptSources"
            mode="indeterminate"
          ></mat-progress-bar>
        </fieldset>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-end mt-2">
      <button mat-stroked-button (click)="onCancel($event)">Cancel</button>
      <button
        class="ml-2"
        mat-stroked-button
        [disabled]="
          (!isFormValid && !searchTermForTestMethod) ||
          (!isFormValid &&
            searchTermForTestMethod &&
            selectedSetMembers?.length === 0)
        "
        (click)="onSave($event, selectedTestMethodDetails)"
        color="primary"
      >
        {{ !conceptUuid ? "Save" : "Update" }}
      </button>
    </div>
  </div>
  <div class="col-lg-5 col-md-5 col-sx-12 col-sm-12">
    <div class="h5" *ngIf="itemTypeName">{{ itemTypeName }}s</div>
    <app-standard-concepts-list
      *ngIf="!saving"
      [standardSearchTerm]="standardSearchTerm"
      [selectedConceptUuid]="conceptUuid"
      (conceptToEdit)="onConceptEdit($event)"
    ></app-standard-concepts-list>
  </div>
</div>
