.patient-input-container {
  position: absolute;
  background-color: #ffffff;
  z-index: 100;
  left: 0;
  right: 0;
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

.patient-search-input-block {
  width: 100%;
  border-radius: 25px;
  background-color: #ffffff;
}

.patient-search-input-block:hover,
.patient-content-available {
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.15);
}

#patient-search-list {
  padding-top: 75px;
}

.patient-search-input {
  display: flex;
  text-align: left;
  align-items: center;

  mat-icon {
    line-height: 25px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4) !important;
  }

  #input-search-patient {
    border: none !important;
    background-color: transparent;
  }

  #input-search-patient:focus {
    outline: none !important;
  }
}
