<div class="w-100 manage-system-setting p-3">
  <div class="h3 text-center">
    {{ dialogData?.property ? dialogData?.property : dialogData?.key }}
  </div>
  <div class="loading-overlay" *ngIf="savingData">
    <div class="text-center">
      <div>Saving data</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="entry-form p-1" *ngIf="!message">
    <app-form [fields]="formFields" (formUpdate)="onFormUpdate($event)">
    </app-form>
  </div>
  <div class="alert alert-success p-3" role="alert" *ngIf="message">
    {{ message }}
  </div>
  <div class="p-1 mt-2 mb-2 d-flex justify-content-end" *ngIf="!message">
    <button mat-stroked-button (click)="onCancel($event)">Cancel</button>
    <button
      [disabled]="!isFormValid && dataType != 'Boolean'"
      mat-stroked-button
      class="ml-2"
      color="primary"
      (click)="onSave($event)"
    >
      Save
    </button>
  </div>
</div>
