.admit-btn,
.cancel-btn {
  float: right;
}

.admit-btn {
  background-color: #2a8fd1; // TODO use variable
  color: #fff !important;
}

.admission-container {
  padding: 0 !important;
}

.form {
  padding: 25px;
}

.btns {
  padding: 5px 15px;
}
