<div
  class="admission-container"
  *ngIf="{
    form: form$ | async,
    locations: admissionLocations$ | async,
    provider: provider$ | async,
    visit: currentVisit$ | async,
    admittingLoadingState: admittingLoadingState$ | async,
    admissionStatus: admissionStatus$ | async,
    currentLocation: currentLocation$ | async,
    observationLocations: observationLocations$ | async,
    orderTypes: orderTypes$ | async
  } as params"
>
  <mat-progress-bar
    *ngIf="!params?.form || !params?.orderTypes"
    mode="indeterminate"
  ></mat-progress-bar>
  <div *ngIf="params?.form && params?.orderTypes" style="padding: 0px">
    <div class="h5 p-3">
      {{ sendToObservation ? "Send to Observation: " : "Admit" }}
      {{ patient?.display }}
    </div>
    <hr style="margin: 0 !important" />
    <div class="form" *ngIf="!params?.admissionStatus">
      <mat-form-field
        *ngIf="
          (sendToObservation &&
            params?.observationLocations &&
            params?.observationLocations.length > 0) ||
          (!sendToObservation &&
            params?.locations &&
            params?.locations.length > 0)
        "
        class="w-100"
        appearance="legacy"
        style="border: solid 1px #adadad; border-radius: 6px"
      >
        <mat-label>{{
          sendToObservation ? "Send to: " : "Admit to:"
        }}</mat-label>
        <mat-select [(ngModel)]="admitTo" required>
          <mat-option
            *ngFor="
              let option of sendToObservation
                ? params?.observationLocations
                : params?.locations
            "
            [value]="option"
          >
            {{ option?.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="
          params?.observationLocations &&
          params?.observationLocations.length === 0 &&
          sendToObservation
        "
      >
        Missing Ward or Bed, contact IT
      </div>

      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="
          !sendToObservation &&
          params?.locations &&
          params?.locations.length === 0
        "
      >
        Missing Ward or Bed
      </div>
    </div>
    <div *ngIf="params?.admissionStatus">
      <h3 style="text-align: center" color="primary">
        {{
          sendToObservation ? "Successfully sent! " : "Successfully admitted!"
        }}
      </h3>
    </div>

    <div class="w-100 d-flex justify-content-end btns">
      <button
        mat-stroked-button
        [disabled]="!admitTo || params?.admissionStatus"
        class="mr-2 admit-btn"
        (click)="
          onSaveForm(
            $event,
            params?.provider,
            params?.visit,
            params?.currentLocation,
            params?.orderTypes
          )
        "
      >
        <mat-spinner
          color="primary"
          *ngIf="params?.admittingLoadingState"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        ></mat-spinner>
        Confirm
      </button>
      <button
        mat-stroked-button
        class="mr-2 cancel-btn"
        (click)="onClose($event)"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
