<div
  *ngIf="{
    reports: reports$ | async,
    reportsAccessConfigurations: reportsAccessConfigurations$ | async,
    userRoles: userRoles$ | async,
    standardReports: standardReports$ | async,
    reportsParametersConfigurations: reportsParametersConfigurations$ | async
  } as params"
>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      !params?.reports ||
      !params?.reportsAccessConfigurations ||
      !params?.userRoles ||
      !params?.standardReports ||
      !params?.reportsParametersConfigurations
    "
  ></mat-progress-bar>
  <div
    class="w-100"
    *ngIf="
      params?.reports &&
      params?.reportsAccessConfigurations &&
      params?.userRoles &&
      params?.standardReports &&
      params?.reportsParametersConfigurations
    "
  >
    <app-reports-groups-list
      [accessConfigs]="params?.reportsAccessConfigurations"
      [userRoles]="params?.userRoles"
      [reports]="params?.reports"
      [standardReports]="params?.standardReports"
      (reloadList)="onReloadList($event)"
      [reportsParametersConfigurations]="
        params?.reportsParametersConfigurations
      "
    ></app-reports-groups-list>
  </div>
</div>
