<div
  class="tes-orders-management"
  *ngIf="{
    conceptDataTypes: conceptDataTypes$ | async,
    testRelationshipMappingSourceUuid:
      testRelationshipMappingSourceUuid$ | async
  } as params"
>
  <div>
    <mat-tab-group>
      <mat-tab label="Test Orders">
        <ng-template matTabContent>
          <div class="p-3">
            <app-standard-concept-creation
              *ngIf="params?.conceptDataTypes"
              [conceptClass]="'Test'"
              [inheritProperties]="true"
              [isSet]="true"
              [conceptDataTypes]="params?.conceptDataTypes"
              [standardSearchTerm]="'TEST_ORDERS'"
              [searchTermForTestMethod]="'TEST_METHODS'"
              [setMembersSearchTerm]="'LIS_TEST_PARAMETER'"
            ></app-standard-concept-creation>
            <mat-progress-bar
              *ngIf="!params?.conceptDataTypes"
              mode="indeterminate"
            ></mat-progress-bar>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Specimen Sources">
        <ng-template matTabContent>
          <div class="p-3">
            <app-standard-concept-creation
              *ngIf="params?.conceptDataTypes"
              [conceptClass]="'Specimen'"
              [dataType]="'8d4a4c94-c2cc-11de-8d13-0010c6dffd0f'"
              [isSet]="true"
              [setMembersHeaderName]="'Test Orders'"
              [conceptDataTypes]="params?.conceptDataTypes"
              [standardSearchTerm]="'SPECIMEN_SOURCE'"
              [setMembersSearchTerm]="'TEST_ORDERS'"
            ></app-standard-concept-creation>

            <mat-progress-bar
              *ngIf="!params?.conceptDataTypes"
              mode="indeterminate"
            ></mat-progress-bar>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Test Orders Parameters Relationship">
        <ng-template matTabContent>
          <div class="p-3">
            <mat-progress-bar
              *ngIf="!params?.testRelationshipMappingSourceUuid"
              mode="indeterminate"
            ></mat-progress-bar>
            <app-test-order-parameters-relationship
              *ngIf="params?.testRelationshipMappingSourceUuid"
              [testRelationshipMappingSourceUuid]="
                params?.testRelationshipMappingSourceUuid
              "
            ></app-test-order-parameters-relationship>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-progress-bar
    *ngIf="!params?.conceptDataTypes"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
