<div
  class="row"
  *ngIf="{
    encounterInformation: encounterInformation$ | async,
    sampleConditions: sampleConditions$ | async,
    sampleDetails: sampleDetails$ | async,
    externalSystems: externalSystems$ | async,
    diagnoses: diagnoses$ | async
  } as params"
>
  <ng-container *ngIf="!params?.sampleDetails">
    <div
      class="w-100"
      style="display: flex; justify-content: center; align-items: center"
    >
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="params?.sampleDetails">
    <div class="col-md-8">
      <div class="d-flex">
        <div class="w-50">
          <p>FileNO: {{ params?.sampleDetails?.mrn }}</p>
          <p>
            Names:
            {{ sample?.patient?.givenName + " " + sample?.patient?.familyName }}
          </p>
          <p>
            <span> Gender:{{ sample?.patient?.gender }} </span>
            <span class="ml-2">
              Age: {{ sample?.patient?.age }}
              <span class="text-muted">
                ({{ sample?.patient?.dob | date }})
              </span>
            </span>
          </p>
          <p *ngIf="params.sampleConditions?.TRANSPORT_CONDITION">
            <span
              >Transport Condition:
              {{ params.sampleConditions?.TRANSPORT_CONDITION }}</span
            >
          </p>
          <p *ngIf="params.sampleConditions?.TRANSPORT_TEMPERATURE">
            <span
              >Transportation Temperature:
              {{ params.sampleConditions?.TRANSPORT_TEMPERATURE }}</span
            >
          </p>
        </div>
        <div class="w-50">
          <div *ngIf="params?.diagnoses">
            Diagnosis:
            <p *ngFor="let diagnosis of params?.diagnoses">
              <b> {{ diagnosis?.display }}</b>
            </p>
            <span *ngIf="params?.diagnoses?.length === 0"> - </span>
          </div>
        </div>
      </div>
      <div class="w-100">
        <ng-container *ngFor="let encounter of params?.encounterInformation">
          <div
            class="w-100"
            *ngFor="let formField of encounter?.form?.formFields"
          >
            <ng-container
              *ngIf="formField?.field?.concept?.setMembers?.length === 0"
            >
              <p>
                {{ formField?.field?.display }} :
                <b>
                  {{
                    !encounter?.keyedObs[formField?.field?.concept?.uuid]
                      ? "-"
                      : encounter?.keyedObs[formField?.field?.concept?.uuid] &&
                        encounter?.keyedObs[formField?.field?.concept?.uuid]
                          ?.latest?.value?.display
                      ? formField?.field?.concept?.datatype?.display ===
                          "Datetime" ||
                        fieldConcept?.datatype?.display === "Date"
                        ? (encounter?.keyedObs[formField?.field?.concept?.uuid]
                            ?.latest?.value?.display | date: "medium")
                        : encounter?.keyedObs[formField?.field?.concept?.uuid]
                            ?.latest?.value?.display
                      : formField?.field?.concept?.datatype?.display ===
                          "Datetime" ||
                        fieldConcept?.datatype?.display === "Date"
                      ? (encounter?.keyedObs[formField?.field?.concept?.uuid]
                          ?.latest?.value | date: "medium")
                      : encounter?.keyedObs[formField?.field?.concept?.uuid]
                          ?.latest?.value
                  }}
                </b>
              </p>
            </ng-container>

            <ng-container
              *ngIf="formField?.field?.concept?.setMembers?.length > 0"
            >
              {{ formField?.field?.display }} :
              <div
                class="w-100 ml-4 mr-4"
                *ngFor="
                  let fieldConcept of formField?.field?.concept?.setMembers
                "
              >
                <!-- {{ fieldConcept | json }} -->
                <p>
                  {{ fieldConcept?.display }}:
                  <b>
                    {{
                      !encounter?.keyedObs[fieldConcept?.uuid]
                        ? "-"
                        : encounter?.keyedObs[fieldConcept?.uuid] &&
                          encounter?.keyedObs[fieldConcept?.uuid]?.latest?.value
                            ?.display
                        ? fieldConcept?.datatype?.display === "Datetime" ||
                          fieldConcept?.datatype?.display === "Date"
                          ? (encounter?.keyedObs[fieldConcept?.uuid]?.latest
                              ?.value?.display | date: "medium")
                          : encounter?.keyedObs[fieldConcept?.uuid]?.latest
                              ?.value?.display
                        : fieldConcept?.datatype?.display === "Datetime" ||
                          fieldConcept?.datatype?.display === "Date"
                        ? (encounter?.keyedObs[fieldConcept?.uuid]?.latest
                            ?.value | date: "medium")
                        : encounter?.keyedObs[fieldConcept?.uuid]?.latest?.value
                    }}
                  </b>
                </p>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-md-4">
      <!-- {{ sample?.specimen?.specimenName }} -->
      <div class="h6">Test Orders Details</div>
      <div class="order-table">
        <table class="table mt-2">
          <tbody>
            <ng-container
              *ngFor="
                let order of params?.sampleDetails?.orders;
                let count = index
              "
            >
              <tr>
                <!-- <td>
                  {{ count + 1 }}
                </td> -->
                <td colspan="3">
                  {{ order?.order?.concept?.display }}
                </td>
                <!-- <td>
                  {{ allocation?.concept?.display }}
                </td> -->
              </tr>
              <ng-container *ngIf="order?.testAllocations">
                <tr
                  *ngFor="
                    let allocation of order?.testAllocations;
                    let countAllocation = index
                  "
                >
                  <td>
                    {{ countAllocation + 1 }}
                  </td>
                  <td>
                    {{ allocation?.concept?.display }}
                  </td>
                  <!-- <td>
                  {{ allocation?.concept?.display }}
                </td> -->
                  <td>
                    <app-shared-parameter-results
                      [order]="order"
                      [hideParameterLabel]="true"
                      [parameter]="allocation?.concept"
                      [count]="0"
                      [units]=""
                    ></app-shared-parameter-results>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div
    [ngClass]="{ 'col-md-4': hasResults }"
    [ngStyle]="{ display: hasResults ? 'block' : 'none' }"
  >
    {{ params?.sampleDetails?.orders | json }}
  </div> -->
  </ng-container>
</div>
