<div
  class="centered-container-patient-list"
  *ngIf="{ currentLocation: currentLocation$ | async } as params"
>
  <div
    class="mt-5 d-flex justify-content-center w-100"
    *ngIf="!params?.currentLocation"
  >
    <mat-spinner color="primary" diameter="80" strokeWidth="4"></mat-spinner>
  </div>
  <div class="w-100 text-center" *ngIf="params?.currentLocation">
    <app-enrolled-patients-list
      [currentLocation]="params?.currentLocation"
      (selectedPatient)="onSelectPatient($event)"
    ></app-enrolled-patients-list>
  </div>
</div>
