.dragable-items div {
  padding: 3px;
  border-top: solid 1px #eeee;
  border-bottom: solid 1px #eeee;
}

.dimension-header {
  border-bottom: solid 1px;
  background-color: #eee;
  padding: 5px;
  margin: -12px -12px 0 -12px;
}
