<div
  style="padding: 0 4px"
  *ngIf="{
    formPrivilegesConfigsLoadingState:
      formPrivilegesConfigsLoadingState$ | async,
    privilegesConfigs: privilegesConfigs$ | async,
    currentUser: currentUser$ | async,
    userPrivileges: userPrivileges$ | async,
    rolesLoadingState: rolesLoadingState$ | async,
    loadingVisit: loadingVisit$ | async,
    activeVisit: activeVisit$ | async,
    iCareGeneralConfigurations: iCareGeneralConfigurations$ | async
  } as params"
>
  <app-shared-patient-dashboard
    *ngIf="
      params?.currentUser &&
      !params?.rolesLoadingState &&
      params?.privilegesConfigs &&
      params?.userPrivileges &&
      params?.activeVisit &&
      !params?.loadingVisit &&
      params?.iCareGeneralConfigurations &&
      params?.iCareGeneralConfigurations !== ''
    "
    [formPrivilegesConfigs]="params?.privilegesConfigs"
    [currentUser]="params?.currentUser"
    [activeVisit]="params?.activeVisit"
    [userPrivileges]="params?.userPrivileges"
    [iCareGeneralConfigurations]="params?.iCareGeneralConfigurations"
  ></app-shared-patient-dashboard>
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="params?.iCareGeneralConfigurations === ''"
  >
    Missing General iCare Metadata Configurations, Contact IT
  </div>
  <mat-progress-bar
    mode="indeterminate"
    *ngIf="
      params?.formPrivilegesConfigsLoadingState ||
      !params?.userPrivileges ||
      params?.rolesLoadingState ||
      params?.loadingVisit
    "
  ></mat-progress-bar>
</div>
