.control-number-container {
  height: 100px;
}
.control-number {
  font-size: 50px;
  font-weight: bold;
}

.text-danger {
  color: red;
}

.small {
  font-size: 0.9rem; 
}

.font-weight-bold {
  font-weight: bold;
}
