<div
  class="system-settings-list-container"
  *ngIf="{ systemSettings: systemSettings$ | async } as params"
>
  <div class="loading-overlay" *ngIf="saving">
    <div class="text-center">
      <div>Saving data</div>
      <div class="mt-3 d-flex justify-content-center w-100">
        <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
      </div>
    </div>
  </div>

  <mat-progress-bar
    *ngIf="!params?.systemSettings && !saving && !error"
    mode="indeterminate"
  ></mat-progress-bar>
  <!-- {{ systemSettings | json }} -->

  <div class="mt-2 alert alert-danger" *ngIf="error" role="alert">
    {{ error?.message }}
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      (click)="onClose($event)"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="params?.systemSettings && !saving && !error">
    <div class="card" style="overflow: auto">
      <table class="mt-2 table table-striped">
        <thead>
          <tr>
            <th>SN</th>
            <th>Key</th>
            <th>Value</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let systemSetting of params?.systemSettings;
              let count = index
            "
          >
            <td>{{ count + 1 + (page - 1) * pageSize }}.</td>
            <td>
              {{ systemSetting?.property }}
            </td>
            <td>
              <div
                (click)="openModal($event, systemSetting)"
                class="system-setting-value"
              >
                {{ systemSetting?.value }}
              </div>
            </td>
            <td>
              {{ systemSetting?.description }}
            </td>
            <td>
              <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="openModal($event, systemSetting)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button
                  mat-menu-item
                  (click)="onDelete($event, systemSetting?.uuid)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="mt-2 d-flex justify-content-end"
      *ngIf="currentUser?.userPrivileges['ALL']"
    >
      <button
        mat-stroked-button
        (click)="getItems($event, 'prev')"
        [disabled]="page <= 1"
      >
        Prev
      </button>
      <button
        mat-stroked-button
        (click)="getItems($event, 'next')"
        class="ml-2"
        [disabled]="systemSettings?.length < pageSize"
      >
        Next
      </button>
    </div>

    <div class="w-100 d-flex justify-content-end mt-2">
      <button
        (click)="
          openModal(
            $event,
            params?.systemSettings && params?.systemSettings[0]
              ? params?.systemSettings[0]
              : null,
            true
          )
        "
        tabindex="0"
        type="button"
        title="Add new"
        class="add-new-general-button"
      >
        <div>
          <div
            style="
              transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
              top: 0px;
            "
          >
            <svg
              class=""
              viewBox="0 0 24 24"
              style="
                display: inline-block;
                color: rgb(255, 255, 255);
                fill: rgb(255, 255, 255);
                height: 56px;
                width: 24px;
                user-select: none;
                transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
                line-height: 56px;
              "
            >
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
            </svg>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
