<div
  class="single-registration"
  *ngIf="{
    labSampleLabel: labSampleLabel$ | async,
    testsUnderDepartment: testsUnderDepartment$ | async
  } as params"
>
  <div class="row" *ngIf="params?.labSampleLabel">
    <div class="col-12">
      <mat-radio-group class="registration-category">
        <mat-radio-button
          (change)="getSelection($event)"
          class="registration-category-btn"
          [value]="'Clinical'"
          [checked]="registrationCategory === 'Clinical'"
          color="primary"
        >
          Clinical
        </mat-radio-button>
        <mat-radio-button
          (change)="getSelection($event)"
          class="registration-category-btn ml-2"
          [value]="'Non-Clinical'"
          [checked]="registrationCategory === 'Non-Clinical'"
          color="primary"
        >
          Non-Clinical
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-12" *ngIf="savingData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div class="col-12" *ngIf="registrationCategory === 'Clinical'">
      <fieldset>
        <legend
          (click)="togglePatientDetailsFieldSet($event)"
          class="d-flex justify-content-center"
        >
          <span> Patient Details </span>
          <span>
            <mat-icon *ngIf="!patientFieldSetClosed"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="patientFieldSetClosed">keyboard_arrow_up</mat-icon>
          </span>
        </legend>
        <app-person-details
          *ngIf="!patientFieldSetClosed"
          [referFromFacilityVisitAttribute]="referFromFacilityVisitAttribute"
          (personDetails)="onGetPersonDetails($event)"
        ></app-person-details>
      </fieldset>
    </div>
    <div class="col-12">
      <mat-stepper #stepper>
        <mat-step errorMessage="Some fields not fed.">
          <ng-template matStepLabel>Specimen Details</ng-template>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">
              <div class="for-specimen-details">
                <fieldset>
                  <legend>Specimen Details</legend>
                  <app-sample-label
                    [label]="params?.labSampleLabel"
                    (sampleLabel)="onGetSampleLabel($event)"
                  ></app-sample-label>
                  <app-form
                    [fields]="specimenDetailsFields"
                    [isFormHorizontal]="true"
                    (formUpdate)="onFormUpdate($event)"
                  ></app-form>
                </fieldset>
              </div>
            </div>
          </div>
        </mat-step>

        <mat-step
          errorMessage="Some fields not fed."
          *ngIf="registrationCategory === 'Clinical'"
        >
          <ng-template matStepLabel>Clinical Data</ng-template>
          <div>
            <div class="clinical-data">
              <fieldset>
                <legend>Clinical Data</legend>
                <app-clinical-data
                  (clinicalDataValues)="onGetClinicalDataValues($event)"
                ></app-clinical-data>
              </fieldset>
            </div>
          </div>
        </mat-step>

        <mat-step
          errorMessage="Some fields not fed."
          *ngIf="registrationCategory === 'Clinical'"
        >
          <ng-template matStepLabel>Referring Doctor</ng-template>
          <div>
            <div class="referring-doctor-field">
              <fieldset>
                <legend>Referring Doctor</legend>
                <app-form
                  [isFormHorizontal]="true"
                  [fields]="referringDoctorFields"
                  (formUpdate)="onFormUpdate($event)"
                ></app-form>
              </fieldset>
            </div>
          </div>
        </mat-step>

        <mat-step errorMessage="Some fields not fed.">
          <ng-template matStepLabel>Tests</ng-template>
          <div>
            <app-multiple-tests-selection
              (testsData)="onFormUpdateForTest($event)"
            ></app-multiple-tests-selection>
          </div>
        </mat-step>
      </mat-stepper>
    </div>

    <div class="col-12" *ngIf="savingDataResponse?.error">
      <div *ngIf="savingDataResponse?.error?.error">
        <div
          class="alert alert-danger"
          *ngFor="
            let globalError of savingDataResponse?.error?.error?.globalErrors
          "
          role="alert"
        >
          {{ globalError?.message }}
        </div>
      </div>
      <div *ngIf="savingDataResponse?.fieldErrors?.activeAttributes">
        <div
          class="alert alert-danger"
          *ngFor="
            let activeAttribute of savingDataResponse?.fieldErrors
              ?.activeAttributes
          "
          role="alert"
        >
          {{ activeAttribute?.message }}
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-2 mb-2">
      <button mat-stroked-button color="primary" (click)="onSave($event)">
        Save
      </button>
    </div>
  </div>

  <mat-progress-bar
    *ngIf="!params?.labSampleLabel"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
