<div
  class="single-registration"
  *ngIf="{
    labSampleLabel: labSampleLabel$ | async,
    testsUnderSpecimen: testsUnderSpecimen$ | async,
    labLocations: labLocations$ | async
  } as params"
>
  <div class="row" *ngIf="isRegistrationReady">
    <div class="col-12">
      <mat-radio-group class="registration-category">
        <mat-radio-button
          *ngFor="let regCategoryItem of sampleRegistrationCategories"
          (change)="getSelection($event)"
          class="registration-category-btn ml-2"
          [value]="regCategoryItem"
          [checked]="registrationCategory?.refKey === regCategoryItem?.refKey"
          color="primary"
        >
          {{ regCategoryItem?.display }}
        </mat-radio-button>
        <!-- <mat-radio-button
          (change)="getSelection($event)"
          class="registration-category-btn ml-2"
          [value]="'NON_CLINICAL'"
          [checked]="registrationCategory === 'NON_CLINICAL'"
          color="primary"
        >
          Non-Clinical
        </mat-radio-button>
        <mat-radio-button
          (change)="getSelection($event)"
          class="registration-category-btn ml-2"
          [value]="'HEID'"
          [checked]="registrationCategory === 'HEID'"
          color="primary"
        >
          HEID
        </mat-radio-button> -->
      </mat-radio-group>
    </div>

    <div class="col-12" *ngIf="registrationCategory?.refKey !== 'non-clinical'">
      <fieldset>
        <legend
          (click)="togglePatientDetailsFieldSet($event)"
          class="d-flex justify-content-center"
        >
          <span> Patient Details </span>
          <span>
            <mat-icon *ngIf="patientFieldSetClosed"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="!patientFieldSetClosed"
              >keyboard_arrow_up</mat-icon
            >
          </span>
        </legend>
        <app-person-details
          *ngIf="!patientFieldSetClosed && allRegistrationFields.personFields"
          [referFromFacilityVisitAttribute]="referFromFacilityVisitAttribute"
          [allRegistrationFields]="allRegistrationFields"
          [maximumDate]="maximumDate"
          [personPhoneAttributeTypeUuid]="personPhoneAttributeTypeUuid"
          [personEmailAttributeTypeUuid]="personEmailAttributeTypeUuid"
          [labTestRequestProgramStageId]="labTestRequestProgramStageId"
          (personDetails)="onGetPersonDetails($event)"
          (fromExternalSystem)="onGetIsDataFromExternalSystem($event)"
          (selectedSystem)="onGetSelectedSystem($event)"
        ></app-person-details>
      </fieldset>
    </div>

    <ng-template
      *ngIf="registrationCategory?.refKey !== 'non-clinical'"
      matStepLabel
      >Clinical Data</ng-template
    >
    <div
      class="col-12"
      *ngIf="
        registrationCategory?.refKey !== 'non-clinical' && !fromExternalSystem
      "
    >
      <div class="clinical-data">
        <fieldset>
          <legend (click)="toggleFieldSet('clinicalData')" class="d-flex">
            <span> Clinical Data </span>
            <span>
              <mat-icon *ngIf="!clinicalData">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="clinicalData">keyboard_arrow_up</mat-icon>
            </span>
          </legend>
          <ng-container *ngIf="allRegistrationFields.clinicalFormFields">
            <app-clinical-data
              [clinicalFields]="allRegistrationFields.clinicalFormFields"
              (clinicalDataValues)="onGetClinicalDataValues($event)"
            ></app-clinical-data>
          </ng-container>
        </fieldset>
      </div>
    </div>
    <div class="col-12" *ngIf="renderGenericForms">
      <app-dynamic-openmrs-registration-dashboard
        [registrationCategory]="registrationCategory"
        (formDataUpdate)="onCustomFormUpdate($event)"
        (formId)="onGetFormId($event)"
      ></app-dynamic-openmrs-registration-dashboard>
    </div>
    <div class="col-12">
      <!-- <ng-template matStepLabel>Specimen Information</ng-template>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12">
          <div class="for-specimen-details">
            <fieldset>
              <legend
                (click)="toggleFieldSet('sampleInformation')"
                class="d-flex"
              >
                <span> Specimen Information </span>
                <span>
                  <mat-icon *ngIf="!sampleInformation"
                    >keyboard_arrow_down</mat-icon
                  >
                  <mat-icon *ngIf="sampleInformation"
                    >keyboard_arrow_up</mat-icon
                  >
                </span>
              </legend>
              <ng-container *ngIf="sampleInformation">
                <app-form
                  [fields]="specimenDetailsFields"
                  [isFormHorizontal]="true"
                  (formUpdate)="onFormUpdate($event, 'specimenDetails')"
                ></app-form>

                <div class="row">
                  <div class="col-4">
                    <app-form
                      [fields]="[sampleCollectedByField]"
                      (formUpdate)="onFormUpdate($event)"
                    ></app-form>
                  </div>
                  <ng-container *ngIf="sampleColectionDateField">
                    <div class="col-4">
                      <app-form
                        *ngIf="maxForCollectedOn"
                        [fields]="[sampleColectionDateField]"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                    </div>
                    <div class="col-2">
                      <input
                        (change)="getSelectedRCollectedOnTime($event)"
                        [ngClass]="{
                          'invalid-time-input': !collectedOnTimeValid
                        }"
                        class="time-input-field"
                        placeholder="Collected At"
                        type="time"
                      />
                      <p class="invalid-text" *ngIf="!collectedOnTimeValid">
                        invalid time
                      </p>
                    </div>
                  </ng-container>
                  <div class="col-2">
                    <app-form
                      [fields]="[transportCondition]"
                      (formUpdate)="onFormUpdate($event)"
                    ></app-form>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <app-form
                      [fields]="[broughtByField]"
                      (formUpdate)="onFormUpdate($event)"
                    ></app-form>
                  </div>
                  <ng-container *ngIf="broughtOnField">
                    <div class="col-4">
                      <app-form
                        *ngIf="maxForCollectedOn && minForReceivedOn"
                        [fields]="[broughtOnField]"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                    </div>
                    <div class="col-4">
                      <input
                        (change)="getSelectedBroughtOnTime($event)"
                        [ngClass]="{
                          'invalid-time-input': !broughtOnTimeValid
                        }"
                        class="time-input-field"
                        placeholder="Brought At"
                        type="time"
                      />
                      <p class="invalid-text" *ngIf="!broughtOnTimeValid">
                        invalid time
                      </p>
                    </div>
                  </ng-container>
                </div>
                <div class="row">
                  <div class="col-4">
                    <app-form
                      [fields]="[receivedByField]"
                      (formUpdate)="onFormUpdate($event)"
                    ></app-form>
                  </div>
                  <ng-container *ngIf="receivedOnField">
                    <div class="col-4">
                      <app-form
                        *ngIf="minForReceivedOn"
                        [fields]="[receivedOnField]"
                        (formUpdate)="onFormUpdate($event)"
                      ></app-form>
                    </div>
                    <div class="col-2">
                      <input
                        (change)="getSelectedReceivedOnTime($event)"
                        [ngClass]="{
                          'invalid-time-input': !receivedOnTimeValid
                        }"
                        class="time-input-field"
                        placeholder="Received At"
                        type="time"
                      />
                      <p class="invalid-text" *ngIf="!receivedOnTimeValid">
                        invalid time
                      </p>
                    </div>
                  </ng-container>
                  <div class="col-2">
                    <app-form
                      [fields]="[transportationTemperature]"
                      (formUpdate)="onFormUpdate($event)"
                    ></app-form>
                  </div>
                </div>
              </ng-container>
            </fieldset>
          </div>
        </div>
      </div> -->

      <!-- <ng-template
        *ngIf="
          registrationCategory?.refKey !== 'non-clinical' && !fromExternalSystem
        "
        matStepLabel
        >Referring Doctor</ng-template
      >
      <div
        *ngIf="
          registrationCategory?.refKey !== 'non-clinical' && !fromExternalSystem
        "
      >
        <div class="referring-doctor-field">
          <fieldset>
            <legend (click)="toggleFieldSet('referingDoctor')" class="d-flex">
              <span> Referring Doctor </span>
              <span>
                <mat-icon *ngIf="!referingDoctor">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="referingDoctor">keyboard_arrow_up</mat-icon>
              </span>
            </legend>
            <ng-container *ngIf="referingDoctor">
              <app-form
                [isFormHorizontal]="true"
                [fields]="referringDoctorFields"
                (formUpdate)="onFormUpdate($event)"
              ></app-form>
            </ng-container>
          </fieldset>
        </div>
      </div> -->
      <!-- {{ selectedSpecimenUuid }} -->
      <ng-template matStepLabel>Tests</ng-template>
      <div
        *ngIf="
          ((selectedSpecimenUuid || fromExternalSystem) &&
            params?.testsUnderSpecimen) ||
          (!selectedSpecimenUuid && !fromExternalSystem)
        "
      >
        <fieldset>
          <legend (click)="toggleFieldSet('tests')" class="d-flex">
            <span> Tests </span>
            <span>
              <mat-icon *ngIf="!tests">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="tests">keyboard_arrow_up</mat-icon>
            </span>
          </legend>
          <ng-container *ngIf="tests">
            <app-multiple-tests-selection
              [setMembersFromSpecimen]="params?.testsUnderSpecimen"
              [selectedMembers]="
                fromExternalSystem ? params?.testsUnderSpecimen : []
              "
              (testsData)="onFormUpdateForTest($event)"
            ></app-multiple-tests-selection>
          </ng-container>
        </fieldset>
      </div>
      <mat-progress-bar
        *ngIf="selectedSpecimenUuid && !params?.testsUnderSpecimen"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <div class="col-12" *ngIf="savingDataResponse?.error">
      <div *ngIf="savingDataResponse?.error?.error">
        <div
          class="alert alert-danger"
          *ngFor="
            let globalError of savingDataResponse?.error?.error?.globalErrors
          "
          role="alert"
        >
          {{ globalError?.message }}
        </div>
      </div>
      <div *ngIf="savingDataResponse?.fieldErrors?.activeAttributes">
        <div
          class="alert alert-danger"
          *ngFor="
            let activeAttribute of savingDataResponse?.fieldErrors
              ?.activeAttributes
          "
          role="alert"
        >
          {{ activeAttribute?.message }}
        </div>
      </div>
    </div>
    <div *ngIf="errorMessage" class="col-12 ml-2 mr-2">
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>
    <div class="loading-overlay" *ngIf="savingData">
      <div class="text-center">
        <div>Saving sample...</div>
        <div class="mt-3 d-flex justify-content-center w-100">
          <mat-spinner diameter="50" strokeWidth="2"></mat-spinner>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-2 mb-2">
      <button
        mat-stroked-button
        [disabled]="
          errorMessage ||
          !broughtOnTimeValid ||
          !receivedOnTimeValid ||
          !collectedOnTimeValid
        "
        class="btn btn-danger"
        (click)="onSave($event, true, params?.labLocations)"
      >
        Save to Reject
      </button>
      <button
        mat-flat-button
        color="primary"
        [disabled]="
          errorMessage ||
          !broughtOnTimeValid ||
          !receivedOnTimeValid ||
          !collectedOnTimeValid ||
          !isGeneralObsFormValid
        "
        class="ml-2"
        (click)="onSave($event, false, params?.labLocations)"
      >
        Save & Continue
      </button>
    </div>
  </div>

  <!-- <mat-progress-bar
    *ngIf="!params?.labSampleLabel"
    mode="indeterminate"
  ></mat-progress-bar> -->
</div>
