<div
  class="single-registration"
  *ngIf="{
    labSampleLabel: labSampleLabel$ | async,
    testsUnderDepartment: testsUnderDepartment$ | async
  } as params"
>
  <div class="row" *ngIf="params?.labSampleLabel">
    <div class="col-12" *ngIf="savingData">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
      <div class="h6 text-left">New sample</div>
      <div class="for-sample-label">
        <app-sample-label [label]="params?.labSampleLabel"></app-sample-label>
      </div>
      <div>
        <app-form
          [fields]="[departmentField]"
          (formUpdate)="onFormUpdate($event, 'department')"
        ></app-form>
        <div *ngIf="params?.testsUnderDepartment">
          <app-lb-option-selector
            [options]="params?.testsUnderDepartment"
            [id]="'tests'"
            [label]="'Test'"
          ></app-lb-option-selector>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sx-12 col-sm-12">
      <div class="h6">Who?</div>
      <app-person-details
        (personDetails)="onGetPersonDetails($event)"
      ></app-person-details>
    </div>
    <div class="col-12" *ngIf="savingDataResponse?.error">
      <div *ngIf="savingDataResponse?.error?.error">
        <div
          class="alert alert-danger"
          *ngFor="
            let globalError of savingDataResponse?.error?.error?.globalErrors
          "
          role="alert"
        >
          {{ globalError?.message }}
        </div>
      </div>
      <div *ngIf="savingDataResponse?.fieldErrors?.activeAttributes">
        <div
          class="alert alert-danger"
          *ngFor="
            let activeAttribute of savingDataResponse?.fieldErrors
              ?.activeAttributes
          "
          role="alert"
        >
          {{ activeAttribute?.message }}
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-end mt-2">
      <button mat-stroked-button color="primary" (click)="onSave($event)">
        Save
      </button>
    </div>
  </div>

  <mat-progress-bar
    *ngIf="!params?.labSampleLabel"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
