
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1rem !important;
  }

.invalid-time-input {
  border-color: red;
  color: red;
}

.invalid-text {
  color: red;
}