<div
  class="row w-100 mx-0 mt-2"
  *ngIf="{
    savingObservations: savingObservations$ | async
  } as params"
>
  <div
    class="w-100 d-flex justify-content-start"
    *ngIf="shouldUseOwnFormSelection"
  >
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>{{
        currentCustomFormName ? currentCustomFormName : "Select forms"
      }}</mat-label>
      <mat-select [(value)]="currentCustomFormName">
        <mat-option
          *ngFor="let clinicalForm of forms | searchItem: searchingText"
          (click)="onSetClinicalForm($event, clinicalForm)"
        >
          {{ clinicalForm?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm mt-1 current-clinical-form">
    <div class="h5 mb-3">{{ currentCustomForm?.name }}</div>
    <mat-progress-bar
      *ngIf="params?.savingObservations"
      mode="indeterminate"
    ></mat-progress-bar>
    <app-capture-form-data
      *ngIf="currentCustomForm"
      [form]="currentCustomForm"
      [visit]="visit"
      [patient]="patient"
      [observations]="clinicalObservations"
      (formDataUpdate)="onFormUpdate($event)"
    ></app-capture-form-data>

    <!-- buttons -->
    <div class="d-flex justify-content-end">
      <button
        mat-flat-button
        (click)="onConfirm($event)"
        color="primary"
        [disabled]="params?.savingObservations"
      >
        <mat-spinner
          color="primary"
          *ngIf="params?.savingObservations"
          [diameter]="20"
          style="display: inline-block !important; margin-right: 4px"
        ></mat-spinner>
        {{ params?.savingObservations ? "Saving ..." : "Save" }}
      </button>
    </div>
  </div>
</div>
