.file-type-input {
  border: solid thin rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.back-to-client-list button {
  background-color: #2a8fd1;
  color: #fff;
}

.back-to-client-list {
  padding: 10px 15px;
}
