<div
  class="history"
  *ngIf="{
    visits: visits$ | async,
    customForms: customForms$ | async,
    generalPrescriptionOrderType: generalPrescriptionOrderType$ | async,
    prescriptionArrangementFields: prescriptionArrangementFields$ | async,
    specificDrugConceptUuid: specificDrugConceptUuid$ | async,
    allForms: allForms$ | async,
    facilityDetails: facilityDetails$ | async,
    currentUser: currentUser$ | async,
    doctorsIPDRoundForm: doctorsIPDRoundForm$ | async,
    provider: provider$ | async
  } as params"
>
  <div *ngIf="!params?.visits?.length && loadingData || !params?.provider">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="params?.visits?.length && !loadingData && params?.provider">
    <mat-vertical-stepper [linear]="false" #stepper>
      <mat-step *ngFor="let visit of params?.visits">
        <ng-template matStepLabel>
          <strong> {{ visit?.visit?.visitType?.display }} : </strong>
          {{ visit?.visit?.startDatetime | date: "dd-MM-yyyy HH:mm:ss" }}
          <span *ngIf="visit?.visit?.stopDatetime">
            to {{ visit?.visit?.stopDatetime | date: "dd-MM-yyyy HH:mm:ss" }}
          </span>
          <span *ngIf="!visit?.visit?.stopDatetime">
            <i>(On going visit)</i>
          </span>
        </ng-template>

        <!-- <div *ngFor="let form of params?.customForms">

  <div>{{ form.name }}</div>

</div> -->

        <app-patient-history-data
          [visit]="visit"
          [forms]="params?.customForms"
          [FacilityDetails]="params?.facilityDetails"
          [currentUser]="params?.currentUser"
          [generalPrescriptionOrderType]="params?.generalPrescriptionOrderType"
          [prescriptionArrangementFields]="
            params?.prescriptionArrangementFields
          "
          [ipdRoundComments]="savedFormData | json"
          [specificDrugConceptUuid]="params?.specificDrugConceptUuid"
        ></app-patient-history-data>

        
        
        <app-capture-form-data
          *ngIf="params?.doctorsIPDRoundForm"
          [form]="params?.doctorsIPDRoundForm"
          [isLIS]="false"
          [formValidationRules]=""
          (formDataUpdate)="onDoctorsIPDRoundCommentsFormUpdate($event)"
        ></app-capture-form-data>


        <ng-container *ngIf="savedFormData">
          <p>Saved Form Data: {{ savedFormData | json }}</p>
        </ng-container>
        
        <div class="mt-2 w-100 d-flex justify-content-end">
          <!-- <button
            mat-flat-button
            color="primary"
            (click)="onSave($event, params?.doctorsIPDRoundForm,params?.provider, visit)"
          >
            Save
          </button> -->
        </div>

        
      </mat-step>
    </mat-vertical-stepper>
    <!-- <div class="history overflow-auto">
        <ng-container *ngFor="let visit of params?.visits">
          <app-patient-history-data 
            
            [visit]="visit" 
            [forms]="params?.customForms" 
            [generalPrescriptionOrderType]="params?.generalPrescriptionOrderType"
            [prescriptionArrangementFields]="params?.prescriptionArrangementFields"
            [specificDrugConceptUuid]="params?.specificDrugConceptUuid"
            ></app-patient-history-data>
        </ng-container>
      </div> -->
  </div>
  <div *ngIf="!params?.visits?.length && !loadingData">
    <h4 class="text-center">
      {{
        patient?.person
          ? "No visit data found for " + patient?.person?.display
          : "No visit data found for this patient"
      }}
    </h4>
  </div>
</div>
