<div class="history" *ngIf="{ 
    visits: visits$ | async, 
    customForms: customForms$ | async,
    generalPrescriptionOrderType: generalPrescriptionOrderType$ | async,
    prescriptionArrangementFields: prescriptionArrangementFields$ | async,
    specificDrugConceptUuid: specificDrugConceptUuid$ | async,
    allForms: allForms$ | async
  } as params">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step *ngFor="let visit of params?.visits">
      <ng-template matStepLabel>
          {{ visit?.visit?.startDatetime | date:"medium" }} 
      </ng-template>
      <div>
        <app-patient-history-data 
          [visit]="visit" 
          [forms]="params?.customForms" 
          [generalPrescriptionOrderType]="params?.generalPrescriptionOrderType"
          [prescriptionArrangementFields]="params?.prescriptionArrangementFields"
          [specificDrugConceptUuid]="params?.specificDrugConceptUuid"
          ></app-patient-history-data>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <!-- <div class="history overflow-auto">
      <ng-container *ngFor="let visit of params?.visits">
        <app-patient-history-data 
          
          [visit]="visit" 
          [forms]="params?.customForms" 
          [generalPrescriptionOrderType]="params?.generalPrescriptionOrderType"
          [prescriptionArrangementFields]="params?.prescriptionArrangementFields"
          [specificDrugConceptUuid]="params?.specificDrugConceptUuid"
          ></app-patient-history-data>
      </ng-container>
    </div> -->
</div>
