.top-history-banner {
  padding: 5px 15px;
}

.history {
  // border-left: 0.5px solid rgb(80, 138, 196);
  max-height: 65vh;
  overflow: auto;
}

::ng-deep .mat-step-icon-content { 
  display: none !important;
}
::ng-deep .mat-step-header { 
  background-color: transparent !important;
}

