.store-sidebar {
  position: fixed;
  width: 200px;
}

.store-active,
.store-active:hover {
  background-color: #42abed;
  color: #fff;
  font-weight: 600;
}

.store-content {
  margin-left: 215px;
}

.not-allowed-menu-item {
  pointer-events: none !important;
  cursor: not-allowed !important;
  background-color: #cccccc;
  color: #666666;
}
