<div
  *ngIf="{
    settingCurrentLocationStatus: settingCurrentLocationStatus$ | async,
    currentStore: currentStore$ | async,
    privileges: privileges$ | async
  } as params"
>
  <div
    *ngIf="!params?.settingCurrentLocationStatus"
    class="pt-2 store-container"
  >
    <!-- store sidebar -->
    <div class="store-sidebar">
      <mat-card class="p-0 border">
        <h3 class="pl-3 pt-3 pr-3">Store: {{ params?.currentStore?.name }}</h3>
        <mat-nav-list>
          <ng-container *ngFor="let storePage of storePages">
            <mat-list-item
              *ngIf="
                (storePage?.privilege &&
                  params?.privileges[storePage?.privilege]) ||
                !storePage?.privilege
              "
              [ngClass]="{
                'not-allowed-menu-item':
                  params?.currentStore?.isMainStore &&
                  (storePage?.id === 'requisition' ||
                    storePage?.id === 'received'),
                'store-active': storePage?.id === currentStorePage?.id
              }"
              (click)="onChangeRoute($event, storePage.url, storePage)"
              routerLinkActive="store-active"
            >
              <a matLine>{{ storePage?.name }}</a>
            </mat-list-item>
          </ng-container>
        </mat-nav-list>
      </mat-card>
    </div>
    <!-- end of store sidebar -->

    <!-- store-content -->
    <div class="store-content">
      <!-- stock summary -->
      <div class="row" *ngIf="!(stockMetrics$ | async)">
        <div class="col p-2">
          <mat-card class="border p-2">
            <p>Loading Metrics . . .</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </mat-card>
        </div>
      </div>

      <div class="row" *ngIf="stockMetrics$ | async as metrics">
        <div class="col mb-2">
          <mat-card class="border p-2">
            <mat-card-subtitle class="mb-1" style="font-size: 12px">
              Nearly Stocked Out
            </mat-card-subtitle>
            <mat-card-title style="font-size: 17px">{{
              metrics?.nearlyStockedOut
            }}</mat-card-title>
          </mat-card>
        </div>
        <div class="col mb-2">
          <mat-card
            class="border p-2"
            style="cursor: pointer"
            (click)="
              onChangeRoute(
                $event,
                'stockout-items/' + params?.currentStore?.uuid,
                currentStorePage
              )
            "
          >
            <mat-card-subtitle class="mb-1" style="font-size: 12px">
              Stocked Out
            </mat-card-subtitle>
            <mat-card-title style="font-size: 17px">{{
              metrics?.stockedOut
            }}</mat-card-title>
          </mat-card>
        </div>
        <div class="col mb-2">
          <mat-card class="border p-2">
            <mat-card-subtitle class="mb-1" style="font-size: 12px">
              Expired
            </mat-card-subtitle>
            <mat-card-title style="font-size: 17px">{{
              metrics?.expired
            }}</mat-card-title>
          </mat-card>
        </div>
        <div class="col mb-2">
          <mat-card class="border p-2">
            <mat-card-subtitle class="mb-1" style="font-size: 12px">
              Nearly Expired
            </mat-card-subtitle>
            <mat-card-title style="font-size: 17px">{{
              metrics?.nearlyExpired
            }}</mat-card-title>
          </mat-card>
        </div>
      </div>
      <!-- end of stock summary -->
      <router-outlet></router-outlet>
    </div>
    <!-- end of store content -->
  </div>

  <mat-progress-bar
    *ngIf="params?.settingCurrentLocationStatus"
    mode="indeterminate"
  ></mat-progress-bar>
</div>
