.clinical-form-list {
  border-radius: 5px;
}

.active-form {
  background-color: #1e4e40 !important;
  color: #ffffff !important;
}

.clinical-form {
  background-color: #eeeeee;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 14px;
}
