<div
  class="issuing-container"
  *ngIf="{
    issuingList: issuingList$ | async,
    loadingIssuingList: loadingIssuingList$ | async,
    currentStore: currentStore$ | async,
    stores: stores$ | async
  } as params"
>
  <mat-card>
    <div class="d-flex justify-content-between">
      <mat-form-field class="w-25">
        <input autocomplete="off" type="text" matInput placeholder="Search" />
      </mat-form-field>
      <mat-form-field class="w-25 float-right">
        <mat-label>Choose Store</mat-label>
        <mat-select (selectionChange)="getSelectedStore($event)" name="store">
          <mat-option [value]="'All'">All</mat-option>
          <mat-option *ngFor="let store of params?.stores" [value]="store">
            {{ store.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="height: 60vh; overflow: auto">
      <table class="table">
        <tr>
          <td>#</td>
          <td>Item</td>
          <td>Quantity Requested</td>
          <td>Quantity Issued</td>
          <td>Requesting Store</td>
          <td>Status</td>
          <!-- <td>Requester's Status</td> -->
          <td>Requested Date</td>
          <td>Actions</td>
        </tr>

        <tr *ngIf="params.loadingIssuingList || !params?.currentStore">
          <td colspan="8">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </td>
        </tr>

        <tr
          *ngIf="!params.loadingIssuingList && params.issuingList?.length === 0"
        >
          <td colspan="8">
            <div class="w-100 d-flex justify-content-center">No data</div>
          </td>
        </tr>

        <tr *ngFor="let issue of params?.issuingList; let issueIndex = index">
          <td>{{ issueIndex + 1 }}</td>
          <td>{{ issue?.name }}</td>
          <td>{{ issue?.quantityRequested }}</td>
          <td>{{ issue?.quantityIssued }}</td>
          <td>{{ issue?.requestingLocation?.name }}</td>
          <td>
            <span class="text-warning">{{ issue?.status }}</span>
          </td>
          <!-- <td>
            <div class="text-warning">Waiting</div>
          </td> -->
          <td>
            {{ issue?.requestDate | date: "medium" }}
          </td>
          <td>
            <button
              mat-flat-button
              color="primary"
              [disabled]="
                issue?.crudOperationStatus?.status === 'ISSUING' ||
                issue?.status === 'ISSUED' ||
                issue?.status === 'CANCELLED' ||
                !params?.currentStore
              "
              (click)="onIssue($event, issue, params?.currentStore)"
            >
              <mat-spinner
                color="primary"
                *ngIf="issue?.crudOperationStatus?.status === 'ISSUING'"
                [diameter]="20"
                style="display: inline-block !important; margin-right: 4px"
              ></mat-spinner>
              Issue
            </button>
            <button
              mat-flat-button
              class="ml-2"
              color="warn"
              [disabled]="
                issue?.crudOperationStatus?.status === 'REJECTING' ||
                issue?.status === 'ISSUED'
              "
              (click)="onReject($event, issue)"
            >
              <mat-spinner
                color="primary"
                *ngIf="
                  issue?.crudOperationStatus?.status === 'REJECTING' ||
                  issue?.status === 'REJECTED'
                "
                [diameter]="20"
                style="display: inline-block !important; margin-right: 4px"
              ></mat-spinner>
              Reject
            </button>
          </td>
          <td>
            <section>
              <mat-checkbox
                color="primary"
                [disabled]="issue?.status === 'ISSUED'"
                (change)="getSelection($event, issue)"
                [checked]="selectedIssues[issue?.id]"
              ></mat-checkbox>
            </section>
          </td>
        </tr>
      </table>
    </div>
    <div class="d-flex justify-content-end mt-2 mr-2">
      <button
        color="primary"
        mat-flat-button
        (click)="issueAllSelected($event, selectedIssues)"
        [disabled]="selectedIssuesCount == 0"
      >
        Issue selected items
      </button>
    </div>
  </mat-card>
</div>
