.show-more-toggle {
    cursor: pointer;
}

::ng-deep .mat-form-field-flex {
    border-radius: 4px 4px !important;
    border: solid 1px rgba(0, 0, 0, 0.18);
    padding: 0.5em 0.275em 0.275em 0.575em !important;
    background-color: #fff;
  }


  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


.mat-form-field-underline {
    display: none !important;
  }