<div style="z-index: 200">
  <mat-radio-group class="registration-category">
    <mat-radio-button
      (change)="getSelection($event)"
      class="person-details-btn"
      [value]="'new'"
      [checked]="personDetailsCategory === 'new'"
      color="primary"
    >
      New
    </mat-radio-button>
    <mat-radio-button
      (change)="getSelection($event)"
      class="person-details-btn ml-2"
      [value]="'existing'"
      [checked]="personDetailsCategory === 'existing'"
      color="primary"
    >
      Existing
    </mat-radio-button>
    <mat-radio-button
      (change)="getSelection($event)"
      class="person-details-btn ml-2"
      [value]="'other'"
      [checked]="personDetailsCategory === 'other'"
      color="primary"
    >
      Other systems
    </mat-radio-button>
  </mat-radio-group>
  <app-registered-patient-details
    *ngIf="personDetailsCategory === 'existing'"
    (personDetails)="onGetPersonDetails($event)"
  ></app-registered-patient-details>
  <app-clients-from-external-systems
    *ngIf="personDetailsCategory === 'other'"
    (selectedClientRequest)="getSelectedClientRequest($event)"
  ></app-clients-from-external-systems>

  <div class="row primary-identifier">
    <div class="col-10">
      <app-form
        [fields]="[primaryIdentifierField]"
        (formUpdate)="onUpdatePrimaryIdentifierForm($event)"
      ></app-form>
    </div>
    <div class="col-2">
      <a class="show-more-toggle" (click)="toggleIdentifiers($event)">{{
        showOtherIdentifiers ? "Less" : "More"
      }}</a>
    </div>
  </div>

  <app-form
    *ngIf="showOtherIdentifiers"
    [fields]="identifiersFields"
    (formUpdate)="onUpdateIdentifierForm($event)"
  ></app-form>
  <app-form
    [fields]="personFields"
    [isFormHorizontal]="true"
    (formUpdate)="onFormUpdate($event)"
  ></app-form>

  <div class="row">
    <div class="col-1">
      <div class="row">
        <div class="col-12">
          <app-form
            [fields]="personDOBField"
            [isFormHorizontal]="true"
            (formUpdate)="onFormUpdate($event)"
          ></app-form>
        </div>
        <!-- <div class="col-6">
          <span style="font-size: 0.8rem">
            {{
              personDetailsData["dob"]
                ? (personDetailsData["dob"] | date: "medium")
                : ""
            }}
          </span>
        </div> -->
      </div>
    </div>
    <div class="col-3">
      <mat-form-field
        class="w-100 no-padding"
        style="margin-left: 6px"
        appearance="fill"
      >
        <mat-label>Age</mat-label>
        <input
          matInput
          type="number"
          (change)="getAge($event)"
          required
          min="0"
          max="150"
          [value]="age"
          placeholder="Age"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <div class="col-8"></div>
  </div>

  <app-form
    [fields]="personFieldsGroupThree"
    [isFormHorizontal]="true"
    (formUpdate)="onFormUpdate($event)"
  ></app-form>
</div>
