<div
  class="w-100 p-3"
  *ngIf="{ personAttributeTypes: personAttributeTypes$ | async } as params"
>
  <div
    class="mt-5 d-flex justify-content-center w-100"
    *ngIf="!params?.personAttributeTypes"
  >
    <mat-spinner color="primary" diameter="80" strokeWidth="4"></mat-spinner>
  </div>
  <div class="w-100" *ngIf="params?.personAttributeTypes">
    <app-shared-next-of-kins-form-data
      [personAttributeTypes]="params?.personAttributeTypes"
      (nextOfKinsData)="onGetNextOfKinsData($event)"
    ></app-shared-next-of-kins-form-data>
  </div>
</div>
