<div class="patient-radiology-order-container">
  <div
    *ngIf="{
      currentUser: currentUser$ | async,
      currentLocation: currentLocation$ | async,
      allUserRoles: allUserRoles$ | async,
      userPrivileges: userPrivileges$ | async,
      orders: orders$ | async,
      activeVisitUuid: activeVisitUuid$ | async,
      currentPatient: currentPatient$ | async,
      currentBills: currentBills$ | async,
      activeVisit: activeVisit$ | async
    } as params"
  >
    <!-- <app-nursing-data
    *ngIf="
      params?.currentUser &&
      params?.privilegesConfigs &&
      params?.allUserRoles &&
      params?.allUserRoles?.length > 0 &&
      params?.userPrivileges &&
      params?.nursingConfigurations &&
      params?.nursingConfigurations['value'] !== ''
    "
    [formPrivilegesConfigs]="params?.privilegesConfigs"
    [currentUser]="params?.currentUser"
    [userPrivileges]="params?.userPrivileges"
    [nursingConfigurations]="params?.nursingConfigurations['value']"
  ></app-nursing-data> -->

    <div class="patient-profile-sticky" *ngIf="params?.currentPatient">
      <app-new-patient-profile
        [currentPatient]="params?.currentPatient"
      ></app-new-patient-profile>
    </div>
    <div class="patient-other-details-padding">
      <div class="w-100 d-flex justify-content-between mt-2">
        <div class="w-50 d-flex justify-content-left">
          <button
            mat-stroked-button
            [routerLink]="'/radiology'"
            matTooltip="Back to List"
          >
            <mat-icon>arrow_back</mat-icon>
            Back to Clients List
          </button>
          <button
            class="mat-stroked-button ml-2"
            [ngClass]="{ 'selected-btn': !showHistoryDetails }"
            [disabled]="!showHistoryDetails"
            (click)="onToggleHistory($event)"
          >
            Ordered list
          </button>
          <button
            class="mat-stroked-button ml-2"
            [ngClass]="{ 'selected-btn': showHistoryDetails }"
            [disabled]="showHistoryDetails"
            (click)="onToggleHistory($event)"
          >
            History
          </button>
        </div>
        <div class="w-50 d-flex justify-content-end"></div>
      </div>
      <div
        class="alert alert-warning"
        role="alert"
        *ngIf="
          params?.currentUser &&
          params?.userPrivileges &&
          params?.allUserRoles &&
          params?.orders &&
          params?.activeVisitUuid &&
          params?.orders?.length === 0
        "
      >
        No Radiology orders
      </div>
      <div class="w-100 mt-2 p-3" *ngIf="showHistoryDetails">
        <mat-accordion>
          <mat-expansion-panel class="mb-2 border p-0" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>Patient History </mat-panel-title>
            </mat-expansion-panel-header>
            <app-patient-history
              [patient]="params?.currentPatient?.patient"
              [location]="params?.currentLocation"
            ></app-patient-history>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div
        class="mt-2 p-3"
        *ngIf="
          params?.orders &&
          params?.orders?.length > 0 &&
          params?.userPrivileges &&
          params?.allUserRoles &&
          params?.activeVisitUuid &&
          params?.currentBills &&
          params?.activeVisit &&
          !showHistoryDetails
        "
      >
        <app-patient-radiology-orders-list
          [currentUser]="params?.currentUser"
          [allUserRoles]="params?.allUserRoles"
          [userPrivileges]="params?.userPrivileges"
          [orders]="params?.orders"
          [currentBills]="params?.currentBills"
          [patientId]="patientId"
          [activeVisitUuid]="params?.activeVisitUuid"
          [activeVisit]="params?.activeVisit"
        ></app-patient-radiology-orders-list>
      </div>

      <mat-progress-bar
        mode="indeterminate"
        *ngIf="
          !params?.allUserRoles ||
          (params?.allUserRoles && params?.allUserRoles?.length === 0) ||
          !params?.userPrivileges ||
          !params?.orders
        "
      ></mat-progress-bar>
    </div>
  </div>
</div>
