.expired-card {
    background-color: rgb(236, 74, 74);
    color: aliceblue;
  }
  .textstyle{
    color: aliceblue;
  }
  .outstock-card {
    background-color: rgb(236, 160, 74);
    color: aliceblue;
  }