.list,
.list-selected {
  border: solid 1px #e2e2e2;
  padding: 8px 8px;
}

.pe-filter {
  border: solid 1px #eee;
}

.item {
  border-bottom: solid 1px #eee;
  padding: 8px 4px;
  cursor: pointer;
}
