.row-alternated {
  background-color: #f2f2f2;
}

.filter-and-legend {
  padding: 20px 10px 5px 10px;
}

.reject-button {
  color: red;
}

.accept-button {
  background-color: #2a8fd1 !important;
  color: #fff !important;
}
