.add-button {
  border: 10px;
  bottom: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  vertical-align: bottom;
  background-color: rgb(33, 150, 243);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  height: 56px;
  width: 56px;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  color: #fff !important;
}

button,
button:hover {
  outline: none !important;
}
