.order__spinner {
  display: inline-block !important;
}


.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-warning {
  color: red;
  background-color: white;
  border-color: red;
}

.warning-icon {
  vertical-align: middle;
  margin-right: 5px;
  color: red; /* Make sure it matches your alert style */
}
