.client-has-results {
  background-color: #00ff5a1a;
}

.list-from-other-systems {
  z-index: 201;
  position: absolute;
  background-color: #fff;
  max-height: 40vh;
  overflow: auto;
}

.client-has-no-lab-request {
  color: rgba(255, 0, 0, 0.807);
}
