<ng-container
  class="p-2"
  *ngIf="{ uploadMessagesResponse: uploadMessagesResponse$ | async } as params"
>
  <mat-toolbar>
    <span>{{ data?.headerDetails }}</span>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="p-2">
      <app-message-constructor
        *ngIf="patientPhoneAttribute"
        [data]="data?.data"
        [patientPhoneAttribute]="patientPhoneAttribute"
        (constructedMessages)="onGetConstructedMessages($event)"
      ></app-message-constructor>
      <div
        class="alert alert-warning w-100 mt-2"
        role="alert"
        *ngIf="!patientPhoneAttribute"
      >
        Client has missing phone number
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="float-right p-2">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button
      mat-stroked-button
      class="ml-2"
      (click)="onSaveMessages($event, messages)"
    >
      Save
    </button>
  </mat-dialog-actions>
</ng-container>
