<ng-container class="p-2">
  <mat-toolbar>
    <span>{{ data?.headerDetails }}</span>
  </mat-toolbar>
  <mat-dialog-content>
    <div class="p-2">
      <app-message-constructor [data]="data?.data"></app-message-constructor>
      <!-- <mat-progress-bar
        *ngIf="!params?.durationUnitsConceptUuid"
        mode="indeterminate"
      ></mat-progress-bar> -->
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="float-right p-2">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</ng-container>
