
/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
.mat-tab-container {
  padding: 18px 0;
}

.results-btn {
  float: right;
}
