<div *ngIf="{ serverLogs: serverLogs$ | async } as params">
  <mat-progress-bar
    *ngIf="!params?.serverLogs"
    mode="indeterminate"
  ></mat-progress-bar>
  <div class="w-100" style="overflow: auto">
    <!-- {{ params?.serverLogs | json }} -->
    <table class="table table-bordered">
      <tbody>
        <ng-container *ngFor="let serverLog of params?.serverLogs">
          <tr
            [ngClass]="{
              'alert alert-danger': serverLog[0] === 'ERROR',
              'alert alert-warning': serverLog[0] === 'WARN',
              'alert alert-info': serverLog[0] === 'INFO'
            }"
          >
            <td>{{ serverLog[0] }}</td>
            <td>{{ serverLog[1] }}</td>
            <td>{{ serverLog[2] }}</td>
            <td>{{ serverLog[3] }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
