.form {
  padding: 15px 0px;
}

.active-form {
  background-color: #eeeeee;
}

.lab-test-confirm-btn {
  float: right;
}

.ordered-items-container {
  border-radius: 3px;
}

.ordered-items {
  margin-bottom: 20px;
}

.list-of-items-to-order {
  padding: 15px;;
  height: 550px;
  overflow-y: auto;
}

.active-form {
  background-color: #1e4e40 !important;
  color: #ffffff !important;
}

.orders-form-list {
  background-color: #eeeeee;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 14px;
}